{% load static %}

{% block blog_card_container %}
<link
      href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Foldit:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
<style>

    

        .card_container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
            /* flex-wrap: wrap; */
            margin-top: 20px;
            margin-bottom: 50px;
            vertical-align: baseline;
            font-family: inherit;
            font-size: 100%;
            font-style: inherit;
            font-weight: inherit;
        }
        .card {
            width: 356.625px;
            /*height: 497.719px;*/
            background-color: #ffffff;
            box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
            margin: 20px;
            border-radius: 6px;
            overflow: hidden;
            position: relative;
            transition: box-shadow 0.3s ease-in-out;
        }

        .card:hover {
            box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
        }

        .card .image{
            background-color: #002855;
            width: 100%;
            height: 250px;
            overflow: hidden;
        }

        .card img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
        }

        .card:hover img {
            transform: scale(1.1);
        }

        .card_content {
            padding: 20px;
        }

        .card_content h5 {
            font-size: 24px;
            margin-bottom: 8px;
        }

        .card_content span {
            font-size: 14px;
            color: #302f2f;
            line-height: 1.5;
        }

        .card_content i {
            margin-right: 5px;
        }

        .card_content a {
            color: #fecd13;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
        }

        .card_content a:hover {
            color: #002855;
        }
        .search_blog{
            max-width: 1150px;
            margin: 60px auto 10px auto;
            border: 2px solid #fecd13;
            border-radius: 6px;
            padding: 5px;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
            display: grid;
            grid-template-columns: 6fr 1fr;
          }
          .search_blog input{
        width: 100%;
        height: 60px;
        padding: 0 10px;
        font-size: 18px;
        background-color: #fff;
        color: #000;
        transition: all 0.3s;
        border-radius: 4px;
      }
      .search_blog input:hover{
        background-color: #75787b25;
      }
      .search_blog select{
        border-radius: 5px;
        border: 1px solid #75787b80;
        padding: 10px;
        transition: all 0.3s;
        font-size: 15px;
        color: #000;
        font-weight: 400;
        text-transform: capitalize;
      }
      .search_blog select option{
        font-size: 15px;
        color: #000;
        font-weight: 400;
      }
      @media screen and (max-width: 1200px) {
        .search_blog {
            width: 90%;
            max-width: 960px;
        }
        .card_container{
            grid-template-columns: 1fr 1fr;
        }
    }
    
    @media screen and (max-width: 770px) {
        .card_container{
            grid-template-columns: 1fr;
        }
    }
    @media screen and (max-width: 370px) {
        .card{
            width: 300px;
        }
    }
    .dropdown {
        width: 100%;
        min-width: 145px;
        height: fit-content;
        box-sizing: border-box;
        position: relative;
      }
      .dropdown .input-box {
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        outline: 0.3mm solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 10px 15px;
        font-family: poppins;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
      }
      .dropdown .input-box::before {
        content: "expand_more";
        font-family: "Material Icons";
        position: absolute;
        font-size: 18px;
        top: 50%;
        right: 15px;
        transform: translate(0, -50%);
        width: fit-content;
        height: fit-content;
      }
      .dropdown .input-box.open::before {
        content: "expand_less";
      }
      .dropdown .input-box:empty::after {
        content: "Date Latest";
        color: rgba(0, 0, 0, 0.5);
      }
      .dropdown .list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background: white;
        margin-top: 10px;
        border-radius: 2mm;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        max-height: 0;
        transition: 0.25s ease-out;
        z-index: 100;
      }
      .dropdown .list input {
        display: none;
      }
      .dropdown .list label {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        font-family: poppins;
        font-size: 14px;
        padding: 10px 15px;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
      }
      .dropdown .list label .material-icons-outlined,
      .dropdown .input-box .material-icons-outlined {
        margin-right: 5px;
        font-size: 22px;
      }
      .dropdown .list label:hover {
        background: rgba(0, 0, 0, 0.08);
      }
      .dropdown input:checked + label {
        color: #00B5E2;
        background: rgb(238, 245, 252);
      }
      .dropdown input:checked + label::before {
        content: "done";
        font-family: "Material Icons";
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translate(0, -50%);
        font-size: 18px;
      }
      .dropdown .open {
        outline: 0.7mm solid rgb(20, 117, 213);
      }
      .dropdown .title {
        font-family: poppins;
        font-size: small;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .dropdown .search-box {
        width: 100%;
        box-sizing: border-box;
        padding: 10px 8px;
      }
      .dropdown #search {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 8px;
        border-radius: 1mm;
        border: none;
        outline: 0.3mm solid rgba(0, 0, 0, 0.15);
        font-family: poppins;
      }
      .dropdown #search:focus {
        outline: 0.5mm solid rgba(0, 0, 0, 0.35);
      }
      .category-option {
          display: none;
      }
      #default1 , #default2 , #default3{
        display: block;
      }
      #back , #back_end{
        display: none;
      }

</style>
<!-- Search Section -->
<div class="search_blog">
    
    <input
    type="text"
    id="blogFilter"
    onkeyup="blogFilterFunction()"
    placeholder="Search Blogs.."
    title="Type in a name"
    />
    <div class="dropdown">
        <div class="input-box"></div>
        <div class="list main">
          <input type="radio" name="drop1" id="id11" class="radio" checked/>
          <label for="id11" id="default1">
              <span class="name">Date Latest</span>
          </label>

          <input type="radio" name="drop1" id="id12" class="radio" />
          <label for="id12" id="default2">
            <span class="name">Date Oldest</span>
          </label>

          
          <input type="radio" name="drop1" id="id13" class="radio" />
          <label for="id13" id="default3">
            <span class="name">Category</span>
          </label>

          <input type="radio" name="drop1" id="id14" class="radio category-option hidden" />
          <label for="id14" id="back">
            <span class="name">Back</span>
          </label>

          <input type="radio" name="drop1" id="{{i.blog_category}}" class="radio category-option hidden"/>
          <label for="{{i.blog_category}}" id="back_end">
              <span class="name">temp</span>
          </label>

        </div>
    </div>
</div>

<!-- Cards starts here -->
<section style="display: flex; justify-content: center;">
    <div>
        <div class="card_container">
            {% for i in blogs %}
            <div class="card" data-category="{{ i.category }}">
                <div class="image">
                    <a href="{% url 'main_website:blog_description' i.pk %}"><img src="media_files/{{i.blog_banner_picture}}" alt="blog_thumbnail"></a>
                </div>
                <div class="card_content">
                    <a href="{% url 'main_website:blog_description' i.pk %}"><h5>{{i.title}}</h5></a>
                    <div class="card_time_writer"><i class="fa-regular fa-clock"></i>
                    <span>{{i.date}}</span>
                    <i class="fa-solid fa-align-left"></i><span> {{i.writer_name}}</span></div>
                    <i class="fa-regular fa-folder" style="font-size: 18px;"></i><span>Category- {{i.category}}</span>
                    <span style="display: -webkit-box;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 5;">{{i.short_description | safe}}</span>
                    <a href="{% url 'main_website:blog_description' i.pk %}">Read More</a>
        
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>



<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Hide the category options
    var categoryOptions = document.querySelectorAll('.category-option');
    categoryOptions.forEach(function(option) {
        option.style.display = 'none';
    });
});

document.addEventListener("DOMContentLoaded", function() {
    var categoryOptions = document.querySelectorAll('.category-option');
    var categoryRadio = document.getElementById('id13');

    // Function to show only category options and hide others
    function showOnlyCategoryOptions() {
        categoryOptions.forEach(function(option) {
            if (option.dataset.category === 'category') {
                option.classList.remove('hidden');
            } else {
                option.classList.add('hidden');
            }
        });
    }

    // Hide category options initially
    categoryOptions.forEach(function(option) {
        option.classList.add('hidden');
    });

    // Event listener for the "Category" radio button
    categoryRadio.addEventListener('change', function() {
        showOnlyCategoryOptions();
    });
});



    function blogFilterFunction() {
        var input, filter, cardContainer, cards, card, title, writer;
        input = document.getElementById("blogFilter");
        filter = input.value.toUpperCase();
        cardContainer = document.querySelector(".card_container");
        cards = cardContainer.getElementsByClassName("card");

        for (var i = 0; i < cards.length; i++) {
            card = cards[i];
            title = card.getElementsByTagName("h5")[0].innerText;

            if (title.toUpperCase().indexOf(filter) > -1) {
                card.style.display = "";
            } else {
                card.style.display = "none";
            }
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
    var input = document.querySelector(".dropdown .input-box");
    input.onclick = function () {
      this.classList.toggle("open");
      let list = this.nextElementSibling;
      if (list.style.maxHeight) {
        list.style.maxHeight = null;
        list.style.boxShadow = null;
      } else {
        list.style.maxHeight = list.scrollHeight + "px";
        list.style.boxShadow =
          "0 1px 2px 0 rgba(0, 0, 0, 0.15),0 1px 3px 1px rgba(0, 0, 0, 0.1)";
      }
    };

    var rad = document.querySelectorAll(".dropdown .radio");
    rad.forEach((item) => {
      item.addEventListener("change", () => {
        input.innerHTML = item.nextElementSibling.innerHTML;
        input.click();

        // Perform sorting based on selected option
        var filter = item.nextElementSibling.innerText.toLowerCase().trim();
        sortBlogs(filter);
      });
    });

    function sortBlogs(filter) {
        var cardContainer = document.querySelector(".card_container");
        var cards = Array.from(cardContainer.getElementsByClassName("card"));

        switch(filter) {
            case 'date latest':
                cards.sort(function(a, b) {
                    return new Date(b.querySelector(".card_time_writer span").innerText) - new Date(a.querySelector(".card_time_writer span").innerText);
                });
                break;
            case 'date oldest':
                cards.sort(function(a, b) {
                    return new Date(a.querySelector(".card_time_writer span").innerText) - new Date(b.querySelector(".card_time_writer span").innerText);
                });
                break;
            // case 'name':
            //     cards.sort(function(a, b) {
            //         var titleA = a.querySelector("h5").innerText.toUpperCase();
            //         var titleB = b.querySelector("h5").innerText.toUpperCase();
            //         if (titleA < titleB) {
            //             return -1;
            //         }
            //         if (titleA > titleB) {
            //             return 1;
            //         }
            //         return 0;
            //     });
            //     break;
            // case 'category':
            //     cards.sort(function(a, b) {
            //         var categoryA = a.getAttribute('data-category').toUpperCase();
            //         var categoryB = b.getAttribute('data-category').toUpperCase();
            //         if (categoryA < categoryB) {
            //             return -1;
            //         }
            //         if (categoryA > categoryB) {
            //             return 1;
            //         }
            //         return 0;
            //     });
            //     break;
        }

        // Reorder cards in the container
        cardContainer.innerHTML = ""; // Clear the container
        cards.forEach(function(card) {
            cardContainer.appendChild(card);
        });
    }
});

</script>
<script>
    var input = document.querySelector(".dropdown .input-box");
    input.onclick = function () {
      this.classList.toggle("open");
      let list = this.nextElementSibling;
      if (list.style.maxHeight) {
        list.style.maxHeight = null;
        list.style.boxShadow = null;
      } else {
        list.style.maxHeight = list.scrollHeight + "px";
        list.style.boxShadow =
          "0 1px 2px 0 rgba(0, 0, 0, 0.15),0 1px 3px 1px rgba(0, 0, 0, 0.1)";
      }
    };

    var rad = document.querySelectorAll(".dropdown .radio");
    rad.forEach((item) => {
      item.addEventListener("change", () => {
        input.innerHTML = item.nextElementSibling.innerHTML;
        input.click();
      });
    });

    var label = document.querySelectorAll(".dropdown label");
    function search(searchin) {
      let searchVal = searchin.value;
      searchVal = searchVal.toUpperCase();
      label.forEach((item) => {
        let checkVal = item.querySelector(".dropdown .name").innerHTML;
        checkVal = checkVal.toUpperCase();
        if (checkVal.indexOf(searchVal) == -1) {
          item.style.display = "none";
        } else {
          item.style.display = "flex";
        }
        let list = input.nextElementSibling;
        list.style.maxHeight = list.scrollHeight + "px";
      });
    }
  </script>
  <script>
    let category = document.getElementById("default3");
    let dateLatest = document.getElementById("default1");
    let dateOldest = document.getElementById("default2");
    let back = document.getElementById("back");
    let backEnd = document.getElementById("back_end");

    category.onclick = function (){
      dateLatest.style.display = 'none';
      dateOldest.style.display = 'none';
      category.style.display = 'none';
      back.style.display = 'block';
      backEnd.style.display = 'block';
    }

    back.onclick = function (){
      back.style.display = 'none';
      backEnd.style.display = 'none';
      dateLatest.style.display = 'block';
      dateOldest.style.display = 'block';
      category.style.display = 'block';
    }
  </script>

{% endblock blog_card_container %}