<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Panels - IEEE NSU SB</title>
    <link rel="icon" href="{% static 'upload/logo.gif' %}"/>

    <!--Common CSS-->
    {% block common_css %}
        {% include "common_css_includes.html" %}
    {% endblock common_css %}

    
    <!--Extra CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>



    <link href="https://fonts.googleapis.com/css?family=Raleway:300|Lato:regular|Crete+Round:regular" rel="stylesheet"
        property="stylesheet" type="text/css" media="all">

    <style>
        /* hover effects */
        .card.testimonial-card {
            transition: transform 2s ease;
        }

        .card.testimonial-card:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 20px rgba(5, 2, 17, 1)22;

            transition: background-color 1s ease;
        }
        .card.testimonial-card .icon-gray {
            color: #000000; /* Change to your desired icon hover color */
        }

        .card.testimonial-card:hover .icon-gray {
            color: #333; /* Change to your desired icon hover color */
        }
        h3{
            color:#00629B;
        }
    </style>

</head>

<body data-rsssl=1 class="home page-template-default page page-id-5368 _masterslider _msp_version_3.2.7">
    <div class="body-wrapper  float-menu">
        
        <!--Navbar-->
        {% block header %}
            {% include 'header.html' %}
        {% endblock header %}
        
        <!--Wave design-->
        {% block wave_design %}
            {% include 'wave.html' %}
        {% endblock %}

    <section>
        <div class="container mt-5">
            
            <!--Link Tabs-->
            {% block panel_tabs %}
                {% include "Members/panel_members_link_tabs.html" %}
            {% endblock panel_tabs %}


            <!-- Branch councelor Starts -->
            {% block panel_member_branch_counselor %}
                {% include "Members/panel_members_branch_counselor_section.html" %}
            {% endblock panel_member_branch_counselor %}
            <!-- Branch councelor Ends -->


            <!--Chapter Advisors starts-->
            {% block sc_ag_faculty_advisors %}
                {% include "Members/panel_members_sc_ag_advisors_section.html" %}
            {% endblock sc_ag_faculty_advisors %}
            <!--Chapter Advisors ends-->
          
            <!--Mentor starts-->
            {% block panel_members_mentors %}
                {% include "Members/panel_member_mentors_section.html" %}
            {% endblock panel_members_mentors %}
            <!--Mentor ends-->

            <!--Branch EB starts-->
            {% block panel_member_branch_eb %}
                {% include "Members/panel_member_branch_eb_section.html" %}
            {% endblock panel_member_branch_eb %}
            <!--Branch EB Ends-->

            <!--Chapter Chairs starts-->
            {% block panel_member_sc_ag_chair %}
                {% include "Members/panel_members_sc_ag_chair_section.html" %}
            {% endblock panel_member_sc_ag_chair %}
            <!--Chapter Chairs ends-->

          </div>
    </section>

        
        <!-- content wrapper -->
        <footer class="footer-wrapper">
            <div>
                <div>
                    <section>
                        <div>
                            <div>
                                <div>
                                    <section class="wrap-img">
                                        <div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <img width="200" height="84"
                                                            src="https://ieeensusb.org/wp-content/uploads/2021/03/ieee-mb-blue.png"
                                                            class="attachment-large size-large wp-image-3430" alt=""
                                                            loading="lazy">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <img width="200" height="84"
                                                            src="https://ieeensusb.org/wp-content/uploads/2021/03/INSB.png"
                                                            class="attachment-large size-large wp-image-5155"
                                                            alt="INSB Logo" loading="lazy">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="footer-container container">
                                        <div class="wrap">
                                            <div>
                                                <div>
                                                    <div>
                                                        <div>
                                                            <ul>
                                                                <li>
                                                                    <a href="https://www.ieee.org/" target="_blank">
                                                                        <span>
                                                                            <i class="icon icon-home2"></i> </span>
                                                                        <span>Ieee.org</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="https://ieeexplore.ieee.org/"
                                                                        target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="hm hm-globe3"></i> </span>
                                                                        <span class="elementor-icon-list-text">IEEE
                                                                            Explore</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="https://standards.ieee.org/"
                                                                        target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="hm hm-globe3"></i> </span>
                                                                        <span class="elementor-icon-list-text">IEEE
                                                                            Standards</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="https://spectrum.ieee.org/"
                                                                        target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="hm hm-globe3"></i> </span>
                                                                        <span class="elementor-icon-list-text">IEEE
                                                                            Specturm</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="https://ieee-collabratec.ieee.org/"
                                                                        target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="hm hm-globe3"></i> </span>
                                                                        <span class="elementor-icon-list-text">IEEE
                                                                            Collaboratec</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="https://www.ieee.org/sitemap.html">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="hm hm-globe3"></i> </span>
                                                                        <span class="elementor-icon-list-text">More
                                                                            sites </span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <div>
                                                            <ul>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span class="elementor-icon-list-text">Ask a
                                                                            Question</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span class="elementor-icon-list-text">About
                                                                            INSB</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span class="elementor-icon-list-text">About
                                                                            INSB IAS</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span class="elementor-icon-list-text">About
                                                                            INSB PES</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span class="elementor-icon-list-text">About
                                                                            INSB RAS</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span class="elementor-icon-list-text">About
                                                                            INSB WIE</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <div>
                                                            <ul>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span
                                                                            class="elementor-icon-list-text">News</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="all-events.html" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span class="elementor-icon-list-text">Upcoming
                                                                            Events</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span
                                                                            class="elementor-icon-list-text">ToolKit</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span
                                                                            class="elementor-icon-list-text">Gallery</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span
                                                                            class="elementor-icon-list-text">Magazines</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span class="elementor-icon-list-text">Research
                                                                            Papers</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <div>
                                                            <ul>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span class="elementor-icon-list-text">Join
                                                                            INSB</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span class="elementor-icon-list-text">Write a
                                                                            Blog</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span
                                                                            class="elementor-icon-list-text">Blogs</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span
                                                                            class="elementor-icon-list-text">Achivements</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span class="elementor-icon-list-text">Current
                                                                            Executive Body</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i aria-hidden="true"
                                                                                class="fas fa-external-link-alt"></i>
                                                                        </span>
                                                                        <span class="elementor-icon-list-text">Exemplary
                                                                            Members</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <div>
                                                            <h2>
                                                                Follow Us:
                                                            </h2>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div>
                                                            <div style="padding-left: 10%;padding-bottom: 10%;">
                                                                <span>
                                                                    <a href="https://www.facebook.com/ieeensusb/"
                                                                        target="_blank">
                                                                        <i class="gdlr-icon fa fa-facebook"
                                                                            style="vertical-align: middle;  font-size: 20px; "></i>
                                                                        <!-- <span>Facebook</span> -->
                                                                    </a>
                                                                </span>
                                                                <span>
                                                                    <a href="https://www.linkedin.com/company/ieeensusb"
                                                                        target="_blank">
                                                                        <i class="gdlr-icon fa fa-linkedin"
                                                                            style="vertical-align: middle;  font-size: 20px; "></i>
                                                                        <!-- <span
                                                                            class="elementor-screen-only">Linkedin</span> -->
                                                                    </a>
                                                                </span>
                                                                <span>
                                                                    <a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-animation-grow elementor-repeater-item-8c259b8"
                                                                        href="https://instagram.com/ieeensusb?igshid=1g0f6asti4d02"
                                                                        target="_blank">
                                                                        <i class="gdlr-icon fa fa-instagram"
                                                                            style="vertical-align: middle;  font-size: 20px; "></i>
                                                                        <!-- <span
                                                                            class="elementor-screen-only">Instagram</span> -->
                                                                    </a>
                                                                </span>
                                                                <span>
                                                                    <a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-animation-grow elementor-repeater-item-c01fbf2"
                                                                        href="https://www.twitter.com/ieeensusb"
                                                                        target="_blank">
                                                                        <i class="gdlr-icon fa fa-twitter"
                                                                            style="vertical-align: middle;  font-size: 20px; "></i>
                                                                        <!-- <span
                                                                            class="elementor-screen-only">Twitter</span> -->
                                                                    </a>
                                                                </span>
                                                                <span>
                                                                    <a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-animation-grow elementor-repeater-item-a3eee86"
                                                                        href="https://youtube.com/channel/UCR--MNc_lCe9lvgdnSWm6kA"
                                                                        target="_blank">
                                                                        <i class="gdlr-icon fa fa-youtube"
                                                                            style="vertical-align: middle;  font-size: 20px; "></i>
                                                                        <!-- <span
                                                                            class="elementor-screen-only">Youtube</span> -->
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div>
                                                            <ul style="list-style: none;">
                                                                <li>
                                                                    <a href="mailto:info@ieeensusb.org" target="_blank">

                                                                        <span class="elementor-icon-list-icon">
                                                                            <i class="gdlr-icon fa fa-envelope"
                                                                                style="vertical-align: middle;  font-size: 15px; "></i>
                                                                        </span>
                                                                        <span
                                                                            class="elementor-icon-list-text">info@ieeensusb.org</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="mailto:contact@ieeensusb.org"
                                                                        target="_blank">

                                                                        <span>
                                                                            <i class="gdlr-icon fa fa-envelope"
                                                                                style="vertical-align: middle;  font-size: 15px; "></i>
                                                                        </span>
                                                                        <span>contact@ieeensusb.org</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" target="_blank">

                                                                        <span>
                                                                            <i aria-hidden="true"
                                                                                class="hm hm-refresh-time"></i> </span>
                                                                        <span class="elementor-icon-list-text">Last
                                                                            Updated: 31 march 2021</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="copyright-wrapper">
                        <div>
                            <div>
                                <div>
                                    <section>
                                        <div class="wrap-footer">
                                            <div>
                                                <div>
                                                    <div>
                                                        <div>
                                                            <ul class="wrap-footer2">
                                                                <li>
                                                                    <a href="index.html">

                                                                        <span
                                                                            class="elementor-icon-list-text">Home</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">

                                                                        <span
                                                                            class="elementor-icon-list-text">Contact</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">

                                                                        <span
                                                                            class="elementor-icon-list-text">FAQ</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">

                                                                        <span
                                                                            class="elementor-icon-list-text">Sitemap</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">

                                                                        <span
                                                                            class="elementor-icon-list-text">Feedback</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <div>
                                                            © Copyright 2021 INSB – All rights reserved. Developed
                                                            by<strong> <a href="#" style="color:#FFC936;">INSB Web
                                                                    Development
                                                                    Team</a></strong> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </footer>

    </div>
    <!-- body-wrapper -->
    {% block common_js %}
        {% include "common_js_includes.html" %}
    {% endblock %}

</body>

</html>