<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Recruitment</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <p>Welcome to the recruitment page of INSB</p>
        <form method="POST" action=''>
            {% csrf_token %}
            <div class="d-grid pt-3">
                <input type="text" placeholder="New Recruitment Session" class="Form-cont my-1 p-1" Required name='recruitment_session'>
            </div>
            <button type="submit" class="log-btn" onclick=''>
                Create
           </button>
        </form>
        <form method="POST" action="recruitee">
            {% csrf_token %}
            {% for session in sessions %}
            <input type="submit" onclick="recruitment:recruitee" name="get_recruited_members" value={{ session.id }}>{{ session.id }} {{ session.session }}</input>
            {% endfor %}
        </form>
        
        <script src="" async defer></script>
    </body>
</html>