<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruitees</title>
</head>
<body>
    <p>WELCOME TO THE RECRUITMENT PROCESS OF {{ session.session }}</p>
    <p>Recruitees list</p>
    <a href="{% url "recruitment:recruit_member" session.session %}">Register New Member</a>
    
    {% comment %} This block is responsible for loading all the members recruited on that session and passes their id to the url as well as their data to the recruitee_details function {% endcomment %}
    {% for member,count in members.items %}
        {% for count in count %}
            <a href="{% url "recruitment:recruitee_details" count.nsu_id %}">{{ count.nsu_id }}</a>
        {% endfor %}    
    {% endfor %}
</body>
</html>