{% load static %} {% block content_form_content %}
<div class="container">
  <div class="box">
        <div class="box-header">
            <h1 style="text-align: center; font-size: 30px;
            font-weight: bold;
            margin-top: 23px;">Add Details</h1>
        </div>

        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="box-body">

            <div class="form-group">
                <label>Content description <span style="color:red">*<span></label> 
                <textarea class="form-control" type="text" name="content_description_details"></textarea>
                <p id="content_descriptionCharacterCount" style="color: red;"></p>
            </div>

            <div class="form-group">
            <label>Folder Drive Link For Documents</label>
            <input
                placeholder="Drive link"
                class="form-control"
                type="url"
                autocomplete="off"
                id="field1"
                value="{{drive_link_of_documents.documents_link}}"
                name="drive_link_of_documents"
            />
            </div>

            <div style="text-align: right;">
                <input type="submit" name="save_content" class="btn btn-outline b-success text-success mb-2" value="Save">
                <!-- <a href="{% url 'content_writing_and_publications_team:content_page' %}" class="btn btn-outline b-danger text-danger mb-2">Delete</a> -->
                <button type="button" class="btn btn-outline b-danger text-danger mb-2" aria-label="Close" data-toggle="modal" data-target="#ConfirmDeleteModal" onclick="openModal('{{document.pk}}')">Delete</button>

            </div>
        </div>
        </form>
  </div>
</div>

<!-- Confirmation modal for delete -->
<div
  class="modal fade"
  id="ConfirmDeleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ConfirmDeleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-top" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
        <div class="modal-body">
          {% csrf_token %}
          <p><input id="remove_doc" name="remove_doc" type="hidden" /></p>
          Are you sure you want to delete this content?
        </div>
        <div class="modal-footer">
          <input 
            type="submit"
            name="remove"
            class=" btn btn-outline-secondary b-success text-success"
            value="Confirm"
          />
          <button
            type="button"
            class="btn btn-outline-danger"
            data-dismiss="modal"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  function openModal(remove_doc) {
    // Set data in the modal
    var inputElement = document.getElementById("remove_doc");
    inputElement.value = remove_doc;
  }
</script>

{% endblock content_form_content %}