{% block banner_picture_text_tab %}
{% load static %}


<div id="tab1" class="tab-content">
    <h2 style="text-align:center;">Top Banner Picture With Texts & Buttons</h2>
    <br>
    <div style="text-align:center;">  
        <div class="btn-container">
          <button class="btn btn-outline b-primary text-primary">Add New Image and Text in Top Banner</button>
        </div>
    </div>
    <br>

    <!--Data Table-->
    <div style="text-align:center; margin-top:30px;">  
        <div class="container" style="justify-content:center;">
        <div class="header_wrap">
            <div class="num_rows">
        
            <div class="form-group">
                <!--		Show Numbers Of Rows 		-->
                <select class="form-control" name="state" id="maxRows">
        
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="5000">Show ALL Rows</option>
                </select>
        
            </div>
            </div>
            <div class="tb_search">
            <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="form-control">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-class" id="table-id">
        
            <thead>
                <tr>
                    <th>First Layer Text</th>
                    <th>Image</th>
                    <th>Update/Delete</th>

                </tr>
            </thead>
            <tbody>
                {% for i in topBannerItems %}
                    <tr>
                    <td style="color:#00629B;"><a href="">{{ i.first_layer_text }}</a></td>
                    <td style="width: 100px; height: 70px;">
                        <img src="{{media_url}}{{i.banner_picture}}" alt="Your Image" style="width: 100%; height: 100%;">
                    </td>
                    <td>
                        <div style="text-align:center;">  
                            <div class="btn-container">
                              <button class="btn btn-outline b-primary text-primary">Update</button>
                              <button class="btn btn-outline b-danger text-danger">Delete</button>
                            </div>
                        </div>
                    </td>
                    </tr>
    
                {% endfor %}
                
            <tbody>
            </table>
        </div>
        <!--		Start Pagination -->
        <div class='pagination-container'>
            <nav>
            <ul class="pagination">
                <!--	Here the JS Function Will Add the Rows -->
            </ul>
            </nav>
        </div>
        <div class="rows_count">Showing 11 to 20 of 91 entries</div>    
                
        </div>
    </div>

</div>

{% endblock banner_picture_text_tab %}
