{% block banner_picture_text_tab %}
{% load static %}


<div id="tab1" class="tab-content" style="margin-right: 0px;">
    <h2 style="text-align:center;">Top Banner Picture With Texts & Buttons</h2>
    <br>
    <div style="text-align:center;">  
        <div class="btn-container">
          <button class="btn btn-outline b-primary text-primary" data-toggle="modal" data-target="#m-s-a" ui-toggle-class="bounce" ui-target="#animate">Add New Image and Text in Top Banner</button>
        </div>
    </div>
    <!--Modal form-->
    <div id="m-s-a" class="modal fade animate" data-backdrop="true">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-dialog modal-lg" id="animate">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Add a New Top Banner Picture & Texts</h5>
                    </div>
                    
                    <div class="modal-body text-left p-lg">
                        
                        <p>View the Image given below to understand about the fields and fill the Form according to it.</p>
                        
                        <!-- Thumbnail image (clickable) -->
                        <!--If you wish to change photo, make changes in both of the places-->
                        <div style="text-align:center;">
                            <img src="{% static 'images/homepage_banner_tutorial.png'%}" alt="Thumbnail" width="250" height="150" onclick="openLightbox('{% static 'images/homepage_banner_tutorial.png' %}')">
                        </div>

                        <!--Form start-->

                        <div class="container">
                            <div class="padding">
                                <div class="row" >
                                    <div class="col-sm-10">
                                        <div class="box">
                                            <div class="box-header">
                                                <h1 style="text-align:center;">Provide Details</h1>
                                            </div>
                                            
                                            <form method="POST">
                                                {% csrf_token %}
                                                <div class="box-body">
                                                        <div class="form-group row">
                                                            <label class="col-sm-10 form-control-label">Banner Picture (1600 x 750) <span style="color:red;">*</span></label>
                                                            <div class="col-sm-10">
                                                            <input type="file" required id="myFile" name="banner_picture" class="form-control">
                                    
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>First Layer Text <span style="color:red">*<span></label>
                                                                    <div class="col-sm-10">
                                                                        <input
                                                                            placeholder="First Layer Text"
                                                                            class="form-control"
                                                                            type="text"
                                                                            autocomplete="off"
                                                                            required
                                                                            name="first_layer_text"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>First Layer Text (colored) <span style="color:red">*<span></label>
                                                                        <div class="col-sm-10">
                                                                        <input
                                                                            placeholder="Colored Text"
                                                                            class="form-control"
                                                                            type="text"
                                                                            autocomplete="off"
                                                                            required
                                                                            name="first_layer_text_colored"/>
                                                                        </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            <label>Third Layer Paragraph <span style="color:red">*<span></label>
                                                                <div class="col-sm-10">
                                                                <input
                                                                    placeholder="Third Layer Text"
                                                                    class="form-control"
                                                                    type="text"
                                                                    autocomplete="off"
                                                                    required
                                                                    name="third_layer_text"/>
                                                                </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Button Text <span style="color:red">*<span></label>
                                                                        <div class="col-sm-10">
                                                                        <input
                                                                            placeholder="Place the Button Text"
                                                                            class="form-control"
                                                                            type="text"
                                                                            autocomplete="off"
                                                                            required
                                                                            name="button_text"/>
                                                                        </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Button Link <span style="color:red">*<span></label>
                                                                        <div class="col-sm-10">
                                                                        <input
                                                                            placeholder="Read above Instructions before adding the URL"
                                                                            class="form-control"
                                                                            type="text"
                                                                            autocomplete="off"
                                                                            required
                                                                            name="button_url"/>
                                                                        </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                    </div>

                    <div class="modal-footer">
                    <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
                    <input type="submit" name="add_banner" class="btn btn-success p-x-md" value="Add"></input>               
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </form>
        <!-- Lightbox overlay (hidden by default) -->
        <div id="lightbox" class="overlay">
            <span class="close-btn" onclick="closeLightbox()">&times;</span>
            <img id="lightbox-img">
        </div>
    </div>
    <br>

    <!--Data Table-->
    <div style="text-align:center; margin-top:30px;">  
        <div class="container" style="justify-content:center;">
        <div class="header_wrap" style="padding: 0px;">
            <div class="num_rows">
        
            <div class="form-group">
                <!--		Show Numbers Of Rows 		-->
                <select class="form-control" name="state" id="maxRows">
        
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="5000">Show ALL Rows</option>
                </select>
        
            </div>
            </div>
            <div class="tb_search">
            <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="form-control">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-class" id="table-id">
        
            <thead>
                <tr>
                    <th>Button Text</th>
                    <th>Image</th>
                    <th>Update/Delete</th>

                </tr>
            </thead>
            <tbody>
                {% for i in topBannerItems %}
                    <tr>
                    <td><a href="{% url 'central_branch:manage_website_home_top_banner_update' i.pk %}" ><span style="color:blue;">{{i.button_text}}</span></a></td>
                    <td style="width: 250px; height: 150px;">
                        <img src="{{media_url}}{{i.banner_picture}}" alt="Your Image" style="width: 100%; height: 100%;">
                    </td>
                    <td>
                        
                        <div style="text-align:center;">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="btn-container">
                                    <a class="btn btn-outline b-warn text-warn" href="{% url 'central_branch:manage_website_home_top_banner_update' i.pk %}">Update</a>
                                  <input type="submit" name="delete" class="btn btn-outline b-danger text-danger" value="Delete"></input>
                                  <input type="hidden" name="get_item" value="{{i.id}}"></input>
                                </div>
                            </form>
                                

                                    <!-- Lightbox overlay (hidden by default) -->
                                    <div id="lightbox" class="overlay">
                                        <span class="close-btn" onclick="closeLightbox()">&times;</span>
                                        <img id="lightbox-img">
                                    </div>
                                </div>
                        </div>
                        
                    </td>
                    </tr>
    
                {% endfor %}
                
            <tbody>
            </table>
        </div>
        <!--		Start Pagination -->
        <div class='pagination-container'>
            <nav>
            <ul class="pagination">
                <!--	Here the JS Function Will Add the Rows -->
            </ul>
            </nav>
        </div>
        <div class="rows_count">Showing 11 to 20 of 91 entries</div>    
                
        </div>
    </div>

</div>

<!--Thumbnail Image Script-->
<script>
    function openLightbox(imageSrc) {
        var lightbox = document.getElementById('lightbox');
        var lightboxImg = document.getElementById('lightbox-img');

        lightbox.style.display = 'block';
        lightboxImg.src = imageSrc;
    }

    function closeLightbox() {
        var lightbox = document.getElementById('lightbox');
        lightbox.style.display = 'none';
    }
</script>

{% endblock banner_picture_text_tab %}
