{% load static %}
{% block banner_with_numbers %}
<link rel="stylesheet" href="{% static 'tab_view.css' %}" type="text/css" />

<div id="tab2" class="tab-content">
    <h2 style="text-align:center;">Middle Banner Picture with Numbers</h2>
    <br>
    <div style="text-align:center;">  
        <div class="btn-container">
          <button class="btn btn-outline b-primary text-primary" data-toggle="modal" data-target="#updateBanner" ui-toggle-class="bounce" ui-target="#animate">Update Banner Picture</button>
        </div>
    </div>
    <br>
    <div style="margin-left:auto; margin-right:auto; text-align:center;">
        <h5>Current Picture in the Banner:</h5>
        {% for i in bannerPictureWithNumbers %}
            <span>
                <div style="display:inline-block; text-align:center;">
                    <img src="{{media_url}}{{i.image}}" alt="Your Image" style="width: 250px; height: 170px;">
                </div>
            </span>
        {% endfor %}
    </div>




    <!--Modal form-->
    <div id="updateBanner" class="modal fade animate" data-backdrop="true">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-dialog modal-lg" id="animate">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Banner Picture</h5>
                    </div>
                    <div class="modal-body text-left p-lg">
                        
                        <p>View the Image given below to understand where the Image will be added.</p>
                        <p>Statistics data above the picture will automatically change from the system.</p>
                        <p>If you update the picture, system will remove the previous one and update the new picture in the webpage. Only one image can be present in the Database.</p>

                        <!-- Thumbnail image (clickable) -->
                        <!--If you wish to change photo, make changes in both of the places-->
                        <div style="text-align:center;">
                            <img src="{% static 'images/banner_with_numbers.png'%}" alt="Thumbnail" width="250" height="150" onclick="openLightbox('{% static 'images/banner_with_numbers.png' %}')">
                        </div>

                        <!--Form Start>
                        <!--modal-->
                        <div class="container">
                            <div class="padding">
                                <div class="row" >
                                    <div class="col-sm-10">
                                        <div class="box">
                                            <div class="box-header">
                                                <h1 style="text-align:center;">Upload Picture</h1>
                                            </div>
                                            
                                                <div class="box-body">
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 form-control-label">Banner Picture (1600 x 450) <span style="color:red;">*</span></label>
                                                            <div class="col-sm-10">
                                                            <input type="file" required id="myFile" name="banner_picture_with_stat">
                                    
                                                            </div>
                                                        </div>
                                                </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
                            <input type="submit" name="update_banner" class="btn btn-success p-x-md" value="Update"></input>               
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </form>
        <!-- Lightbox overlay (hidden by default) -->
        <div id="lightbox" class="overlay">
            <span class="close-btn" onclick="closeLightbox()">&times;</span>
            <img id="lightbox-img">
        </div>
    </div>

</div>

<script src="{% static 'tab_view.js'%}"></script>

<!--Thumbnail Image Script-->
<script>
    function openLightbox(imageSrc) {
        var lightbox = document.getElementById('lightbox');
        var lightboxImg = document.getElementById('lightbox-img');

        lightbox.style.display = 'block';
        lightboxImg.src = imageSrc;
    }

    function closeLightbox() {
        var lightbox = document.getElementById('lightbox');
        lightbox.style.display = 'none';
    }
</script>
{% endblock banner_with_numbers %}
