{% load static %}
{% block panel_tab %}
<style>
    .tabs li.active_tab {
        background-color: #FFC72C;
    }
    .tabs li:hover{
        transition: all 0.3s ease-in-out;
    }
</style>
<div class="tabs-container" style="    display: flex;
flex-direction: column;">
    <ul class="tabs" style="display: flex; margin-right: 0px; justify-content: center;">
        <li class="tab active_tab" onclick="showTab('tab1')">Executive Members Panel</li>
        <li class="tab" onclick="showTab('tab2')">Officer Members Panel</li>
        <li class="tab" onclick="showTab('tab3')" style="border-right: 1px solid #00629B;">Volunteer Members Panel</li>
        <li class="tab" onclick="showTab('tab4')" style="border-right: 1px solid #00629B;">Alumni Members Panel</li>

    </ul>
    <br>
    <div id="tab1" class="tab-content" style="margin-right: 0px;">
        {% block executive_members_panel %}
            {% include "Panel/executive_members_tab.html" %}
        {% endblock executive_members_panel %}
    </div>

    <div id="tab2" class="tab-content" style="margin-right: 0px;">
        {% block officer_members_panel %}
            {% include "Panel/officer_members_tab.html" %}
        {% endblock officer_members_panel %}
    </div>

    <div id="tab3" class="tab-content" style="margin-right: 0px;">
        {% block volunteer_members_panel %}
            {% include "Panel/volunteer_members_tab.html" %}
        {% endblock volunteer_members_panel %}
    </div>

    <div id="tab4" class="tab-content" style="margin-right: 0px;">
        {% block alumni_members_panel %}
            {% include "Panel/alumni_members_tab.html" %}
        {% endblock alumni_members_panel %}
    </div>
</div>
<script>
    const linkels = document.querySelectorAll('.tab');
    linkels.forEach(linkels =>{
        linkels.addEventListener('click', ()=> {
            document.querySelector('.active_tab')?.classList.remove('active_tab');
            linkels.classList.add('active_tab');
        });
    });
</script>
{% endblock panel_tab %}