{% load static %}
{% block magazine_card %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

    * {
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
      }
      
    
      /* .header {
        text-align: center;
        text-transform: uppercase;
        padding: 32px;
        background-color: #0a0a23;
        color: #fff;
        border-bottom: 4px solid #fdb347;
      }
       */
    
      .magazines .card {
        /* Add shadows to create the "card" effect */
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        display: flex;
        flex-direction: row;
        margin: 5% 10%;
        border-radius: 5px;
        width: auto;
        height: 25rem;
      }
      
      /* On mouse-over, add a deeper shadow */
      .magazines .card:hover {
        box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
      }
      
      /* Add some padding inside the card container */
      .magazines .card .container {
        padding: 10px 5% 10px 0;
      }
    
      /* Some styles added to the card cover image */
      .magazines .card .cover{
        box-shadow: 0 4px 12px 0 rgba(0,0,0,0.3);
        max-width: 100%;
        margin: 25px;
        justify-content: left;
        border-radius: 5px;
      }
    
    
      /* Some styles added to the card title */
      .magazines .card .container .card-title{
        font-weight: 900;
        text-shadow: 0px 1px, 1px 0px, 1px 1px;
        margin-bottom: -10px;
      }
    
      .magazines .card .container .hr-dots {
        display: inline-block;
        width: 25px;
        border-style: dotted none none;
        border-width: 5px;
        border-color: #0059ff;
        margin-left: 0;
      }
      
      /* Thick red border */
      .magazines .card .container .hr-dash {
        display: inline-block;
        width: 50px;
        border-radius: 5px;
        border: 2.75px solid #0059ff;
        margin-left: 1.5px;
      }
    
      /* Font size adjustment of paragraphs n card */
      .magazines .card .container p{
        font-size: 14px;
      }
    
      /* Some styles added to button */
      .magazines .card .container .button {
        background-color: white; 
        color: black; 
        transition: 0.5s;
        border: 2px solid #008CBA;
        border-radius: 5px;
        font-size: 16px;
        width: 200px;
        padding: 10px;
        cursor: pointer;
      }
      
      /* Button hover effect added */
      .magazines .card .container .button:hover {
        background-color: #008CBA;
        color: white;
      }
    
      .magazines .slide-up-fade-in{
        animation: slide-up-fade-in ease 1s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        animation-fill-mode:forwards; /*when the spec is finished*/
    
    
        opacity:0;
        opacity: 1\9;
    
      }
    
    
    
      /* Animations added */
      @keyframes slide-up-fade-in{
          0% {
              opacity:0;
              transform:  translate(0px,1000px)  ;
          }
          50% {
              opacity:1;
              transform:  translate(0px,-25px)  ;
          }
          75% {
            opacity:1;
            transform:  translate(0px,25px)  ;
          }
          100% {
            opacity:1;
            transform:  translate(0px,0px)  ;
          }
      }
    
    
    
      /* For tablets and smaller */
      @media only screen and (max-width: 991px) {
        .magazines .card {
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transition: 0.3s;
          width: 95%;
          height: auto;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          margin: 5% auto;
          align-items: center;
          justify-content: center;
        }
        .magazines .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        .magazines .card .cover {
          box-shadow: 0 4px 12px 0 rgba(0,0,0,0.3);
          border-radius: 5px;
          width:  400px;
          margin-top: 25px;
          justify-content: center;
          border-radius: 5px;
        }
        .magazines .card .container {
          padding: 2px 16px;
          margin: 25px;
        }
    
        .magazines .card .container .card-title{
          font-weight: 900;
          text-shadow: 0px 1px, 1px 0px, 1px 1px;
        }
      
        /* Font size adjustment of paragraphs n card */
        .magazines .card .container p{
          font-size: 14px;
        }
    
        .magazines .card .container .button {
          font-size: 16px;
          margin: auto;
          width: 100%;
          justify-content: center;
        }
        
        /* Button hover effect added */
        .magazines .card .container .button:hover {
          background-color: #008CBA;
          color: white;
        }
      }
    
    
    
      /* for medium sized devices */
      @media only screen and (min-width: 991px) and (max-width: 1500px)  {
        .magazines .card{
          
          margin: 5% 7%;
        }  
      }
    
</style>

{% for i in all_magazines %}
<div class="card , slide-up-fade-in" style="width:60%;margin:15px auto;">
    <img class="cover" src="/media_files/{{i.magazine_picture}}" alt="cover" >
    <div class="container">
        <h1 class="card-title">{{i.magazine_title}}</h1>
        <hr class="hr-dots">
        <hr class="hr-dash">
        <p style="font-weight: bolder;">A Publication of <br>
        {{i.published_by}} <br>
        {{i.publish_date}}</p>
        <p class="">{{i.magazine_short_description | safe}}</p>
        <br>
        <a style="text-decoration:none" target="blank" class="button" type="button" href="/media_files/{{i.magazine_file}}">Read The Magazine</a>
    </div>
</div>
{% endfor %}

{% endblock magazine_card %}