
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.bk-gra{
    background-image: linear-gradient(90deg, #2280b3, #0b1261)
}
.txt-hd{
    color: #050d3a;
}

.navbar{
    background-color: #050d3a;
}
.nav-link{
color: #ffffff;
}
.nav-link:hover{
    color: #FFC936;
}
.navL{
    color: #FFC107;
  }
  .navL:hover{
    color: #FFC107;
    transition: .2s;
  }
.navigation{
    height: 100px;
}
.banner{
  min-height: 100vh;
  
}
  .btn{
    background-color: #FFC936;
    
}
.btn-primary:hover{
    background-color: #050d3a;
    color: #fff;
}
.design{
    min-height: 100vh;
}
.stop{
    background-image: url(../img/banner.png);
    background-color: rgba(0, 0, 0, 0.534);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
.right-bg{
    background-color: #050d3a;

}

.myCard{
    background-color: #195D8C;
    /* box-shadow: 1px 1px 15px black; */
    /* border: 1px solid white; */
}

.myCard:hover{
    box-shadow: 1px 1px 15px white;
    transition: .3s ease-in-out;
}

.myCard:hover .cardDiv{
    scale: 1.1;
    transition: .3s ease-in-out;
    color: #FFC936;
}