/* Container for the grid */
.tabs-container {
    margin-left: 10px;
    display: flex;
    grid-template-columns: auto 1fr; /* Two columns: fixed size for tabs and flexible size for content */
    grid-gap: 5px; /* Gap between the tabs and content */
    /* justify-content: center; Center the content horizontally */
    flex-direction: column;
}

/* Basic styling for tabs */
.tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    position: sticky;
    display: flex;
    margin-right: 10px;
}

.tabs li {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #00629B;
    /* border-right: none; */
    width: 150px;
}

.tabs li:hover {
    background-color: #FFC72C;
}

.tabs li.active {
    background-color: #FFC72C;
}

.tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

/* Responsive styling */
@media (max-width: 768px) {
    .tabs-container {
        grid-template-columns: 1fr; /* Single column for small screens */
    }
}
@media (max-width: 800px) {
    .tabs-container {
        grid-template-columns: 1fr; /* Single column for small screens */
    }
}
@media (max-width: 900px) {
    .tabs-container {
        grid-template-columns: 1fr; /* Single column for small screens */
    }
}
@media (max-width: 1300px) {
    .tabs-container {
        grid-template-columns: 1fr; /* Single column for small screens */
    }
}
@media (max-width: 1389px) {
    .tabs-container {
        grid-template-columns: 1fr; /* Single column for small screens */
    }
}
@media (max-width: 1400px) {
    .tabs-container {
        grid-template-columns: 1fr; /* Single column for small screens */
    }
}
@media (max-width: 1500px) {
    .tabs-container {
        grid-template-columns: 1fr; /* Single column for small screens */
    }
}
@media screen and (max-width: 1600px) {
    .tabs-container{
        display: flex;
        flex-direction: column;
    }
    .tabs{
        display: flex;
    }
}