{% load static %}
{% block navbar %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    .nav a.active {
        color: #FFA300;
    }
    #notification{
        height: 450px;
        width: 300px;
        position: absolute;
        display: none;
        background-color: rgba(255, 255, 255);
        border-radius: 10px;
        /* border: 2px solid rgb(227, 227, 227); */
        backdrop-filter: blur(10px);
        top: 45px;
        right: 4%;
        box-shadow: -2px 2px 20px 2px #0000000f;
        position: absolute;
        z-index: 1
    }
    .msg-box{
        height: 420px;
        width: 296px;
        padding: 10px 10px 0px 10px;
        overflow-y: auto;
        overflow-x: clip;
    }
    .msg{
        height: auto;
        width: 276px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 4px;
        /* border: 1px solid black; */
        padding: 10px;
        margin-bottom: 10px;
    }
    .see-all{
        display: flex;
        justify-content: center;
        color: rgb(0 0 0 / 64%);
        padding-top: 3px;
    }
    .see-all:hover{
        color: #00629B;
    }
    .msg:hover, .see-all:hover{
        cursor: pointer;
    }
    .bell-icon{
        color: #000000;
    }
    .bell-icon:hover{
        scale: 1.2;
    }
  
    .notification_modal_content::-webkit-scrollbar , .msg-box::-webkit-scrollbar{
        width: 6px;
        height: 6px;
    }
    .notification_modal_content::-webkit-scrollbar-thumb , .msg-box::-webkit-scrollbar-thumb{
        background-color: #e7eeef;
        transition: all .4s ease-in-out;
        border-radius: 4px;
    }
    .notification_modal_content::-webkit-scrollbar-thumb:hover , .msg-box::-webkit-scrollbar-thumb:hover{
        background-color: rgb(169, 170, 170);
    }
    .notification_modal{
        opacity: 0;
        position: fixed;
        z-index: -1;
        padding-top: 50px;
        left: 0;
        top: 0;
        width: 100%;
        height: 0%;
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.5);
        /* transition: all .3s ease-in-out; */
        transform: translateY(-20px);
        overflow: auto;
    }
    .notification_modal_content{
        background-color: #fefefe;
        margin: auto;
        border: 1px solid rgb(136, 136, 136);
        max-width: 850px;
        max-height: 70vh;
        overflow-y: scroll;
        border-radius: 6px;
        box-shadow: 2px 2px 5px 0px #80808054;
        position: relative;
        left: 100px;
        top: 20%;
    }
  
    .close1{
        color: #000;
        font-size: 28px;
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
    }
    .close1:hover,
    .close1:focus{
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    @media screen and (max-width: 1024px) {
        .notification_modal_content {
            left: 0px;
            margin: 10%;
        }
    }
    @media screen and (max-width: 500px) {
        .notification_modal_content{
            margin: 5%;
        }
    }
    .notification_modal_content > p{
        padding: 10px 20px;
    }
    .notification_modal_content > a{
        color: #00629B;
        padding-left: 20px;
    }
    .notification_modal_content > h5,h6{
        padding-left: 22px;
    }
    .links{
        float: right;
        padding: 15px;
    }
    @media screen and (max-width: 500px) {
        .notification_modal_content{
            margin: 5%;
        }
    }
    .app-header{
        left: 2px;
    }
</style>
<!--This is scrip is to get the link of the current page and cross match it with the navlink to change colors-->
<script>
document.addEventListener("DOMContentLoaded", function () {
    // Get the current page's URL
    const currentPageUrl = window.location.href;
  
    // Find the links in the navigation bar
    const navLinks = document.querySelectorAll(".nav a");
  
    // Loop through the links and add a "active" class to the matching link
    navLinks.forEach(function (link) {
      if (link.href === currentPageUrl) {
        link.classList.add("active");
      }
    });
  });
</script>
<div class="app-header white box-shadow">
    <div class="navbar navbar-toggleable-sm flex-row align-items-center">
        <!-- Open side - Naviation on mobile -->
        <a data-toggle="modal" data-target="#aside" class="hidden-lg-up mr-3">
        <i class="material-icons">&#xe5d2;</i>
        </a>
        <!-- / -->
    
        <!-- Page title - Bind to $state's title -->
        <div class="mb-0 h5 no-wrap" ng-bind="$state.current.data.title" id="pageTitle"></div>
    
        <!-- navbar collapse -->
        <div class="collapse navbar-collapse" id="collapse">
        <!-- link and dropdown -->
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'logistics_and_operations_team:team_homepage' %}">
                <i class="fa fa-home"></i>
                <span>Home</span>
                </a>
                <div ui-include="'../views/blocks/dropdown.new.html'"></div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'logistics_and_operations_team:manage_team' %}">
                <i class="fa fa-calendar"></i>
                <span>Manage Team</span>
                </a>
                <div ui-include="'../views/blocks/dropdown.new.html'"></div>
            </li>
        </ul>
    
        <div ui-include="'../views/blocks/navbar.form.html'"></div>
        <!-- / -->
        </div>
        <!-- / navbar collapse -->
    
        <!-- / navbar right -->
    <ul class="nav navbar-nav ml-auto flex-row">
        <li class="nav-item hidden-md-up">
            <a class="nav-link pl-2" data-toggle="collapse" data-target="#collapse">
            <i class="material-icons">more_horiz</i>
            </a>
        </li>
        <li class="nav-item dropdown pos-stc-xs">
            <a class="nav-link mr-2" href data-toggle="dropdown">
                <i class="material-icons bell-icon" onclick="show_ntfn()">&#xe7f4;</i>
                <span class="label label-sm up warn" id="nftn_lbl" value="4"></span>
            </a>
            <!-- <div ui-include="'../views/blocks/dropdown.notification.html'"></div> -->
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link p-0 clear" href="{% url 'users:profile' %}">
            <span class="avatar w-32" style="border-radius: 50%;
            overflow: hidden;">
                <img src="{{ user_data.profile_picture }}" alt="user_profile" style="border-radius: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;">
                <i class="on b-white bottom"></i>
            </span>
            </a>
            <div ui-include="'../views/blocks/dropdown.user.html'"></div>
        </li>
        </ul>
    <div id="notification">
        <div class="msg-box">
            <div class="msg" onclick="msg_read(this)">
                <input type="hidden" id="hid-inp" value="2" data-namr="1">
                <h6 style="font-weight: bold; font-size: 15px;">Notification from</h6>
                <h6>10:53</h6>
                <h6 style="top: 20px; font-size: 15px; margin-bottom: 0;">Subject of the new notification</h6>
            </div>
            <div class="msg" onclick="msg_read(this)">
                <input type="hidden" id="hid-inp" value="1" data-namr="1">
                <h6 style="font-weight: bold; font-size: 15px;">Notification from</h6>
                <h6>10:53</h6>
                <h6 style="top: 20px; font-size: 15px; margin-bottom: 0;">Subject of the new notification</h6>
            </div>
            <div class="msg" onclick="msg_read(this)">
                <input type="hidden" id="hid-inp" value="2" data-namr="1">
                <h6 style="font-weight: bold; font-size: 15px;">Notification from</h6>
                <h6>10:53</h6>
                <h6 style="top: 20px; font-size: 15px; margin-bottom: 0;">Subject of the new notification</h6>
            </div>
            <div class="msg" onclick="msg_read(this)">
                <input type="hidden" id="hid-inp" value="1" data-namr="1">
                <h6 style="font-weight: bold; font-size: 15px;">Notification from</h6>
                <h6>10:53</h6>
                <h6 style="top: 20px; font-size: 15px; margin-bottom: 0;">Subject of the new notification</h6>
            </div>
            <div class="msg" onclick="msg_read(this)">
                <input type="hidden" id="hid-inp" value="1" data-namr="1">
                <h6 style="font-weight: bold; font-size: 15px;">Notification from</h6>
                <h6>10:53</h6>
                <h6 style="top: 20px; font-size: 15px; margin-bottom: 0;">Subject of the new notification</h6>
            </div>
            <div class="msg" onclick="msg_read(this)">
                <input type="hidden" id="hid-inp" value="2" data-namr="1">
                <h6 style="font-weight: bold; font-size: 15px;">Notification from</h6>
                <h6>10:53</h6>
                <h6 style="top: 20px; font-size: 15px; margin-bottom: 0;">Subject of the new notification</h6>
            </div>
            <div class="msg" onclick="msg_read(this)">
                <input type="hidden" id="hid-inp" value="2" data-namr="1">
                <h6 style="font-weight: bold; font-size: 15px;">Notification from</h6>
                <h6>10:53</h6>
                <h6 style="top: 20px; font-size: 15px; margin-bottom: 0;">Subject of the new notification</h6>
            </div>
            <div class="msg" onclick="msg_read(this)">
                <input type="hidden" id="hid-inp" value="2" data-namr="1">
                <h6 style="font-weight: bold; font-size: 15px;">Notification from</h6>
                <h6>10:53</h6>
                <h6 style="top: 20px; font-size: 15px; margin-bottom: 0;">Subject of the new notification</h6>
            </div>
            <div class="msg" onclick="msg_read(this)">
                <input type="hidden" id="hid-inp" value="2" data-namr="1">
                <h6 style="font-weight: bold; font-size: 15px;">Notification from</h6>
                <h6>10:53</h6>
                <h6 style="top: 20px; font-size: 15px; margin-bottom: 0;">Subject of the new notification</h6>
            </div>
            <div class="msg" onclick="msg_read(this)">
                <input type="hidden" id="hid-inp" value="2" data-namr="1">
                <h6 style="font-weight: bold; font-size: 15px;">Notification from</h6>
                <h6>10:53</h6>
                <h6 style="top: 20px; font-size: 15px; margin-bottom: 0;">Subject of the new notification</h6>
            </div>
        </div>
            <a href="{% url 'notification:notification' %}" class="see-all">See All</a>
    </div>

    <!--Notification Modal-->
    <div id="modal1" class="notification_modal">
        <!-- Modal content -->
        <div class="notification_modal_content">
            <div style="display: flex; justify-content: space-between; margin-bottom: 10px; background: #002855; padding: 10px 20px; position: sticky; top: 0px;">
                <!--modal heading-->
                <h5 style="color: #fff;    position: relative;
                top: 8px">Notification</h5>
                <span class="close1" style="color: white;">&times;</span>
                <!--notification description-->
            </div>
            <h5>Title</h5>
            <h6>Date Time</h6>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptates, quod dicta beatae cumque veritatis laboriosam, suscipit doloribus earum repudiandae expedita rerum reiciendis odio vero hic officia iste dolore quis perspiciatis possimus neque molestias. Placeat eum repudiandae fuga vitae perferendis.</p>
            <!--notification link-->
            <a href="#" class="links"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>
    </div>
    <!-- / navbar right -->
</div>
<script>
// Get the modal
var modal1 = document.getElementById("modal1");

// Get the button that opens the modal
var btn1 = document.querySelectorAll(".msg");

// Get the <span> element that closes the modal
var span1 = document.getElementsByClassName("close1")[0];

btn1.forEach(function (row){
// When the user clicks the button, open the modal 
row.onclick = function() {
modal1.style.transform = 'translateY(0px)';
modal1.style.zIndex = '103100';
modal1.style.opacity = '1';
modal1.style.height = '120%';
}
})

// When the user clicks on <span> (x), close the modal
span1.onclick = function() {
modal1.style.transform = 'translateY(-50px)';
modal1.style.zIndex = '-100';
modal1.style.opacity = '0';
modal1.style.height = '0%';

}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
 if (event.target == modal1) {
    modal1.style.transform = 'translateY(-50px)';
    modal1.style.zIndex = '-100';
    modal1.style.opacity = '0';
    modal1.style.height = '0%';

  }
}
</script>
<script>
function show_ntfn(){
    var icon = document.querySelector(".bell-icon");
    const ntfn_content = document.getElementById("notification");
    if(ntfn_content.style.display === "block"){
        ntfn_content.style.display = "none";
        icon.style.color = "#000000";
    }else{
        ntfn_content.style.display = "block";
        icon.style.color = "#7878ff";
    }
}
function msg_read(msg_div){
    msg_div.style.backgroundColor = "rgba(200, 200, 200, 0.304)";
    msg_div.firstElementChild.value = "2";
    var hiddenInputs = document.querySelectorAll('.msg input');
    var val = 0;
    
    hiddenInputs.forEach(function(input) {
        if (input.getAttribute("value") === "1") {
            val++;
        }
    });
    
    var lbl = document.getElementById("nftn_lbl");
    lbl.textContent = val;
}
window.onload = function(){
    var divs = document.querySelectorAll(".msg");

    divs.forEach(function(msg_val){
        if(msg_val.firstElementChild.value == "2"){
            msg_val.style.backgroundColor = "rgba(200, 200, 200, 0.304)";
        }
    });

    var hiddenInputs = document.querySelectorAll('.msg input');
    var val = 0;
    
    hiddenInputs.forEach(function(input) {
        if (input.getAttribute("value") === "1") {
            val++;
        }
    });
    
    var lbl = document.getElementById("nftn_lbl");
    lbl.textContent = val;
};
</script>
{% endblock navbar %}