<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>INSB-Central</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>
            Hello and Welcome to the Central Control Panel of IEEENSUSB
        </h1>
        <button><a href="" class="">INSB Registered Members</a></button>
        <button><a href="{% url 'central_branch:event_control' %}" class="">Events</a></button>
        <button><a href="{% url 'central_branch:teams' %}" class="">Teams</a></button>
        <script src="" async defer></script>
    </body>
</html>