<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branch-Event Creation Form- Part-1</title>
    <link rel="stylesheet" href="{% static 'event_form.css' %}">
</head>

<body>
    <div class="event_form">
        <div class="title">
            Event Creation Form
        </div>
        <div class="form">
            <form method="POST">
                {% csrf_token %}
                <div class="inputfield">
                    <br>
                    <label for="">Mother Event</label>
                    <div class="custom_select">
                        <select name="event_under">
                            <option value="null" selected>----------</option>
                            {% for super_event in super_events %}
                            <option value={{super_event.id}}>{{super_event.super_event_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="inputfield">
                    <label>Name:</label>
                    <input type="text" name="event_name" class="input">
                </div>
                <div class="inputfield">
                    <label>Event Type</label>
                    <div class="custom_select">
                        <select name="event_type">
                            <option value="null" selected>----------</option>
                            {% for event_type in event_types %}
                            <option value={{event_type.id}}>{{event_type.event_type}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="inputfield">
                    <label>Description</label>
                    <textarea type="text" name="event_description" placeholder="Write with in 500 words"
                        class="textarea"></textarea>
                </div>
                <div class="inputfield">
                    <label for="">Add a Probable Date For the Event</label>
                    <input type="date" name="probable_date" class="input">
                </div>
                <div class="inputfield">
                    <label for="">Add Final Date For the Event (If finalised)</label>
                    <input type="date" name="final_date" class="input">
                </div>
                <div class="inputfield btn">
                    <input type="submit" name="cancel" value="Cancel" class="btn">
                    <input type="submit" value="Next" name="next" class="btn">
                </div>
            </form>
        </div>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    </div>
</body>

</html>