<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branch-Event Creation Form</title>
    <link rel="stylesheet" href="{% static 'event_form.css' %}">
</head>

<body>
    <div class="event_form">
        <div class="title">
            Event Creation Form
        </div>
        <div class="form">
            <form method="POST">
                {% csrf_token %}
                <div class="inputfield">
                    <label for="">Mother Event</label>
                    <div class="custom_select">
                        <select name="super_event">
                            <option value="null" selected>----------</option>
                            {% for super_event in super_events %}
                            <option value={{super_event.id}}>{{super_event.super_event_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="inputfield">
                    <label>Name:</label>
                    <input type="text" name="event_name" class="input">
                </div>
                <div class="inputfield">
                    <label>Description</label><br>
                    <textarea type="text" name="event_description" placeholder="Write with in 500 words"
                        class="textarea"></textarea>
                </div>
                <div class="inputfield">
                    <label for="">Inter Branch Collaboration With:</label>
                    <div class="custom_select multiple">
                        <select name="inter_branch_collaboration" multiple>
                            <option value="null" selected>----------</option>
                            {% for inter_branch_collaboration_option in inter_branch_collaboration_options %}
                            <option value={{inter_branch_collaboration_option.id}}>
                                {{inter_branch_collaboration_option.group_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="inputfield">

                    <label for="">Intra Branch Collaboration:</label>
                    <input type="text" name="intra_branch_collaboration" id="" placeholder="Enter Organization Names"
                        class="input">
                </div>
                <div class="inputfield">
                    <label for="">Select Probable Venues For the Event</label>
                    <div class="custom_select multiple">
                        <select name="event_venues" multiple>
                            {% for venue in venues %}
                            <option value={{venue.id}}>{{venue.venue_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="inputfield">
                    <label for="">Select Permission Criterias For the Event</label>
                    <div class="custom_select multiple">
                        <select name="collaboration_with" multiple>
                            <option value="null" name="permission_criteria" selected>----------</option>
                            {% for permission in permission_criterias %}{% endfor %}
                            <option value={{permission.id}} name="permission_criteria">{{permission.permission_name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="inputfield">
                    <label for="">Add a Probable Date For the Event</label>
                    <input type="date" name="probable_date" class="input">
                </div>
                <div class="inputfield">
                    <label for="">Add Final Date For the Event (If finalised)</label>
                    <input type="date" name="final_date" class="input">
                </div>
                <div class="inputfield">
                    <label for="">Is there any registration fee for this event?</label><br>
                    <input type="radio" name="paid_unpaid" value="Yes">
                    <label for="">Yes</label>
                    <input type="radio" name="paid_unpaid" value="No">
                    <label for="">No</label>
                </div>
                <div class="inputfield btn">
                    <input type="submit" value="Create Event" name="create" class="btn">
                    <input type="button" name="cancel" id="" value="Cancel" class="btn">
                </div>
            </form>
        </div>
    </div>
</body>

</html>