{% for key, email in scheduled_emails.items %}
<div class="email_row_wrap" title="event">
    {% comment %} <div class="checkbox_star" style="{% if 'UNREAD' in thread.labels %}background-color: aliceblue;{% else %}background-color: white{% endif %}">
      <input type="checkbox" id="select" name="select" class="bold">
      <input type="hidden" class="msg_id" value="{{email.id}}">
    </div> {% endcomment %}
    <div style="    display: flex;
    align-items: center;">
      <a onclick="scheduleEdit(this, '{{email.id}}','{{email.schedule_status}}')">
        <div class="email_row" style="background-color: white">
          <div class="email_row_left">
            <p class="sender">{{email.id}}</p>
      </div>
      <div class="email_content">
        <div><span class="subject">{{email.subject}}</span> --- Status: {{email.schedule_status}}</div>
      </div>
      <div>
        <div class="email_date">Scheduled For {{email.schedule_datetime|date:"D, d M Y h:i:s A"}}</div>
      </div>
    </div>
  </a>
  <p class="edit_btn" onclick="scheduleEdit(this, '{{email.id}}','{{email.schedule_status}}')"><i class="fa fa-pencil-square-o" style="color: #2a89c9;" aria-hidden="true"></i>
</p>
</div>
</div>
{% endfor %}