<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Developed By</title>
</head>

<body style="background-image: linear-gradient(90deg, #2daadb, #050d3a)">

    <div class="container flex justify-center mx-auto pt-16">
        <div class="mb-8">
            <h1
                class="xl:text-4xl text-3xl text-center text-gray-800 dark:text-white font-extrabold pb-6 sm:w-4/6 w-5/6 mx-auto text-white">
                Developed by IEEE NSU Student Branch
            </h1>
            <p class="text-gray-300 dark:text-gray-200 text-lg text-center font-normal pb-3 mb-10">
                We’re a dynamic group of individuals who are passionate
                about what we do.
            </p>
        </div>
    </div>

    <div class="container flex justify-center mx-auto pt-16">
        <div class="mb-8">
            <h1
                class="xl:text-4xl text-3xl text-center text-gray-800 dark:text-white font-extrabold pb-6 sm:w-4/6 w-5/6 mx-auto text-white">
                Project Lead
            </h1>
        </div>
    </div>

    <div class="w-full px-10 pt-10">
        <div class="container mx-auto">


            <div role="list" aria-label="Behind the scenes People "
                class="lg:flex md:flex sm:flex items-center xl:justify-between flex-wrap md:justify-around sm:justify-around lg:justify-around">
                {% for lead in project_leads %}
                <div role="listitem"
                    class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5 "
                    style="width: 100%; margin: auto;">
                    <div class="rounded overflow-hidden shadow-md bg-white dark:bg-gray-900">
                        <div class="absolute -mt-20 w-full flex justify-center">
                            <div class="h-32 w-32">
                                <img src="{{ media }}{{ lead.developers_picture }}"
                                    alt="Display Picture of Andres Berlin" role="img"
                                    class="rounded-full object-cover h-full w-full shadow-md" />
                            </div>
                        </div>
                        <div class="px-6 mt-16">
                            <h1 class="font-bold dark:text-white text-3xl text-center mb-1">
                                {{lead.name}}
                            </h1>
                            <p class="text-gray-800 dark:text-white text-sm text-center">
                                {{lead.developer_type}} </p>
                            <p class="text-center text-gray-600 dark:text-gray-200 text-base pt-3 font-normal">
                                {{lead.developer_decription}} </p>
                            <div class="w-full flex justify-center pt-5 pb-5">
                                <a href="{{lead.github_url}}" class="mx-5">
                                    <div aria-label="Github" role="img">
                                        <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-5 w-5"
                                        fill="gray"
                                        viewBox="0 0 24 24" alt="github">
                                        <path
                                          d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                                      </svg>
                                    </div>
                                </a>
                                <a href="{{lead.linkedin_url}}" class="mx-5">
                                    <div aria-label="Linkedin" role="img">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="gray"
                                            viewBox="0 0 24 24" alt="linkedin">
                                            <path
                                                d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
                                        </svg>
                                    </div>
                                </a>
                                <a href="{{lead.facebook_url}}" class="mx-5">
                                    <div aria-label="Facebook" role="img">
                                        <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-5 w-5"
                                        fill="gray"
                                        viewBox="0 0 24 24" alt="facebook">
                                        <path
                                          d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" />
                                      </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>




    <div class="container flex justify-center mx-auto pt-16 mt-8">
        <div class="">
            <h1
                class="xl:text-4xl text-3xl text-center text-gray-800 dark:text-white font-extrabold pb-6 sm:w-4/6 w-5/6 mx-auto text-white">
                Meet Our Developers
            </h1>

        </div>
    </div>
    <div class="w-full px-10 pt-10">
        <div class="container mx-auto">
            <div role="list" aria-label="Behind the scenes People "
                class="lg:flex md:flex sm:flex items-center xl:justify-between flex-wrap md:justify-around sm:justify-around lg:justify-around">
                {% for developer in project_developers %}
                <div role="listitem"
                    class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5">
                    <div class="rounded overflow-hidden sha dow-md bg-white dark:bg-gray-900">
                        <div class="absolute -mt-20 w-full flex justify-center">
                            <div class="h-32 w-32">
                                <img src="{{ media }}{{ developer.developers_picture }}"
                                    alt="Display Picture of Andres Berlin" role="img"
                                    class="rounded-full object-cover h-full w-full shadow-md">
                            </div>
                        </div>
                        <div class="px-6 mt-16">
                            <h1 class="font-bold dark:text-white text-3xl text-center mb-1">{{developer.name}}</h1>
                            <p class="text-gray-800 dark:text-white text-sm text-center">{{developer.developer_type}}
                            </p>
                            <p class="text-center text-gray-600 dark:text-gray-200 text-base pt-3 font-normal">
                                {{developer.developer_decription}}</p>
                            <div class="w-full flex justify-center pt-5 pb-5">
                                <a href="{{developer.github_url}}" class="mx-5">
                                    <div aria-label="Github" role="img">
                                        <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-5 w-5"
                                        fill="gray"
                                        viewBox="0 0 24 24" alt="github">
                                        <path
                                          d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                                      </svg>
                                    </div>
                                </a>
                                <a href="{{developer.linkedin_url}}" class="mx-5">
                                    <div aria-label="Linkedin" role="img">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="gray"
                                            viewBox="0 0 24 24" alt="linkedin">
                                            <path
                                                d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
                                        </svg>
                                    </div>
                                </a>
                                <a href="{{developer.facebook_url}}" class="mx-5">
                                    <div aria-label="Facebook" role="img">
                                        <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-5 w-5"
                                        fill="gray"
                                        viewBox="0 0 24 24" alt="facebook">
                                        <path
                                          d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" />
                                      </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                <div class="w-full"></div> <!-- Add an empty div to create a new row -->
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- Second Part -->

    <!-- Container for demo purpose -->
    {% comment %} <div class="my-0 mx-auto md:px-6">
        <!-- Section: Design Block -->
        <section class="mb-32 text-center">
            <div class="mb-8">
                <h1
                    class="xl:text-4xl text-3xl text-center text-gray-800 dark:text-white font-extrabold pb-6 sm:w-4/6 w-5/6 mx-auto text-white">
                    Meet Our Team
                </h1>
                <p class="text-gray-300 dark:text-gray-200 text-lg text-center font-normal pb-3">
                    We’re a dynamic group of individuals who are passionate
                    about what we do.
                </p>
            </div>
            <div class="">
                <div class="lg:gap-xl-12 grid gap-x-6 md:grid-cols-3 xl:grid-cols-4">
                    <div class="mb-12">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.jpg"
                            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20" alt=""
                            style="max-width: 100px" />

                        <p class="mb-2 font-bold text-neutral-100 dark:text-neutral-300">John Doe</p>
                        <p class="">
                            Frontend Developer
                        </p>
                    </div>

                    <div class="mb-12">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/5.jpg"
                            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20" alt=""
                            style="max-width: 100px" />

                        <p class="mb-2 font-bold text-neutral-100 dark:text-neutral-300">Lisa Ferrol</p>
                        <p class="">
                            Web designer
                        </p>
                    </div>

                    <div class="mb-12">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/6.jpg"
                            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20" alt=""
                            style="max-width: 100px" />
                        <p class="mb-2 font-bold text-neutral-100 dark:text-neutral-300">Maria Smith</p>
                        <p class="">
                            Frontend Developer
                        </p>
                    </div>
                    <div class="mb-12">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/7.jpg"
                            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20" alt=""
                            style="max-width: 100px" />
                        <p class="mb-2 font-bold text-neutral-100 dark:text-neutral-300">Agatha Bevos</p>
                        <p class="">
                            Backend Developer
                        </p>
                    </div>

                    <div class="mb-12">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.jpg"
                            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20" alt=""
                            style="max-width: 100px" />
                        <p class="mb-2 font-bold text-neutral-100 dark:text-neutral-300">Darren Randolph</p>
                        <p class="">
                            Frontend Developer
                        </p>
                    </div>

                    <div class="mb-12">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/9.jpg"
                            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20" alt=""
                            style="max-width: 100px" />
                        <p class="mb-2 font-bold text-neutral-100 dark:text-neutral-300">Soraya Letto</p>
                        <p class="">
                            Backend Developer
                        </p>
                    </div>

                    <div class="mb-12">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/10.jpg"
                            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20" alt=""
                            style="max-width: 100px" />
                        <p class="mb-2 font-bold text-neutral-100 dark:text-neutral-300">Maliha Welch</p>
                        <p class="">
                            Web designer
                        </p>
                    </div>

                    <div class="mb-12">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/11.jpg"
                            class="mx-auto mb-4 rounded-full shadow-lg dark:shadow-black/20" alt=""
                            style="max-width: 100px" />
                        <p class="mb-2 font-bold text-neutral-100 dark:text-neutral-300">Zeynep Dudley</p>
                        <p class="">
                            Backend Developer
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Design Block -->
    </div> {% endcomment %}
    <!-- Container for demo purpose -->
</body>

</html>