<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSB</title>

    <link rel="stylesheet" href="{% static 'landing_page.css' %}">
    <script src="https://kit.fontawesome.com/f6a195ab53.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>

  </head>
  <body>

    <nav class="navbar">
      <div class="max-width">
        <div class="logo">
          <a class="navbar-brand" href="#">
            <img class="img-fluid" src="{% static 'logos/logo.gif '%}" alt="IEEE_logo" width="40" height="40">
          </a>
          <a href="#"><span>IEEE </span>NSU SB.</span>
          </a>
        </div>
        <ul class="menu">
          <li><a href="{% url 'port:developers' %}" target="_blank">Developed By</a></li>
          <li><a href="https://ieeensusb.org/" target="_blank">Central Website</a></li>
        </ul>
      </div>
    </nav>

    <section class = "home" id= "home">
      <div class="max-width">
        <div class="home-content">
          <div class="text-2"><span>IEEE NSU STUDENT BRANCH</span></div>
          <div class="text-3"><span class="typing"></span></div>
          <a href="{% url 'users:login' %}" class="log_in">Log in</a>     
          <a href="{% url 'users:signup' %}" class="log_in">Sign up</a>
        </div>
      </div>
    </section>

  <script src="{% static 'landing_page.js' %}"></script>
  </body>
</html>