<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Public Relation Team | IEEE NSU Student Branch</title>
    <link rel="icon" href="{% static 'logos/logo.gif' %}"/>

    {% block common_css %}
        {% include "common_css.html" %}
    {% endblock common_css %}

    <style>
        body, html {
        
        margin: 0;
        
        align-items: center;
        justify-content: center;
        }

        .row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        }
        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
          }
          .btn-container {
            text-align: center;
          }
          
          .btn {
            max-width: 100%;
            width: auto;
            display: inline-block;
            white-space: normal; /* Allow text to wrap within the button */
            word-wrap: break-word; /* Break long words if necessary */
            font-size: 16px; /* Adjust the font size as needed */
          }
          
          /* Media query for smaller screens (adjust the breakpoint as needed) */
          @media (max-width: 768px) {
            .btn {
              width: 100%; /* Make the button full width on smaller screens */
            }
          }
        
    </style>
</head>
<body>
    <!-- ############ LAYOUT START-->
    <div class="app" id="app">

        <!-- aside -->
        <div id="aside" class="app-aside modal nav-dropdown">
  
  	        {% block sidebar %}
	            {% include 'users/sidebar.html' %}
  	        {% endblock %}
  
        </div>
        <!-- aside end -->
  
        <!-- navbar content -->
        <div id="content" class="app-content box-shadow-z0" role="main">
            {% block navbar %}
                {% include 'public_relation_team\public_relation_navbar.html' %}
            {% endblock navbar %}

        </div>
        <!--navbar content-->
        
        <!-- ############ PAGE START-->
        <div ui-view class="app-body" style="justify-content:center; margin-left:15%; margin-right:15%;" id="view">

            <!--Start from here-->
            <br>
            <h2 style="justify-content:center;text-align:center;margin-bottom:15px;"> Welcome to <span style="color:#00629B;"> <b>The Public Relations Team</b></span> of <b><span style="color:#00629B;">IEEE NSU Student Branch</b></span> </h2>
            <!--CO ORDINATORS-->
            <h3 style="justify-content:center;text-align:center;margin-bottom:15px;"> Meet our <span><b>Co-Ordinators</b></span> </h3>
            <!-- Grid row -->
            <div class="row d-flex justify-content-center">
                                        
              <!-- Grid column -->
              {% for i in co_ordinators %}
                  <div class="col-md-3 mb-4 text-center">
              
                      <div class="avatar mx-auto white" style="height: 250px; width:200px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                          <img src="/media_files/{{i.user_profile_picture}}" class="rounded shadow" style="object-fit: fill; width: 100%; height: 100%;"onerror="this.onerror=null;this.src='{% static '/images/default_profile_picture.png'%}';">
                      </div>
                      <h6 class="font-weight-bold">{{i.name}}</h6>
                      <small class="text-muted">{{i.team}} Team<br></small>
                      <small class="text-muted">{{i.contact_no}}</small>

                      <ul class="list-unstyled d-flex justify-content-center m-2">
                          <li><a href="{{i.linkedin_url}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="{{i.facebook_url}}" target="_blank"><i class="fa fa-facebook mx-2 icon-gray"></i></a></li>
                          <li><a href="mailto:{{i.email_ieee}}" target="_blank"><i class="fa fa-envelope mx-2"></i></a></li>
                      </ul>
              
              </div>
              {% endfor %}
              <!-- Grid column -->

            </div>
            <!-- Grid row -->
            <!--INCHARGES-->
            <h3 style="justify-content:center;text-align:center;margin-bottom:15px;"> Meet our <span><b>Incharges</b></span> </h3>
            <!-- Grid row -->
            <div class="row d-flex justify-content-center">
                                        
              <!-- Grid column -->
              {% for i in incharges %}
                  <div class="col-md-3 mb-4 text-center">
              
                      <div class="avatar mx-auto white" style="height: 250px; width:200px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                          <img src="/media_files/{{i.user_profile_picture}}" class="rounded shadow" style="object-fit: fill; width: 100%; height: 100%;"onerror="this.onerror=null;this.src='{% static '/images/default_profile_picture.png'%}';">
                      </div>
                      <h6 class="font-weight-bold">{{i.name}}</h6>
                      <small class="text-muted">{{i.team}} Team<br></small>
                      <small class="text-muted">{{i.contact_no}}</small>

                      <ul class="list-unstyled d-flex justify-content-center m-2">
                          <li><a href="{{i.linkedin_url}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="{{i.facebook_url}}" target="_blank"><i class="fa fa-facebook mx-2 icon-gray"></i></a></li>
                          <li><a href="mailto:{{i.email_ieee}}" target="_blank"><i class="fa fa-envelope mx-2"></i></a></li>
                      </ul>
              
              </div>
              {% endfor %}
              <!-- Grid column -->

            </div>
            <!-- Grid row -->
            <!--Core Volunteers-->
            <h3 style="justify-content:center;text-align:center;margin-bottom:15px;"> Meet our <span><b>Core Volunteers</b></span> </h3>
            <!-- Grid row -->
            <div class="row d-flex justify-content-center">
                                        
              <!-- Grid column -->
              {% for i in core_volunteers %}
                  <div class="col-md-3 mb-4 text-center">
              
                      <div class="avatar mx-auto white" style="height: 250px; width:200px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                          <img src="/media_files/{{i.user_profile_picture}}" class="rounded shadow" style="object-fit: fill; width: 100%; height: 100%;"onerror="this.onerror=null;this.src='{% static '/images/default_profile_picture.png'%}';">
                      </div>
                      <h6 class="font-weight-bold">{{i.name}}</h6>
                      <small class="text-muted">{{i.team}} Team<br></small>
                      <small class="text-muted">{{i.contact_no}}</small>

                      <ul class="list-unstyled d-flex justify-content-center m-2">
                          <li><a href="{{i.linkedin_url}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="{{i.facebook_url}}" target="_blank"><i class="fa fa-facebook mx-2 icon-gray"></i></a></li>
                          <li><a href="mailto:{{i.email_ieee}}" target="_blank"><i class="fa fa-envelope mx-2"></i></a></li>
                      </ul>
              
              </div>
              {% endfor %}
              <!-- Grid column -->

            </div>
            <!-- Grid row -->
            <!--Team Volunteers-->
            <h3 style="justify-content:center;text-align:center;margin-bottom:15px;"> Meet our <span><b>Team Volunteers</b></span> </h3>
            <!-- Grid row -->
            <div class="row d-flex justify-content-center">
                                        
              <!-- Grid column -->
              {% for i in volunteers %}
                  <div class="col-md-3 mb-4 text-center">
              
                      <div class="avatar mx-auto white" style="height: 250px; width:200px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                          <img src="/media_files/{{i.user_profile_picture}}" class="rounded shadow" style="object-fit: fill; width: 100%; height: 100%;"onerror="this.onerror=null;this.src='{% static '/images/default_profile_picture.png'%}';">
                      </div>
                      <h6 class="font-weight-bold">{{i.name}}</h6>
                      <small class="text-muted">{{i.team}} Team<br></small>
                      <small class="text-muted">{{i.contact_no}}</small>

                      <ul class="list-unstyled d-flex justify-content-center m-2">
                          <li><a href="{{i.linkedin_url}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="{{i.facebook_url}}" target="_blank"><i class="fa fa-facebook mx-2 icon-gray"></i></a></li>
                          <li><a href="mailto:{{i.email_ieee}}" target="_blank"><i class="fa fa-envelope mx-2"></i></a></li>
                      </ul>
              </div>
              {% endfor %}
              <!-- Grid column -->

            </div>
            <!-- Grid row -->
        </div>
        <!--PAGE END-->

        <!--Theme Switcher-->

        {% block theme_switcher %}
            {% include "theme_switcher.html" %}
        {% endblock theme_switcher %}
    
    </div>
    <!-- app end-->

    {% block common_js %}
        {% include "common_js.html" %}
    {% endblock common_js %}

</body>
</html>
