{% load static %}
{% block co_ordinator_card %}

<!--Co Ordinators-->
<h3 style="justify-content:center;text-align:center;margin-top:25px;margin-bottom:15px;"> Meet our <span><b>Officers</b></span> </h3>

<div class="row d-flex justify-content-center">
                            
  <!-- Grid column -->
  {% for i in sc_ag_officers %}
    {% if i.member %}
    <div class="col-md-3 mb-4 text-center">
  
      <div class="avatar mx-auto white" style="height: 250px; width:200px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
          <img src="/media_files/{{i.member.user_profile_picture}}" class="rounded shadow" style="object-fit: fill; width: 100%; height: 100%;"onerror="this.onerror=null;this.src='{% static '/images/default_profile_picture.png'%}';">
      </div>
      <h5 class="font-weight-bold">{{i.member.name}}</h5>
      <p class="font-weight-bold">{{i.position}}, {{i.team}}</p>
      <small class="text-muted">{{i.member.contact_no}}</small>

      <ul class="list-unstyled d-flex justify-content-center m-2">
          <li><a href="{{i.member.linkedin_url}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="{{i.member.facebook_url}}" target="_blank"><i class="fa fa-facebook mx-2 icon-gray"></i></a></li>
          <li><a href="mailto:{{i.member.email_ieee}}" target="_blank"><i class="fa fa-envelope mx-2"></i></a></li>
      </ul>

    </div>
    {% else %}
    <div class="col-md-3 mb-4 text-center">
  
      <div class="avatar mx-auto white" style="height: 250px; width:200px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
          <img src="/media_files/{{i.ex_member.picture}}" class="rounded shadow" style="object-fit: fill; width: 100%; height: 100%;"onerror="this.onerror=null;this.src='{% static '/images/default_profile_picture.png'%}';">
      </div>
      <h5 class="font-weight-bold">{{i.ex_member.name}}</h5>
      <p class="font-weight-bold">{{i.position}}</p>
      <small class="text-muted">{{i.ex_member.contact_no}}</small>

      <ul class="list-unstyled d-flex justify-content-center m-2">
          <li><a href="{{i.ex_member.linkedin_link}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="{{i.ex_member.facebook_link}}" target="_blank"><i class="fa fa-facebook mx-2 icon-gray"></i></a></li>
          <li><a href="mailto:{{i.ex_member.email}}" target="_blank"><i class="fa fa-envelope mx-2"></i></a></li>
      </ul>

    </div>
    {% endif %}
      
  {% endfor %}
  <!-- Grid column -->

</div>
<!-- Grid row -->

{% endblock co_ordinator_card %}