{% load static %}
{% block banner_with_numbers %}
<section id="content-section-8">
    <div class="gdlr-parallax-wrapper gdlr-background-image gdlr-show-all no-skin"
        id="gdlr-parallax-wrapper-2" data-bgspeed="0.1"
        style="background-image: url('{% static 'upload/wood-skill-bg.jpg' %}'); padding-top: 100px; padding-bottom: 70px; ">
        <div class="container">
            <div class="three columns">
                <div class="gdlr-skill-item-wrapper gdlr-skin-content gdlr-item gdlr-style-1">
                    <div class="gdlr-skill-item-title" style="color: #FFC72C;"><b>{{all_member_count}}</b></div>
                    <div class="gdlr-skill-item-divider" style="border-color: #ffffff;"></div>
                    <div class="gdlr-skill-item-caption" style="color: #FFC72C;"><b>Members</b></div>
                </div>
            </div>
            <div class="three columns">
                <div class="gdlr-skill-item-wrapper gdlr-skin-content gdlr-item gdlr-style-1">
                    <div class="gdlr-skill-item-title" style="color: #FFC72C;"><b>4</b></div>
                    <div class="gdlr-skill-item-divider" style="border-color: #ffffff;"></div>
                    <div class="gdlr-skill-item-caption" style="color: #FFC72C;"><b>Chapters & AG</b></div>
                </div>
            </div>
            <div class="three columns">
                <div class="gdlr-skill-item-wrapper gdlr-skin-content gdlr-item gdlr-style-1">
                    <div class="gdlr-skill-item-title" style="color: #FFC72C;"><b>{{event_count}}</b></div>
                    <div class="gdlr-skill-item-divider" style="border-color: #ffffff;"></div>
                    <div class="gdlr-skill-item-caption" style="color: #FFC72C;"><b>Events</b></div>
                </div>
            </div>
            <div class="three columns">
                <div class="gdlr-skill-item-wrapper gdlr-skin-content gdlr-item gdlr-style-1">
                    <div class="gdlr-skill-item-title" style="color: #FFC72C;"><b>50</b></div>
                    <div class="gdlr-skill-item-divider" style="border-color: #ffffff;"></div>
                    <div class="gdlr-skill-item-caption" style="color: #FFC72C;"><b>Achievements</b></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</section>
{% endblock banner_with_numbers %}