{% load static %}
{% block image_slider %}
<section id="content-section-1">
    <div class="gdlr-full-size-wrapper gdlr-show-all no-skin"
        style="padding-bottom: 0px;  background-color: #ffffff; ">
        <div class="gdlr-master-slider-item gdlr-slider-item gdlr-item" style="margin-bottom: 0px;">
            <!-- MasterSlider -->
            <div id="P_MS5be015858c2ca" class="master-slider-parent ms-parent-id-1">

                <!-- MasterSlider Main -->
                <div id="MS5be015858c2ca" class="master-slider ms-skin-default">
                    {% for i in banner_item %}
                    <div class="ms-slide" data-delay="7" data-fill-mode="fill">
                        <img src="{% static 'masterslider/public/assets/css/blank.gif' %}" alt="" title="" data-src="{{media_url}}{{i.banner_picture}}" />
                        <div id="gdlr-parallax-overlay"></div>
                        <div class="ms-layer  msp-cn-1-7">
                            <div class="title" style="text-transform:uppercase;">
                                {{i.first_layer_text}}<span> {{i.first_layer_text_colored}}</span>
                            </div>
                            <div class="description">
                                {{i.third_layer_text}}
                            </div>
                            <div class="links">
                                <a href="{{i.button_url}}" class="btn">{{i.button_text}}</a>
                            </div>

                        </div>

                    </div>
                    {% endfor %}



                </div>
                <!-- END MasterSlider Main -->

            </div>
            <!-- END MasterSlider -->



        </div>
        <div class="clear"></div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</section>
{% endblock image_slider %}