{% load static %}
{% block news_cards %}
<section id="content-section-10">
    <div class="gdlr-color-wrapper  gdlr-show-all no-skin"
        style="background-color: #f7f7f7; padding-top: 70px; padding-bottom: 10px; ">
        <div class="container">
            <div
                class="gdlr-item-title-wrapper gdlr-item  gdlr-nav-container gdlr-left gdlr-medium ">
                <div class="gdlr-item-title-container container">
                    <div class="gdlr-item-title-head">
                        <h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border">Recent News
                        </h3><a class="gdlr-item-title-link" href="{% url 'main_website:news' %}">Read All News</a><span
                            class="gdlr-nav-title"><i class="icon-angle-left gdlr-flex-prev"></i><i
                                class="icon-angle-right gdlr-flex-next"></i></span>
                    </div>
                </div>
            </div>
            <div class="blog-item-wrapper">
                <div class="blog-item-holder">
                    <div class="gdlr-blog-carousel-item gdlr-item">
                        <div class="flexslider" data-type="carousel"
                            data-nav-container="blog-item-wrapper" data-columns="3">
                            <ul class="slides">
                                {% comment %} Dynamic News Starts {% endcomment %}
                                {% for i in recent_news %}
                                <li class="gdlr-item gdlr-blog-grid gdlr-skin-box">
                                    <article id="post-2255"
                                        class="post-2255 post type-post status-publish format-standard has-post-thumbnail hentry category-post-slider tag-blog tag-life-style">
                                        <div class="gdlr-standard-style">
                                            <div class="gdlr-blog-thumbnail">
                                                <a href="#"><img
                                                        src="/media_files/{{i.news_picture}}"
                                                        alt="news_thumbnail" width="400" height="300"/></a>
                                            </div>

                                            <div class="gdlr-blog-grid-content">
                                                <header class="post-header">
                                                    <div class="gdlr-blog-info">
                                                        <div class="blog-info blog-date gdlr-skin-info">
                                                            <span class="gdlr-sep">/</span>
                                                            {{i.news_date}}
                                                        </div>
                                                        <div
                                                            class="blog-info blog-author gdlr-skin-info">
                                                            <span class="gdlr-sep">/</span>By IEEE NSU SB</a></div>
                                                        <div class="clear"></div>
                                                    </div>

                                                    <h3 class="gdlr-blog-title"><a href="#">{{i.news_title}}</a></h3>
                                                    <div class="clear"></div>
                                                </header>
                                                <!-- entry-header -->

                                                <div class="gdlr-blog-content">{{i.news_subtitle}}
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- #post -->
                                </li>
                                {% endfor %}
                                
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/jquery.flexslider.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.flexslider').flexslider({
            animation: 'slide',
            controlNav: true, // Set this to true to enable carousel navigation buttons
            directionNav: true,
        });
    });
</script>
{% endblock news_cards %}