{% load static %}
{% block our_vision %}
<section id="content-section-6">
    <div class="gdlr-parallax-wrapper gdlr-background-image gdlr-show-all gdlr-skin-dark-skin"
        id="gdlr-parallax-wrapper-4" data-bgspeed="0"
        style="background: #002855; padding-top: 105px; padding-bottom: 70px; ">
        <div class="container vision-container">
            <div class="six columns">
                <div class="gdlr-item-title-wrapper gdlr-item  gdlr-left gdlr-large ">
                    <div class="gdlr-item-title-container container">
                        <div class="gdlr-item-title-head">
                            <h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border">Our Vision
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="gdlr-item gdlr-content-item">
                    <p style="text-align: left; text-align: justify;">To be a leading Student Branch dedicated to the continual advancement of engineering knowledge and skills among students. Our goal is to create a dynamic environment where members can master their technical skills, network, and advance their professional careers. With an unwavering commitment to excellence, we strive to shape the future of engineering for the betterment of humanity by developing a culture of lifelong learning and empowering future leaders. Through collaborative efforts and relentless dedication, we aspire to be at the forefront of engineering education and practice, leaving a lasting impact on society and inspiring future generations.</p>
                </div>
            </div>
            <div class="">
                <img src="{% static 'logos/INSB_footer.png' %}" alt="IEEE_NSU_SB_logo"
                    style="margin: 15px;">
            </div>
        </div>
    </div>
    <div class="clear"></div>
</section>
{% endblock our_vision %}