{% load static %}
{% block testimonial %}
<section id="content-section-8">
    <div class="gdlr-color-wrapper  gdlr-show-all no-skin"
        style="background-color: #f3f3f3; padding-top: 75px; padding-bottom: 55px; ">
        <div class="container">
            <div class="one-fifth column"></div>
            <div class="three-fifth columns">
                <div class="gdlr-testimonial-item-wrapper">
                    <div class="gdlr-item-title-wrapper gdlr-item  gdlr-center gdlr-medium ">
                        <div class="gdlr-item-title-container container">
                            <div class="gdlr-item-title-head">
                                <h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border">
                                    Testimonial</h3>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-item gdlr-testimonial-item carousel large plain-style">
                        <div class="gdlr-ux gdlr-testimonial-ux">
                            <div class="flexslider" data-type="carousel"
                                data-nav-container="gdlr-testimonial-item" data-columns="1">
                                <ul class="slides">
                                    <li class="testimonial-item">
                                        <div class="testimonial-content gdlr-skin-content">
                                            <p>Nulla vitae elit libero, a pharetra augue. Vivamus
                                                sagittis lacus vel augue laoreet rutrum faucibus
                                                dolor auctor. Donec id elit non mi porta gravida at
                                                eget metus. Maecenas faucibus mollis interdum.</p>
                                        </div>
                                        <div class="testimonial-info"><span
                                                class="testimonial-author gdlr-skin-link-color">John
                                                Smoth<span>, </span></span><span
                                                class="testimonial-position gdlr-skin-info">Furniture
                                                Fact</span></div>
                                    </li>
                                    <li class="testimonial-item">
                                        <div class="testimonial-content gdlr-skin-content">
                                            <p>Nulla vitae elit libero, a pharetra augue. Vivamus
                                                sagittis lacus vel augue laoreet rutrum faucibus
                                                dolor auctor. Donec id elit non mi porta gravida at
                                                eget metus. Maecenas faucibus mollis interdum.</p>
                                        </div>
                                        <div class="testimonial-info"><span
                                                class="testimonial-author gdlr-skin-link-color">Paul
                                                Johnson<span>, </span></span><span
                                                class="testimonial-position gdlr-skin-info">Apple</span>
                                        </div>
                                    </li>
                                    <li class="testimonial-item">
                                        <div class="testimonial-content gdlr-skin-content">
                                            <p>Nulla vitae elit libero, a pharetra augue. Vivamus
                                                sagittis lacus vel augue laoreet rutrum faucibus
                                                dolor auctor. Donec id elit non mi porta gravida at
                                                eget metus. Maecenas faucibus mollis interdum.</p>
                                        </div>
                                        <div class="testimonial-info"><span
                                                class="testimonial-author gdlr-skin-link-color">Alan
                                                Smith<span>, </span></span><span
                                                class="testimonial-position gdlr-skin-info">Wooden
                                                Corp.</span></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-item-title-nav gdlr-nav-container  gdlr-center gdlr-large"><i
                            class="icon-angle-left gdlr-flex-prev"></i><i
                            class="icon-angle-right gdlr-flex-next"></i></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</section>
{% endblock testimonial %}