{% load static %}
{% block what_we_do %}
<section id="content-section-4">
    <div class="gdlr-color-wrapper  gdlr-show-all no-skin"
        style="background-color: #ffffff; padding-top: 70px; padding-bottom: 20px; ">
        <div class="container">
            <div class="four columns">
                <div class="gdlr-ux column-service-ux">
                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">
                        <div class="column-service-image"><img src="{% static 'upload/icon-service-1.png' %}"
                                alt="" width="70" height="70" /></div>
                        <div class="column-service-content-wrapper">
                            <h3 class="column-service-title">LEARNING</h3>
                            <div class="column-service-content gdlr-skin-content">
                                <p>We immerse ourselves in learning about appearing technologies traversing diverse fields such as electronics, programming, robotics, and more. Concurrently, we confront various research endeavors to foster improvement and innovation.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="gdlr-ux column-service-ux">
                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">
                        <div class="column-service-image"><img src="{% static 'upload/icon-service-2.png' %}"
                                alt="" width="70" height="70" /></div>
                        <div class="column-service-content-wrapper">
                            <h3 class="column-service-title">NETWORKING</h3>
                            <div class="column-service-content gdlr-skin-content">
                                <p>Being an INSB member offers more than just networking possibilities and exposure for advancing your professional career. It also helps you to connect with various individuals and make friends.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="gdlr-ux column-service-ux">
                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">
                        <div class="column-service-image"><img src="{% static 'upload/icon-service-4.png' %}"
                                alt="" width="70" height="70" /></div>
                        <div class="column-service-content-wrapper">
                            <h3 class="column-service-title">COMPETITIONS</h3>
                            <div class="column-service-content gdlr-skin-content">
                                <p>Engage in the numerous beneficial contests organized and accessible to students by INSB, extending your expertise and experience to boost your CV.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="four columns">
                <div class="gdlr-ux column-service-ux">
                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">
                        <div class="column-service-image"><img src="{% static 'upload/icon-service-3.png' %}"
                                alt="" width="70" height="70" /></div>
                        <div class="column-service-content-wrapper">
                            <h3 class="column-service-title">SKILL BUILDING</h3>
                            <div class="column-service-content gdlr-skin-content">
                                <p>Develop new skills and refine existing ones across a broad spectrum of options, including content writing, social media management, graphic design, user interface design, and web development.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="gdlr-ux column-service-ux">
                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">
                        <div class="column-service-image"><img src="{% static 'upload/icon-service-5.png' %}"
                                alt="" width="70" height="70" /></div>
                        <div class="column-service-content-wrapper">
                            <h3 class="column-service-title">EVENTS</h3>
                            <div class="column-service-content gdlr-skin-content">
                                <p>INSB organizes various workshops, industrial tours, seminars, and competitions, providing a prosperity of knowledge and practical experiences contributing to career development.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="gdlr-ux column-service-ux">
                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">
                        <div class="column-service-image"><img src="{% static 'upload/icon-service-6.png' %}"
                                alt="" width="70" height="70" /></div>
                        <div class="column-service-content-wrapper">
                            <h3 class="column-service-title">ACHIEVEMENTS</h3>
                            <div class="column-service-content gdlr-skin-content">
                                <p>From securing the <b>"Best Exemplary Student Branch"</b> award in Region 10 for two consecutive years to achieving first place in the IEEE R10 Web Contest, INSB has had numerous praiseworthy achievements, solidifying its position as one of the best IEEE student branches out there!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</section>
{% endblock what_we_do %}