{% load static %}
{% block what_we_do %}
<section id="content-section-4">
    <div class="gdlr-color-wrapper  gdlr-show-all no-skin"
        style="background-color: #ffffff; padding-top: 70px; padding-bottom: 20px; ">
        <div class="container">
            <div class="four columns">
                <div class="gdlr-ux column-service-ux">
                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">
                        <div class="column-service-image"><img src="{% static 'upload/icon-service-1.png' %}"
                                alt="" width="70" height="70" /></div>
                        <div class="column-service-content-wrapper">
                            <h3 class="column-service-title">LEARNING</h3>
                            <div class="column-service-content gdlr-skin-content">
                                <p>We learn about new technologies covering many fields including
                                    designing various types of electronics, programming, robotics,
                                    etc. Along with that we also conduct different types of
                                    researches to help bring progress.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="gdlr-ux column-service-ux">
                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">
                        <div class="column-service-image"><img src="{% static 'upload/icon-service-2.png' %}"
                                alt="" width="70" height="70" /></div>
                        <div class="column-service-content-wrapper">
                            <h3 class="column-service-title">NETWORKING</h3>
                            <div class="column-service-content gdlr-skin-content">
                                <p>Not only does being an INSB member provide you with networking
                                    opportunities and the correct exposure for the growth of your
                                    professional career, but it also allows you to meet diverse
                                    people and make friends.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="gdlr-ux column-service-ux">
                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">
                        <div class="column-service-image"><img src="{% static 'upload/icon-service-4.png' %}"
                                alt="" width="70" height="70" /></div>
                        <div class="column-service-content-wrapper">
                            <h3 class="column-service-title">COMPETITIONS</h3>
                            <div class="column-service-content gdlr-skin-content">
                                <p>Take part in the many beneficial contests organized and made
                                    accessible to the students by INSB and boost expertise and
                                    experience that add plus points to your CV.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="four columns">
                <div class="gdlr-ux column-service-ux">
                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">
                        <div class="column-service-image"><img src="{% static 'upload/icon-service-3.png' %}"
                                alt="" width="70" height="70" /></div>
                        <div class="column-service-content-wrapper">
                            <h3 class="column-service-title">SKILL BUILDING</h3>
                            <div class="column-service-content gdlr-skin-content">
                                <p>Earn new skills and polish existing ones from a wide range of
                                    options like content writing, social media management, graphic
                                    design, user interface design and web development.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="gdlr-ux column-service-ux">
                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">
                        <div class="column-service-image"><img src="{% static 'upload/icon-service-5.png' %}"
                                alt="" width="70" height="70" /></div>
                        <div class="column-service-content-wrapper">
                            <h3 class="column-service-title">EVENTS</h3>
                            <div class="column-service-content gdlr-skin-content">
                                <p>INSB arranges various workshops, industrial tours, seminars and
                                    competitions that not only offer a plethora of knowledge but
                                    also experiences that help build careers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="gdlr-ux column-service-ux">
                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">
                        <div class="column-service-image"><img src="{% static 'upload/icon-service-6.png' %}"
                                alt="" width="70" height="70" /></div>
                        <div class="column-service-content-wrapper">
                            <h3 class="column-service-title">ACHIEVEMENTS</h3>
                            <div class="column-service-content gdlr-skin-content">
                                <p>From winning the "Best Exemplary Student Branch" award in Region
                                    10 for two consecutive years to attaining the first position
                                    IEEE R10 Web Contest, INSB has had numerous praiseworthy
                                    achievements, proving itself as one of the best IEEE student
                                    branches out there!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</section>
{% endblock what_we_do %}