{% load static %} 
{% block edit_content_form_add_notes_content %}
<!-- CKEditor CDN -->
<script src="https://cdn.ckeditor.com/4.17.0/standard-all/ckeditor.js"></script>
<style>
  .circle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px; /* Set minimum width */
    height: 45px; /* Set minimum height */
    background-color: transparent; /* Set to transparent or any other color for the inside */
    border: 2px solid #78be20; /* Border color is green */
    border-radius: 50%;
    color: #78be20; /* Text color is green */
    font-size: 24px; /* Adjust the font size as needed */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add smooth transition effect */
  }

  .circle-btn:hover {
    background-color: #78be20; /* Hover background color is green */
    color: #fff; /* Hover text color is white */
  }

  .plus-sign::before {
    content: "+";
  }
</style>

<div class="container">
  <div class="box" style="border-radius: 6px">
    <!--heading-->
    <div class="box-header">
      {% comment %} <h1 style="text-align: center; font-size: 30px">Add Captions</h1> {% endcomment %}
    </div>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="box-body">
        {% if content_access %}
        <div class="form-group row align-items-center">
          <!--add captions-->
        <label for="captions" class="col-sm-3 form-control-label">Add Captions:</label>


        <div class="col-sm-7">
          <!-- Add input field for captions here if needed -->
        </div>


        <!--add caption button-->
        <div class="col-sm-2 d-flex align-items-center justify-content-center">
          <button
            type="button"
            class="circle-btn plus-sign"
            data-toggle="modal"
            data-target="#AddCaptionModal"></button>
        </div>
      </div>
      <hr>
        {% endif %}

        <div id="captions-container" class="mt-3">
            <!--added captions-->
          <label>Captions:</label>
          
          {% for caption in captions %}
          <div class="row container-fluid bg-light mt-3" style="margin: auto">
            <div class="col-sm-11">
              <a
                href="#"
                class="btn btn-link btn-block"
                data-toggle="modal"
                data-target="#EditCaptionModal_{{caption.pk}}">{{caption.title}}</a>
            </div>
            <div class="col-sm-1 d-flex align-items-center justify-content-center">
                {% if content_access %}
                <!--delete caption button-->
              <button
              type="button"
              class="close"
              aria-label="Close"
              data-toggle="modal"
              data-target="#ConfirmDeleteModal"
              onclick="openModal('{{caption.pk}}')">
              ✖ </button>
                {% endif %}
            </div>
          </div>
          {% endfor %}
          
        </div>

        <div class="footer" style="position: right"></div>
      </div>
    </form>
  </div>
</div>

{% if content_access %}
<!-- Updated Modal for adding captions -->
<div
  class="modal fade"
  id="AddCaptionModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="AddCaptionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCaptionModalLabel">Add Caption</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
        <div class="modal-body">
          {% csrf_token %}

          <div class="form-group">
            <label>Title:</label>
            <input
              placeholder="Title"
              class="form-control"
              type="text"
              autocomplete="off"
              required
              name="title"
              value=""
            />
            <br>
            <label>Caption: </label>
            <textarea 
            class="form-control" 
            type="text"
            name="add_content_caption_details"></textarea>
            <p id="add_content_captionCharacterCount" style="color: red;">Required</p>

            <!-- Use form-control class for full-width textarea -->
            
          </div>
        </div>
        <div class="modal-footer">
          <!-- Change the button label and name attribute -->
          <input
            type="submit"
            class="btn btn-outline-success txt-success buttons"
            name="add_caption"
            value="Add"
          />
          <button
            type="button"
            class="btn btn-outline-danger txt-danger buttons"
            data-dismiss="modal"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

<!-- New modal for editing captions -->
{% for caption in captions %}
<div
  class="modal fade"
  id="EditCaptionModal_{{caption.pk}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="EditCaptionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCaptionModalLabel">{% if content_access %}Edit{% else %}View{% endif %} Caption</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Display existing caption in a textarea for editing -->
      <form method="POST">
        <div class="modal-body">
          {% csrf_token %}
          <input
            id="update_caption_{{caption.pk}}"
            name="update_caption"
            value="{{caption.pk}}"
            type="hidden"
          />
          <div class="form-group">
            <label>Title: </label>
            <input
              placeholder="Title"
              class="form-control"
              type="text"
              autocomplete="off"
              required
              name="title"
              value="{{caption.title}}"
            {% if not content_access %}disabled{% endif %}/>
            <br>
            <label>Caption: </label>
            <textarea 
            class="form-control" 
            type="text"
            name="content_caption_details_{{caption.pk}}" {% if not content_access %}disabled{% endif %}>{{caption.caption|safe}}</textarea>
            <p id="content_captionCharacterCount" style="color: red;">Required</p>
          </div>
        </div>
        <div class="modal-footer">
          {% if content_access %}
          <input
            type="submit"
            name="update"
            class="btn btn-outline-primary txt-primary"
            value="Update"
          />
          {% endif %}
          <button
            type="button"
            class="btn btn-outline-secondary"
            data-dismiss="modal"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}

<!-- Confirmation modal for delete -->
<div
  class="modal fade"
  id="ConfirmDeleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ConfirmDeleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-top" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
        <div class="modal-body">
          {% csrf_token %}
          <p><input id="remove_caption" name="remove_caption" type="hidden" /></p>
          Are you sure you want to delete the caption?
        </div>
        <div class="modal-footer">
          <input
            type="submit"
            name="remove"
            class="btn btn-outline-danger"
            value="Confirm"
          />
          <button
            type="button"
            class="btn btn-outline-secondary"
            data-dismiss="modal"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function openModal(remove_caption) {
    // Set data in the modal
    var inputElement = document.getElementById("remove_caption");
    inputElement.value = remove_caption;
  }
</script>
<!--Script for CKEditor Control-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
      // Replace the textareas with CKEditor instances
      CKEDITOR.replace('add_content_caption_details');
      {% for caption in captions %}
      CKEDITOR.replace('content_caption_details_{{caption.pk}}');
      {% endfor %}

      // Attach a function to the change event for each CKEditor instance
      ["content_caption","add_content_caption"]
          .forEach(function (editorId) {
              var editor = CKEDITOR.instances[editorId + '_details'];

              editor.on('change', function () {
                  // Update character count display for each CKEditor instance
                  updateCharacterCount(editorId);
              });

              // Update character count initially
              updateCharacterCount(editorId);
          });
  });

  function updateCharacterCount(editorId) {
      var editorContent = CKEDITOR.instances[editorId + '_details'].getData();
  
      // Handle special space representations
      var cleanedContent = editorContent.replace(/<[^>]*>/g, '').replace(/&nbsp;/g, ' ').trim();
  
      // Count each character (including spaces)
      var characterCount = cleanedContent.length;
  
      var characterCountElement = document.getElementById(editorId + 'CharacterCount');
  
      // Check conditions and update text color and content
      if (characterCount === 0) {
          characterCountElement.style.color = "red";
          characterCountElement.innerText = "Required";
      } else {
          characterCountElement.style.color = "black";
          characterCountElement.innerText = "Character Count: " + characterCount;
      }
  }
</script>
{% endblock edit_content_form_add_notes_content %}
