{% load static %} 
{% block content_edit_form_content %}
<link rel="stylesheet" href="{% static '/assets/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
<style>
      .icon_position{
        position: relative;
        bottom: 30px;
        left: 95%;
      }
      .update_cancel{
        text-align: center;
        position: sticky;
        top: 88px;
        background: white;
        padding-top: 16px;
        z-index: 1000;
    }
</style>
<div class="container">
  <div class="box" style="border-radius: 6px;">
        <!--Heading-->
        <div class="box-header">
            <h1 style="text-align: center; font-size: 30px;
            font-weight: bold;
            margin-top: 23px;">{% if has_content_access %}Update{% else %}View{% endif %} Content</h1>
        </div>

        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="box-body">
          {% if has_content_access %}
          <!--save button-->
          <div class="form-group text-center update_cancel">
            <button type="submit" name="update" class="btn btn-outline-success mb-2">Update Changes</button>
            <a href="{% url 'content_writing_and_publications_team:content_page' %}" class="btn btn-outline-danger mb-2">Cancel</a>
          </div>
          {% endif %}
            <!--title-->
            <div class="form-group">
                <label>Title: <span style="color:red">*<span></label> 
                <input
                    placeholder="Title"
                    class="form-control"
                    type="text"
                    autocomplete="off"
                    required
                    name="content_title"
                    value="{{content.title}}" {% if not has_content_access %}disabled{% endif %}/>
            </div>


            <!--description-->
            <div class="form-group">
                <label>Description: <span style="color:red">*<span></label> 
                <textarea class="form-control" type="text" name="content_description_details" {% if not has_content_access %}disabled{% endif %}>{{content.description}}</textarea>
                <p id="content_descriptionCharacterCount" style="color: red;"></p>
            </div>


            <!--drive link-->
            <div class="form-group">
            <label>Folder Drive Link For Documents</label>
            <input
                placeholder="Drive link"
                class="form-control"
                type="url"
                autocomplete="off"
                id="field1"
                value="{{content.documents_link}}"
                name="drive_link_of_documents" {% if not has_content_access %}disabled{% endif %}/>
                <a href="{{drive_link_of_documents.documents_link}}" class="icon_position"><i class="fa fa-external-link" aria-hidden="true"></i></i></a>
              </div>

            {% if has_content_access %}
            <!--upload doc-->
            <div class="form-group">
              <label for="documents">Upload Documents:</label>
              <div class="custom-file">
                  <input type="file" class="custom-file-input" id="content-doc-input" name="document" accept=".doc, .docx, .pdf" multiple>
                  <label class="custom-file-label bg-light" for="content-doc-input">Choose files</label>
              </div>
              
              <br>
              
              <div id="content-selected-docs-container"></div>
              <input type="hidden" name="selected_documents" id="content-selected-documents">
              <small class="form-text text-muted mt-1">Hold down the Ctrl (Windows) or Command (Mac) button to select multiple documents.</small>
            </div>
            {% endif %}

          <!--files-->
          <div flex-direction="column" justify-content="flex-end">
              <label>Files:</label>
              {% for document in content_docs %}
              <div class="row container-fluid bg-light mt-3" style="margin:auto;">
                  <div class="col-sm-11 text-left">
                      <a href="{{media_url}}{{document.document}}" class="btn btn-link btn-block" target="_blank" rel="noopener noreferrer">{{document.document}}</a>
                  </div>
                  {% if has_content_access %}
                  <div class="col-sm-1 d-flex align-items-center justify-content-center">
                    <button type="button" class="close" aria-label="Close" data-toggle="modal" data-target="#ConfirmDeleteModal" onclick="openModal('{{document.pk}}')">✖</button>
                  </div>
                  {% endif %}
              </div>
              {% endfor %}
          </div>
       

          
        </div>
        </form>
  </div>
</div>

{% if has_content_access %}
<!-- Confirmation modal for delete -->
<div
  class="modal fade"
  id="ConfirmDeleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ConfirmDeleteModalLabel"
  aria-hidden="true">
  
  <div class="modal-dialog modal-dialog-top" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
        <div class="modal-body">
          {% csrf_token %}
          <p><input id="remove_doc" name="remove_doc" type="hidden" /></p>
          Are you sure you want to delete this content?
        </div>
        <div class="modal-footer">
          <input 
            type="submit"
            name="remove"
            class=" btn btn-outline-secondary b-success text-success"
            value="Confirm"
          />
          <button
            type="button"
            class="btn btn-outline-danger"
            data-dismiss="modal"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

<script>
  // Function to update the selected documents container
  function updateSelectedDocuments() {
      var selectedDocumentsContainer = document.getElementById('content-selected-docs-container');
      var selectedDocumentsInput = document.getElementById('content-selected-documents');
      var inputFiles = document.getElementById('content-doc-input').files;

      // Clear the container
      selectedDocumentsContainer.innerHTML = '';

      // Update the container with selected document links
      for (var i = 0; i < inputFiles.length; i++) {
          var documentLink = document.createElement('a');
          documentLink.href = '#'; // Set the link href accordingly
          documentLink.className = 'btn btn-link btn-block';
          documentLink.textContent = inputFiles[i].name;
          selectedDocumentsContainer.appendChild(documentLink);

          // Add a line break after each link
          selectedDocumentsContainer.appendChild(document.createElement('br'));

          // Update the hidden input with selected document names
          selectedDocumentsInput.value += inputFiles[i].name + ',';
      }
  }

  // Attach the updateSelectedDocuments function to the file input change event
  document.getElementById('content-doc-input').addEventListener('change', updateSelectedDocuments);
</script>

<script>
  function openModal(remove_doc) {
    // Set data in the modal
    var inputElement = document.getElementById("remove_doc");
    inputElement.value = remove_doc;
  }
</script>

<!--Script to handle file name showing when choosing file-->
<script type="text/javascript">

  $('.custom-file input').change(function (e) {
      var files = [];
      for (var i = 0; i < $(this)[0].files.length; i++) {
          files.push($(this)[0].files[i].name);
      }
      $(this).next('.custom-file-label').html(files.join(', '));
  });

</script>
{% endblock content_edit_form_content %}