{% load static %}
{% block event_edit_tab %}
<style>
    .tab a.active {
        color: green;
        background-color: yellow;
    }

    .tabs li:hover {
        transition: all 0.3s ease-in-out;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the current page's URL
        const currentPageUrl = window.location.href;
      
        // Find the links in the navigation bar
        const tabs = document.querySelectorAll(".tabs li");
      
        // Loop through the tabs and add a "active" class to the matching tab
        tabs.forEach(function (tab) {
          const link = tab.querySelector("a");
          if (link.href === currentPageUrl) {
            link.classList.add("active");
          }
          
          // Add click event listener to the entire tab
          tab.addEventListener("click", function() {
            window.location.href = link.href;
          });
        });
    });
</script>

<div class="tabs-container" style="display: flex; flex-direction: column;">
    <ul class="tabs" style="display: flex; margin-right: 0px; justify-content: center;">
        {% if is_branch %}
        <li class="tab"><a href="{% url 'central_branch:mega_event_edit' mega_event.pk %}">Edit</a></li>
        <li class="tab" style="border-right: 1px solid #00629B;"><a href="{% url 'central_branch:mega_event_add_event' mega_event.pk %}">Add Events</a></li>
        {% else %}
        <li class="tab"><a href="{% url 'chapters_and_affinity_group:mega_event_edit' primary mega_event.pk %}">Edit</a></li>
        <li class="tab" style="border-right: 1px solid #00629B;"><a href="{% url 'chapters_and_affinity_group:mega_event_add_event' primary mega_event.pk%}">Add Events</a></li>
        {% endif %}
    </ul>
    <br>
</div>

{% endblock event_edit_tab %}
