{% load static %}
{% block super_event_add_event_form_tab_content %}

<link rel="stylesheet" href="{% static 'newTable.css' %}" type="text/css" />

<style>


    .circle-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px; /* Set minimum width */
        height: 45px; /* Set minimum height */
        background-color: transparent; /* Set to transparent or any other color for the inside */
        border: 2px solid #78BE20; /* Border color is green */
        border-radius: 50%;
        color: #78BE20; /* Text color is green */
        font-size: 24px; /* Adjust the font size as needed */
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s; /* Add smooth transition effect */
    }

    .circle-btn:hover {
        background-color: #78BE20; /* Hover background color is green */
        color: #fff; /* Hover text color is white */
    }

    .plus-sign::before {
        content: '+';
    }
    

    .modal-dialog.modal-dialog-centered.modal-lg.preview_modal_box{
        max-width: 80%; 
        height: 90%; 
        z-index: 1500;
    }
    @media screen and (max-width:700px){
        .modal-dialog.modal-dialog-centered.modal-lg.preview_modal_box{
            max-width:100%;
        }
    }
    
  </style>

<div class="container">
    <!--for error messages-->
    {% for message in messages  %}
        <p>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p style="margin: 0;">{{message}}</p>
            </div>
        </p>
    {% endfor %}
    <!--for error messages end-->


    <div class="box">
        <br>

        <div class="box-header">
            <h1 style="text-align:center;font-size:30px;">Add Events to {{mega_event.super_event_name}}</h1>
        </div>

        

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="box-body">
                
                <div class="form-group row align-items-center">
                    <label for="events" class="col-sm-3 form-control-label">Add Events:</label>
                    <div class="col-sm-7">
                        <!-- Add input field for events here if needed -->
                    </div>
                    <div class="col-sm-2 d-flex align-items-center justify-content-center">
                        <button type="button" class="circle-btn plus-sign" data-toggle="modal" data-target="#AddEventModal"></button>
                    </div>
                </div>
                
                <hr>
                <div id="events-container" class="mt-3">
                    <label>Events:</label> 
                    {% for event in events_of_mega_event %}
                    <div class="row container-fluid bg-light mt-3" style="margin:auto;">
                        <div class="col-sm-11">
                            <a href="{% url 'central_branch:event_edit_form' event.id %}" class="btn btn-link btn-block">{{event.event_name}}</a>
                        </div>
                        <div class="col-sm-1 d-flex align-items-center justify-content-center">
                            <button type="button" class="close" aria-label="Close" data-toggle="modal" data-target="#ConfirmDeleteModal" onclick="openModal('{{event.pk}}')">✖</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                    
        
                <br>
                <div class="footer" style="position:right;">
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Updated Modal for adding events -->
<div class="modal fade" id="AddEventModal" tabindex="-1" role="dialog" aria-labelledby="AddCaptionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="z-index=10000000;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Events to {{mega_event.super_event_name}}</h5>
            </div>


            <!--Search table-->
            <form method="POST">
                {% csrf_token %}
                <!--Events Table-->
                <div style="text-align:center; margin:15px;">  
                    <div class="container" style="justify-content:center;">
                        <div class="header_wrap">
                            <div class="num_rows">
                        
                            <div class="form-group">
                                <!--		Show Numbers Of Rows 		-->
                                <select class="form-control" name="state" id="maxRows">
                        
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="5000">Show ALL Rows</option>
                                </select>
                        
                            </div>
                            </div>
                            <div class="tb_search">
                            <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="form-control">
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-class" id="table-id">
                        
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Event Name</th>
                                        <th>Event Organiser</th>
                                        <th>Collaboration With</th>
                                        <th>Date of Event</th>
                                        <th>Select</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in events.items %}
                                    <tr>
                                      <td>{{ forloop.counter }}</td>
                                        {% if is_branch %}
                                        <td><a class="event_name_column_content" style="color:blue;" href="{% url 'central_branch:event_edit_form' key.id %}">{{key.event_name }}</a></td>
                                        {% else %}
                                        <td><a class="event_name_column_content" style="color:blue;" href="{% url 'chapters_and_affinity_group:event_edit_form' sc_ag_info.primary key.id %}">{{key.event_name }}</a></td>
                                        {% endif %}
                                        <td>{{ key.event_organiser.group_name }}</td>
                                        <td>
                                          {% for collabs in value %}
                                          <ul style="list-style-type: none; text-align:left;">
                                                <li>{{ collabs }}</li>
                                          </ul>
                                        
                                          {% endfor %}
                                        </td>
                                        <td>{{ key.event_date }}</td>
                                        <td>
                                            <input type="checkbox" name="selected_events" value="{{ key.pk }}" >
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    
                                  <tbody>
                            </table>
                        </div>
                        <!--		Start Pagination -->
                        <div class='pagination-container'>
                            <nav>
                                <ul class="pagination">
                                    <!--	Here the JS Function Will Add the Rows -->
                                </ul>
                            </nav>
                        </div>
                        <div class="rows_count">Showing 11 to 20 of 91 entries</div>    
                            
                    </div>
                </div>

                <!--Events table end-->
            
                <div class="modal-footer">
                    <input type="submit" class="btn btn-outline-success txt-success buttons" name="add_event_to_mega_event" value="Add">
                    <button  class="btn btn-outline-danger" data-dismiss="modal">Cancel</button> 
                </div>
            </form>

        </div><!-- /.modal-content -->
    </div>
</div>



<!-- Confirmation modal for delete -->
<div class="modal fade" id="ConfirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmDeleteModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-top" role="document">
    <form method="POST">
        {% csrf_token %}
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <div class="modal-body">
            
            <p><input id="remove_event" name= "remove_event" type="hidden"></p>
            Are you sure you want to remove the event?
        </div>
        <div class="modal-footer">
            <input type="submit" name="remove" class="btn btn-outline-danger" value="Confirm" >
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </div>
    </form>
</div>
</div>

<script src="{% static 'table_search.js'%}"></script>

<script>
    function openModal(remove_note) {
        // Set data in the modal
        var inputElement = document.getElementById('remove_event');    
        inputElement.value=remove_note;
    }
</script>


{% endblock super_event_add_event_form_tab_content  %}