{% load static %}
{% block super_event_edit_form_content %}
    <!-- CKEditor CDN -->
    <script src="https://cdn.ckeditor.com/4.17.0/standard-all/ckeditor.js"></script>

    <div class="container" >
        <div class="box">
            <div class="box-header" style="text-align:center;">
                <br>
                <h1>Mega Event Edit Form</h1>
            </div>

            <form method="POST">
                {% csrf_token %}
                <div class="box-body">
                    <div class="form-group">
                        <label>Name <span style="color:red">*<span></label>
                        <input 
                            type="text" 
                            name="super_event_name" 
                            class="form-control w-100" 
                            placeholder="Event Name"
                            autocomplete="off"
                            required/>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea type="text" name="super_event_description" placeholder="Write within 500 words"
                            class="form-control" rows="10"></textarea>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="">Add a Probable Date For the Event</label>
                        <input type="date" name="probable_date" class="form-control w-100" />
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="">Add Final Date For the Event (If finalised)</label>
                        <input type="date" name="final_date" class="form-control w-100" />
                    </div>
                    <br>
                    <div style="text-align: center;">
                        {% comment %} {% if is_branch %} {% endcomment %}
                        <a href="{% url 'central_branch:event_control' %}" class="btn btn-outline b-danger text-danger">Cancel</a>
                        {% comment %} {% else %}
                        <a href="{% url 'chapters_and_affinity_group:event_control_homepage' sc_ag_info.primary %}" class="btn btn-outline b-danger text-danger">Cancel</a>
                        {% endif %} {% endcomment %}
                        <input type="submit" value="Submit" name="Submit" class="btn btn-outline b-success text-success">
                    </div>
                    <br>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Replace the textareas with CKEditor instances
            CKEDITOR.replace('super_event_description');
        });
    </script>
{% endblock super_event_edit_form_content %}
