{% load static %}

{% block news_card_container %}

<style>

    {% comment %} .achievement_card{
        height: 425px;
    } {% endcomment %}

    .card-img-top {
        object-fit: cover;
        height: 250px; /* Set a fixed height for the image */
    }

    .card-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Show 2 lines of text */
        -webkit-box-orient: vertical;
    }

    .description-container {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .description-container.collapsed,
    .card-title.collapsed {
        -webkit-line-clamp: unset;
    }
</style>
<div class="container">
    <div class="row m-0">

        <!-- Repeat the card -->
        {% for i in all_news %}
        <div class="col-lg-4 col-md-6 col-sm-12 mt-5 content">
            <div class="card shadow achievement_card">
                <a href="{% url 'main_website:news_description' i.pk %}"><img class="card-img-top" src="/media_files/{{i.news_picture}}" alt="news_thumbnail"></a>

                <div class="card-body">
                    <a href="{% url 'main_website:news_description' i.pk %}"><h5 class="card-title fw-bold mt-2">{{i.news_title}}<br></h5></a>
                    <div class="description-container">
                        <p class="card-text">{{i.news_description|safe}}</p>
                    </div>
                    <a href="#" class="read-more-link" >Read More</a>

                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-5 content">
            <div class="card shadow achievement_card">
                <a href="{% url 'main_website:news_description' i.pk %}"><img class="card-img-top" src="/media_files/{{i.news_picture}}" alt="news_thumbnail"></a>

                <div class="card-body">
                    <a href="{% url 'main_website:news_description' i.pk %}"><h5 class="card-title fw-bold mt-2">{{i.news_title}}<br></h5></a>
                    <div class="description-container">
                        <p class="card-text">{{i.news_description|safe}}</p>
                    </div>
                    <a href="#" class="read-more-link" >Read More</a>

                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-5 content">
            <div class="card shadow achievement_card">
                <a href="{% url 'main_website:news_description' i.pk %}"><img class="card-img-top" src="/media_files/{{i.news_picture}}" alt="news_thumbnail"></a>

                <div class="card-body">
                    <a href="{% url 'main_website:news_description' i.pk %}"><h5 class="card-title fw-bold mt-2">{{i.news_title}}<br></h5></a>
                    <div class="description-container">
                        <p class="card-text">{{i.news_description|safe}}</p>
                    </div>
                    <a href="#" class="read-more-link" >Read More</a>

                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br><br>
<div class="text-center">
    <div class="btn btn-outline-primary px-5 py-2 mb-5"  id="loadMore">Load more</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".read-more-link").click(function (event) {
            event.preventDefault();

            var cardBody = $(this).closest(".card-body");
            var cardText = cardBody.find(".description-container");
            var cardTitle = cardBody.find(".card-title");
            var card = cardBody.closest(".card");

            cardText.toggleClass("collapsed");
            cardTitle.toggleClass("collapsed");

            // Check if any card text is collapsed
            var isCollapsed = card.find(".description-container.collapsed").length > 0;

            // Set card height based on collapsed state
            card.css("height", isCollapsed ? "auto" : "425px");

            // Change the link text based on collapsed state
            var linkText = isCollapsed ? "Read Less" : "Read More";
            $(this).text(linkText);
        });
    });
</script>
    <!-- News load more script -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        var contents = document.getElementsByClassName("content");
        var loadMore = document.getElementById("loadMore");

        var startIndex = 0;
        var itemsToShow = 3;

        function showNextItems() {
            for (var i = startIndex; i < startIndex + itemsToShow; i++) {
            if (contents[i]) {
                contents[i].classList.add('d-block')
            }
            }
            startIndex += itemsToShow;
            
            if (startIndex >= contents.length) {
            loadMore.textContent = "No Content";
            loadMore.classList.add("noContent");
            loadMore.removeEventListener("click", showNextItems);
            }
        }

        loadMore.addEventListener("click", showNextItems);

        showNextItems();
        });

    </script>

{% endblock news_card_container %}