.txt-hd{
    color: #ffffff;
}
label{
    color: white;
    font-size: 25px;
}
.row{
    color: yellow;
}

.list{
    align-items: center;
    list-style-type: none;
    display: inline-block;
}
.links{
    text-decoration: none;
    

}