{% load static %}
{% block event_details_form %}

    <div class="container">
        <div class="box">
            <br>
            <div class="box-header" style="text-align:center;">
                <h1>Provide Event Details</h1>
            </div>
            <!--Error Message-->
            <div class="py-3 text-center">
                {% for message in messages %}
                    <p style="color:red" class="message">{{message}}</p>
                {% endfor %}
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="box-body">
                    <div class="form-group">
                        <label>Event Name: <span style="color:red">*<span></label> 
                        <input
                            placeholder="Event Name"
                            class="form-control"
                            type="text"
                            autocomplete="off"
                            required
                            name="event_name"/>
                    </div>
                    <br>
                    <div class="form-group">
                        {{form.media}}
                        {{form.as_p}}
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Super Event of</label>    
                        <select multiple class="form-control" name="super_event">
                        <option selected value="null">--------------------</option>
                        {% for super_event in super_events %}
                            <option value={{super_event.id}}>{{super_event.super_event_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label>Select Event Type: <span style="color:red">*<span></label>
                        <select multiple class="form-control" name="event_type" required>
                        <option selected value="null">--------------------</option>
                            {% for event_type in event_types %}
                            <option value={{event_type.id}}>{{event_type.event_category}}</option>
                            {% endfor %}
                        </select>
                        <button type="button" class="btn btn-outline-success buttons mt-2" data-toggle="modal" data-target="#EventTypeModal">Add Event Type</button>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="exampleInputPassword3">Add a date for the Event</label>
                        <input
                            placeholder="Event Date"
                            name="event_date"
                            type="date"
                            class="form-control"
                        />
                    </div>
                    <br>  
                    <div style="text-align: center;">
                        {% if is_branch %}
                        <a href="{% url 'central_branch:event_control' %}" class="btn btn-outline b-danger text-danger">Cancel</a>
                        {% else %}
                        <a href="{% url 'chapters_and_affinity_group:event_control_homepage' sc_ag_info.primary %}" class="btn btn-outline b-danger text-danger">Cancel</a>
                        {% endif %}
                        <input type="submit" name="next" class="btn btn-outline b-success text-success" value="Continue to Collaborations Tab">
                    </div>
                    <br> 
                </div>
            </form>
        </div>
                
    </div>

    <div class="modal fade" id="EventTypeModal" tabindex="-1" role="dialog" aria-labelledby="EventTypeModalLabel" aria-hidden="true">
        
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add Event Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <form method="POST">
                    {% csrf_token %}
                  
                  <label for="label">Event Type:</label>
                  <input type="text" id="label" name="event_type">
                </div>
                <div class="modal-footer">
                  <input type="submit" class="btn btn-outline-success txt-success buttons" name="add_event_type" value="Add">
                  <button  class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
  
                </div>
              </form>
            </div>
        </div>
      </div>

{% endblock event_details_form %}