{% load static %}

{% block intructions %}
<div  style="margin-left:0px; font-size:1rem;">
    <br>
    <h6>Go through the Instructions given below before you start creating an Event:</h6>
    <!--List Start-->
    <div style="margin-right:25px;justify-content:center;text-align:justify;">
    
    <ol>
        <li> There are <span><b>3 Tabs </b></span> to create a event. Visit all 3 to add all details for the event.</li>
        <li> You can keep the Event Description short as it can be updated later from Content Writing & Publications Team.</li>
        <li> Final Event Creation Button is on the Venue & Permissions Tab.</li>
        <li> The created event will not be visible in the main Website until the Event is Published from the Portal. you can find the publishing option in the Event Description.</li>
        <li> You can assign tasks to different teams to contribute in the event later from the Event Details Page</li>
    </ol>
    </div>
    <!--List End-->
</div>




{% endblock intructions %}
