.tabs-container {
    display: flex;
    
}

.tabs {
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tabs li {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-right: none;
    width: 65%;
}

.tabs li:hover {
    background-color: #ddd;
}

.tabs li.active {
    background-color: red;
    border: 2px solid #0000;
    border-right: none;
}

.tab-content {
    flex: 2;
    padding: 20px;
    border: 5px solid #ddd;
    
}

/* Responsive styling */
@media (max-width: 768px) {
    .tabs {
        flex-direction: column;
    }
}