<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branch-Event Creation Form- PT3</title>
    <link rel="stylesheet" href="{% static 'event_form.css' %}">
</head>

<body>
    <div class="event_form">
        <div class="title">
            Probable Venue Selection and Permission Needs
        </div>
        <div class="form">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="inputfield">

                    <label for="">Select Probable Venues For the Event</label>
                    <div class="custom_select multiple">

                        <select name="event_venues" multiple>
                            {% for venue in venues %}
                            <option value={{venue.id}}>{{venue.venue_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="inputfield">
                    <label for="">Select Permission Criterias For the Event</label>
                    <div class="custom_select multiple">
                        <select name="permission_criteria" multiple>
                            <option value="null" selected>----------</option>
                            {% for permission in permission_criterias %}
                            <option value={{permission.id}}>{{permission.permission_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="inputfield btn">
                    <input type="submit" value="Go Back" name="go_back" class="btn">
                    <input type="submit" value="Next" name="next" class="btn">
                </div>
            </form>
        </div>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    </div>
</body>

</html>