{% block stats %}
{% load static %}
<style>
    #chart {
        max-width: 650px;
        margin: 35px auto;
      }
</style>
<div class="row" style="justify-content:center;">
    <div id="main" style="width: 600px;height:400px;"></div>
</div>

<script>
    var options = {
        chart: {
          type: 'bar'
        },
        series: [{
          name: 'sales',
          data: [30,40,45,50,49,60,70,91,125]
        }],
        xaxis: {
          categories: [1991,1992,1993,1994,1995,1996,1997, 1998,1999]
        }
      }
      
      var chart = new ApexCharts(document.querySelector("#chart"), options);
      
      chart.render();

</script>

<script type="text/javascript">
    // Initialize the echarts instance based on the prepared dom
    var myChart = echarts.init(document.getElementById('main'));
    var option;
    // Specify the configuration items and data for the chart
    option = {
        title: {
          text: 'Member Statistics of IEEE NSU Student Branch',
          subtext: 'Based on IEEE NSU SB Portal Data since 2023',
          left: 'center'
        },
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
          left: 'center',
          top: 'bottom',
          data: [
            'rose1',
            'rose2',
            'rose3',
            'rose4',
          ]
        },
        toolbox: {
          show: true,
          feature: {
            mark: { show: true },
            dataView: { show: true, readOnly: false },
            restore: { show: true },
            saveAsImage: { show: true }
          }
        },
        series: [
          {
            type: 'pie',
            radius: [20, 140],
            center: ['50%', '50%'],
            roseType: 'area',
            itemStyle: {
              borderRadius: 5
            },
            data: [
              { value: "{{male_count}}", name: 'Male Members' },
              { value: "{{female_count}}", name: 'Female Members' },
              { value: "{{female_count}}", name: 'Active Members' },
              { value: "{{female_count}}", name: 'Inactive Members' },
            ]
          }
        ]
      };

    // Display the chart using the configuration items and data just specified.
    myChart.setOption(option);
  </script>
{% endblock stats %}
