<!DOCTYPE html>

<html>
    <head>
        <title>Research papers - IEEE NSU SB</title>
    </head>
    <body>
        <h1>Reseach Papers </h1>
        <br><br><br>
        {% for research in research_paper %}
        <div>
            <img src="/media_files/{{research.research_banner_picture}}" alt="Reseach Picture" width="280px" height="280px">
        </div>
        <div>
            {{research.title}}
        </div>
        <div>
            Writers:
            {{research.author_names}}
        </div>
        <div>
            <a href="{{research.publication_link}}">Read the Paper</a>
        </div>
        <br><br>
        {% endfor %}
        
        <br><br>
    </body>
</html>