<!DOCTYPE html>

<html>
    <head>
        <title>Blogs- IEEE NSU SB</title>
    </head>
    <body>
        <h1>Blogs </h1>
        <br><br><br>
        {% for blog in blogs %}
        <div>
            <img src="/User Files/{{blog.Blog_picture}}" alt="Blog Picture">
        </div>
        <br>
        <div>
            Blog title:<a href="{% url 'main_website:blog_Description' blog.slug %}"> {{blog.Title}}</a><br>
            Blog Date:{{blog.Date}} <br>
            {% if blog.Category == None %}
            Blog Category: Uncatagorized <br>
            {% else %}
            Blog Category: {{blog.Category}} <br>
            {% endif %}
            Published By:{{blog.Publisher}}<br>
            By, {{blog.Society_Affinity}}
        </div>
        <br><br>
        {% endfor %}  
        <br><br>
    </body>
</html>