{% load static %}
{% block common_css %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/superfish.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/component.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/font-awesome.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/jquery.fancybox.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/flexslider.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/style-responsive.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'masterslider/public/assets/css/masterslider.main.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/masterslider-custom.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/style-custom.css' %}" type='text/css' media='all' />
<link href="https://fonts.googleapis.com/css?family=Raleway:300|Lato:regular|Crete+Round:regular" rel="stylesheet"
    property="stylesheet" type="text/css" media="all">
{% endblock common_css %}