{% load static %}
{% block common_css %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
rel="stylesheet">
<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/superfish.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/component.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/font-awesome.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/elegantfont.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/jquery.fancybox.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/flexslider.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/style-responsive.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/style-custom.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/masterslider.main.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/masterslider-custom.css' %}" type='text/css' media='all' />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock common_css %}
<style>
    #gdlr-parallax-wrapper-2 {
        position: relative;
    }
    /* banner_with_numbers_overlay */
    #gdlr-parallax-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background: rgb(202 227 255 / 50%);     */
        z-index: 1;
    }

    .button-15 {
        background-image: linear-gradient(#00629B, #00629D);
        border: 1px solid #0077CC;
        border-radius: 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        direction: ltr;
        display: block;
        letter-spacing: -.022em;
        line-height: 1.47059;
        min-width: 30px;
        overflow: visible;
        padding: 4px 10px;
        text-align: center;
        vertical-align: baseline;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        margin-top: -3px;
      }
      
      .button-15:disabled {
        cursor: default;
        opacity: .3;
      }
      
      .button-15:hover {
        background-image: linear-gradient(#51A9EE, #147BCD);
        text-decoration: none;
      }
      
      .container.container-card{
        display: flex;
        justify-content: space-evenly;
      }
      @media screen and (max-width: 770px) {
        .container.container-card{
          display: block;
        }
      }
</style>