{% load static %}
{% block header %}
<style>
    a.active {
        color: yellow;
    }

    /* @media screen and (max-width: 1199px) {
        .gdlr-header-wrapper .gdlr-header-inner.header-inner-header-style-5 .gdlr-header-container.container{
            display: none;
            flex-direction: column;
            align-items: center;
        }
        .gdlr-navigation-wrapper{
            margin-top: 0;
        }
        .container{
            max-width: 960px;
        }
        .gdlr-navigation-wrapper .gdlr-main-menu>li{
            padding-left: 0;
        }
        .gdlr-navigation-wrapper .gdlr-main-menu>li>a.sf-with-ul-pre, .gdlr-navigation-wrapper .gdlr-main-menu>li>a.sf-with-ul{
            padding-right: 0;
        }
        body .gdlr-navigation-wrapper .gdlr-main-menu>li>a{
            padding-left: 20px;
        }
    } */
    .gdlr-header-inner, .gdlr-header-wrapper.header-style-2-wrapper .gdlr-header-inner-overlay {
        background-color: #002855;
    }
    @media screen and (max-width:1199px) {
        .gdlr-header-container.container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    @media screen and (max-width:1194px) {
        .gdlr-navigation-wrapper {
            margin-top: 0;
        }
    }

    @media screen and (max-width:1100px) {
        .gdlr-navigation-wrapper {
            margin-top: 0;
        }
    }

    @media only screen and (max-width: 1050px) {
        body .gdlr-navigation-wrapper .gdlr-main-menu>li>a {
            padding-left: 17px;
        }
    }

    @media screen and (max-width:767px) {
        .gdlr-header-container.container {
            display: block;
        }
    }

    @media (min-width: 768px) {
        .gdlr-header-container.container {
            max-width: 1140px;
            width: 100%;
        }
    }

    @media (min-width: 576px) {
        .gdlr-header-container.container {
            max-width: 1140px;
        }
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the current page's URL
        const currentPageUrl = window.location.href;

        // Find the links in the navigation bar
        const navLinks = document.querySelectorAll("a");

        // Loop through the links and add a "active" class to the matching link
        navLinks.forEach(function (link) {
            if (link.href === currentPageUrl) {
                link.classList.add("current-menu-item");
            }
        });
    });
</script>
<header class="gdlr-header-wrapper header-style-5-wrapper gdlr-header-with-top-bar">
    <!-- top navigation -->
    <div id="gdlr-header-substitute"></div>
    <div class="gdlr-header-inner header-inner-header-style-5">
        <div class="gdlr-header-container container">
            <div class="gdlr-header-inner-overlay"></div>

            <!-- logo -->
            <div class="gdlr-logo">
                <div class="gdlr-logo-inner">
                    <a href="{% url 'main_website:homepage' %}">
                        <img src="{% static 'logos/logo.gif' %}" alt="" style="max-width: 40px;" /> </a>
                </div>
                <div class="gdlr-responsive-navigation dl-menuwrapper" id="gdlr-responsive-navigation">
                    <button class="dl-trigger">Open Menu</button>
                    <ul id="menu-main-menu" class="dl-menu gdlr-main-mobile-menu">
                        <li class="menu-item menu-item-home current-menu-item "><a
                                href="{% url 'main_website:homepage' %}">Home</a>
                        </li>
                        <li class="menu-item menu-item-has-children menu-item-30"><a href="#">Activities</a>
                            <ul class="dl-submenu">
                                <li class="menu-item"><a href="{% url 'main_website:event_homepage' %}">Events</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:news' %}">News</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:achievements' %}">Achievements</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children menu-item-30"><a href="#">Societies & AG</a>
                            <!-- This is new comment -->
                            <ul class="dl-submenu">
                                <li class="menu-item"><a href="{% url 'main_website:ras_home' %}">IEEE NSU RAS
                                        SBC</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:pes_home' %}">IEEE NSU PES SBC</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:ias_home' %}">IEEE NSU IAS SBC</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:wie_home' %}">IEEE NSU WIE AG</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children menu-item-30"><a href="#">Members</a>
                            <ul class="dl-submenu">
                                <li class="menu-item"><a href="{% url 'main_website:panel_members' %}">Panels</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:officer_page' %}">Officers</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:volunteers_page' %}">Core Volunteers</a></li>
                                <li class="menu-item menu-item-has-children"><a href="#">Teams</a>
                                    <ul class="sub-menu sub-menu-level-2">
                                        {% for i in branch_teams %}
                                        <li class="menu-item"><a href="{% url 'main_website:team_intro' i.primary %}">{{i.team_name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="{% url 'main_website:exemplary_members' %}">Exemplary Members</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:all_members' %}">All Members &
                                        Statistics</a></li>
                            </ul>
                        </li>
                        
                        <li class="menu-item menu-item-has-children menu-item-30"><a href="#">About</a>
                            <ul class="dl-submenu">
                                <li class="menu-item"><a href="{% url 'main_website:ieee' %}">IEEE</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:ieee_region_10' %}">IEEE Region
                                        10</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:ieee_bangladesh_section' %}">IEEE
                                        Bangladesh Section</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:ieee_nsu_student_branch' %}">IEEE
                                        NSU Student Branch</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:faq' %}">FAQ</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children menu-item-30"><a href="#">Publications</a>
                            <ul class="dl-submenu">
                                <li class="menu-item"><a href="{% url 'main_website:blogs' %}">Blogs</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:research_paper' %}">Research Papers</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:magazines' %}">Magazines</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:gallery' %}">Gallery</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:toolkit' %}">Toolkit</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children menu-item-30"><a href="{% url 'main_website:contact' %}">Contact</a></li>
                        <li class="menu-item menu-item-has-children menu-item-30"><a href="#">Get Involved</a>
                            <ul class="dl-submenu">
                                <li class="menu-item"><a href="#">Join INSB</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:write_blogs' %}">Write A Blog</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:add_research' %}">Add a Research Paper</a></li>
                            </ul>
                        </li>
                        <li class="menu-item gdlr-normal-menu button-item">
                            <a href="{% url 'port:homepage' %}" target="blankl" class="sf-with-ul-pre">IEEE NSU
                                SB Portal</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- navigation -->
            <div class="gdlr-navigation-wrapper">
                <nav class="gdlr-navigation" id="gdlr-main-navigation">
                    <ul id="menu-main-menu-1" class="sf-menu gdlr-main-menu">
                        <li class="menu-item menu-item-home gdlr-normal-menu"><a
                                href="{% url 'main_website:homepage' %}">Home</a></li>
                        <li class="menu-item menu-item-has-children gdlr-normal-menu"><a href="#"
                                class="sf-with-ul-pre">Activities</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="{% url 'main_website:event_homepage'%}">Events</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:news' %}">News</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:achievements' %}">Achievements</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children gdlr-normal-menu"><a href="#"
                                class="sf-with-ul-pre">Societies & AG</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="{% url 'main_website:ras_home' %}">IEEE NSU RAS
                                        SBC</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:pes_home' %}">IEEE NSU PES SBC</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:ias_home' %}">IEEE NSU IAS SBC</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:wie_home' %}">IEEE NSU WIE AG</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children gdlr-normal-menu"><a href="#"
                                class="sf-with-ul-pre">Members</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="{% url 'main_website:panel_members' %}">Panels</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:officer_page' %}">Officers</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:volunteers_page' %}">Core Volunteers</a></li>
                                <li class="menu-item menu-item-has-children"><a href="#">Teams</a>
                                    <ul class="sub-menu sub-menu-level-2">
                                        {% for i in branch_teams %}
                                        <li class="menu-item"><a href="{% url 'main_website:team_intro' i.primary %}">{{i.team_name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="{% url 'main_website:exemplary_members' %}">Exemplary Members</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:all_members' %}">All Members &
                                        Statistics</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children gdlr-normal-menu"><a href="#"
                                class="sf-with-ul-pre">About</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="{% url 'main_website:ieee' %}">IEEE</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:ieee_region_10' %}">IEEE Region
                                        10</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:ieee_bangladesh_section' %}">IEEE
                                        Bangladesh Section</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:ieee_nsu_student_branch' %}">IEEE
                                        NSU Student Branch</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:faq' %}">FAQ</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children gdlr-normal-menu"><a href="#"
                                class="sf-with-ul-pre">Publications</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="{% url 'main_website:blogs' %}">Blogs</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:research_paper' %}">Research Papers</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:magazines' %}">Magazines</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:gallery' %}">Gallery</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:toolkit' %}">Toolkit</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children gdlr-normal-menu"><a href="{% url 'main_website:contact' %}"
                                class="sf-with-ul-pre">Contact</a>
                        </li>
                        <li class="menu-item menu-item-has-children gdlr-normal-menu"><a href="#"
                                class="sf-with-ul-pre">Get Involved</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="#">Join INSB</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:write_blogs' %}" target="blank">Write A Blog</a></li>
                                <li class="menu-item"><a href="{% url 'main_website:add_research' %}">Add a Research Paper</a></li>

                            </ul>
                        </li>
                        <li class="menu-item gdlr-normal-menu button-item">
                            <a href="{% url 'port:homepage' %}" target="blankl" class="sf-with-ul-pre"><button
                                    class="button-15" role="button">IEEE NSU SB Portal</button></a>
                        </li>
                    </ul>
                    <div class="gdlr-menu-search" id="gdlr-menu-search">
                        <form method="get" id="searchform" action="#">
                            <div class="search-text">
                                <input type="text" value="Type Keywords" name="s" autocomplete="off"
                                    data-default="Type Keywords" />
                            </div>
                            <input type="submit" value="" />
                            <div class="clear"></div>
                        </form>
                    </div>
                </nav>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>
{% endblock header %}