<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSB-Port-Dashboard</title>
    <link rel="stylesheet" href="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


        body{
            font-family: 'Poppins', sans-serif;

        }
        .navLi{
            color: whitesmoke;
        }
        .navLi:hover{
            color: #FFC107;
            transition: .2s;
        }
        .navL{
            color: #FFC107;
          }
          
        .navL:hover{
            color: #FFC107;
            transition: .2s;
        }

        .fb, .twitter, .yt, .insta, .linkedin, .footer_mail{
            color: whitesmoke;
        }
        .fb:hover{
            color: #1977F3;
            transition: .2s;
        }
        .insta:hover{
            color: #F60C52;
            transition: .2s;
        }
        .linkedin:hover{
            color: #0077B5;
            transition: .2s;
        }
        .yt:hover{
            color: #FE0202;
            transition: .2s;
        }
        .twitter:hover{
            color: #1DA1F2;
            transition: .2s;
        }
        .footer_mail:hover{
            color: #FFC936;
            transition: .2s;
        }
        .event{
            scale: 1;
           
        }
        .event:hover{
            scale: 1.01;
            background-color:  rgba(44, 167, 216, .1);
            transition: .2s;
        }

    </style>

</head>


<body style="background-image: linear-gradient(90deg, #2daadb, #0b1261);" class="">

    <!-- Section for nav-bar -->

    <nav style="background-color: #050D3A;" class="navbar navbar-expand-lg border border-5 border-dark border-opacity-25">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'users:dashboard' %}">
                <img class="img-fluid" src="{% static 'logo.gif' %}" alt="IEEE_logo" width="40" height="40">
            </a> 
          <!-- <a class="navbar-brand" href="#">IEEE</a> -->
          <button class="navbar-toggler bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <a class="nav-link navL"  href="{% url 'users:dashboard' %}">Home</a>
              <a class="nav-link navLi" href="{% url 'central_branch:central_home' %}"><small>Branch</small></a>
              <a class="nav-link navLi" href="{% url 'events_and_management_team:em_team_homepage' %}"><small>Event & Management</small></a>
              <a class="nav-link navLi" href="{% url 'logistics_and_operations_team:team_homepage' %}"><small>Logistics</small></a>
              <a class="nav-link navLi" href="{% url 'content_writing_and_publications_team:team_homepage' %}"><small>Content</small></a>
              <a class="nav-link navLi" href="{% url 'promotions_team:team_homepage' %}"><small>Promotion</small></a>
              <a class="nav-link navLi" href="{% url 'membership_development_team:md_team_homepage' %}"><small>Membership Development</small></a>
              <a class="nav-link navLi" href="{% url 'website_development_team:team_homepage' %}"><small>Website development</small></a>
              <a class="nav-link navLi" href="{% url 'media_team:team_homepage' %}"><small>Media</small></a>
              <a class="nav-link navLi" href="{% url 'graphics_team:team_homepage' %}"><small>Graphics</small></a>
              <a class="nav-link navLi" href="{% url 'finance_and_corporate_team:team_homepage' %}"><small>Finance</small></a>
              <a class="nav-link navLi" href="{% url 'public_relation_team:team_homepage' %}"><small>Public Relation</small></a>
            </div>
          </div>
        </div>
      </nav>
   
    

                       <!-- section for body & events -->


                       <!-- dashbar and options -->

        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4 mt-6 text-light">
                <div class="d-flex align-items-center">
                    <h2 class="fs-2 m-0">Dashboard</h2>
                </div>

                <button  class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span style="color: aliceblue;" class="navbar-toggler-icon navbar-dark"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold text-dark border rounded bg-light" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2"></i>Options
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'users:logoutUser' %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>

                                 <!-- dashnbar and option ends -->
       

            <div class="container-fluid px-3 px-0 px-md-5">
                <div class="row g-6 my-6 px-0 px-md-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div style="border-radius: 15px; align-items:center;" class="p-3 bg-white shadow-sm d-flex flex-column-reverse border-dark border-opacity-25 h-100">
                            <div>
                                <h2 class="fs-2" style="color:#0840a3; text-align: center;"><b>{{ user_data.name }}</b></h2>
                                <p class="fs-5" style="color:#0840a3; text-align: center;">{{ user_data.position }}, {{ user_data.team }} </p>
                                <span class="fs-5"><b>IEEE ID:</b> {{ user_data.ieee_id }}</span><br>
                                <span class="fs-5"><b>Email:</b> {{ user_data.email }}</span>
                                <p class="fs-5"><b>NSU ID:</b> {{ user_data.nsu_id }}</p>
                            </div>
                           <img class="img-fluid rounded rounded-circle m-auto border rounded rounded-circle" src="{{ user_data.profile_picture }}" alt="profile pic" width="280px" height="280px">
                          
                        </div>
                    </div>



                    <div class="col-md-8">
                        <div style="border-radius: 15px;" class="p-3 bg-white shadow-sm d-flex justify-content-around border-dark border-opacity-25">
                            <div style="height: 500px; overflow: auto; width: 90%;" class="p-2">
                                <h3 class="fs-2">Events</h3>
                                <p class="fs-5"></p>

                                <div class="p-2 my-2 shadow-lg d-flex flex-column-reverse justify-content-around align-items-center rounded m-1 event">

                                    <div>
                                        <a class="text-decoration-none text-dark" href="list3">
                                            <h3 class="fs-2">SPAC 2022</h3>
                                            <p class="fs-5">IEEE NSU Student Branch - INSB - North South University</p>
                                            <p class="fs-7">Date:24.12.2021</p>
                                       
                                    </div>
                                    <div class="text-center">
                                        <img class="img-fluid w-75 mb-4" src="{% static 'spac_banner.jpg' %}" alt="profile pic" width="100px" height="150px">
                                   </div>
                                    </a>
                                </div>

                            </div>

                            

                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
   

        <footer class="bg-dark text-white mt-5">
            <div class="container-fluid py-4">

                <div class="row py-3 px-5">
                    <div class="col-md-3 mx-auto">
                        <img class="img-fluid" src="{% static 'INSB.png' %}" alt="IEEE_logo" width='100' height='100'>
                    </div>
                    <div class="col-md-3 mx-auto">
                        <h4 class="mb-3 fw-bold">Follow Us</h4>
                        <div>
                            <a href=""><i class="fa-brands fa-2x fa-facebook me-2 fb"></i></a>
                            <a href=""><i class="fa-brands fa-2x fa-instagram me-2 insta"></i></a>
                            <a href=""><i class="fa-brands fa-2x fa-linkedin me-2 linkedin"></i></a>
                            <a href=""><i class="fa-brands fa-2x fa-twitter me-2 twitter"></i></a>
                            <a href=""><i class="fa-brands fa-2x fa-youtube me-2 yt"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 mx-auto">
                        <h4 class="mb-3 fw-bold">Contact</h4>
                        <div>
                            <a class="text-decoration-none footer_mail" href=""><i class="fa-regular fa-1x text-white me-2 fa-envelope"></i>info@ieeensusb.org</a> <br>
                            <a class="text-decoration-none footer_mail" href=""><i class="fa-regular fa-1x text-white me-2 fa-envelope"></i>contact@ieeensusb.org</a> <br>
                            <a class="footer_mail text-decoration-none" href="https://ieeensusb.org/"><i class="fa-solid me-2 fa-1x fa-globe footer_mail"></i>ieeensusb.org</a>
                        </div>
                    </div>
                </div>
            </div>

             <!-- footer start -->
            <footer class="py-3 text-white text-center">
                <small>&copy; All Rights Reserved by IEEE NSU STUDENT BRANCH.</small>
            </footer>
            <!-- footer end -->
        </footer>

       

   









    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

</body>
</html>