<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <title>Signup</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'logos/logo.gif' %}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'login.css' %}">
  </head>
  <body>

    <section class="container mx-auto bg-light"  style="width: 300px">
        <div class="logo">
            <img src="{% static 'INSB.png' %}" alt="logo">
        </div>
        <div class="Form d-grid p-3">
              <form method="POST">
                {% csrf_token %}
                
                <div class="d-grid pt-3">
                    <input type="Password" placeholder="Enter Password" id="myInput" autocomplete="off" class="Form-cont form-control border passwordInp my-1 p-3" Required name='password'>
                </div>
                <div class="d-grid pt-3">
                    <input type="Password" placeholder="Confirm Password" id="myInput2" autocomplete="off" class="Form-cont form-control border passwordInp my-1 p-3" Required name='confirm_password'>
                </div>
                <br>
                  <input type="checkbox" onclick="showPassword()">Show Password
                

                <div class="d-grid pt-3">
                   <input type="submit" class="log-btn btn-outline-dark" value="Login" name="login">
                </div>
                   <br>
                {% for message in messages %}
                  <p class="message" style="color:#941910; text-align: center;">{{message}}</p>
                {% endfor %}
                <span class="login_text" style="margin-left: 42px;">Already signed up? </span><span class="login_text"><a href="{% url 'users:login' %}">Login</a></span>
                <br>
              </form>
        </div>
    </section>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
      function showPassword() {
      var x = document.getElementById("myInput");
      var y = document.getElementById("myInput2");
      if (x.type === "password") {
        x.type = "text";
        y.type="text";
        } else {
          x.type = "password";
          y.type="password";
        }
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>