{% load static %}
{% block team_coordinators %}
<div>
    <div class="p-2 h5 border fw-bold text-center mb-4 rounded">
        <span class="">Co-Ordinator</span>
    </div>
    <div id="subebCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner ">
            {% for i in co_ordinators %}
            <div class="carousel-item active" data-bs-interval="1000">
                <div class="card shadow my-3">
                        
                    <img height="310px" width="470px" src="/media_files/{{i.member.user_profile_picture}}" class="img-fluid" onerror="this.onerror=null;this.src='{% static '/images/default_profile_picture.png'%}';">
                    <div class="card-body">
                        <h4 class="card-title">{{i.member.name}}</h5>
                        <div class="card-text">{{i.member.position.role}}, {{i.member.team.team_name}}</div>
                        <div class="my-4">
                            <a class="h4 me-2" href="{{i.member.linkedin_url}}"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a class="h4 me-2" href="{{i.member.facebook_url}}"><i class="fa-brands fa-facebook"></i></a>
                            <a class="h4 me-2" href="mailto:{{i.member.email_ieee}}"><i class="fa-solid fa-envelope"></i></a>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Rest class="carousel-item" div -->

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#subebCarousel" data-bs-slide="prev">
            <span style="border-radius: 50%;" class="carousel-control-prev-icon bg-dark p-3" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#subebCarousel" data-bs-slide="next">
            <span style="border-radius: 50%;"  class="carousel-control-next-icon bg-dark p-3" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock team_coordinators %}