<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Manage Team | Membership Development Team</title>
    <link rel="icon" href="{% static 'logos/logo.gif' %}"/>

    {% block common_css %}
        {% include "common_css.html" %}
    {% endblock common_css %}

    <style>
        body, html {
        
        margin: 0;
        
        align-items: center;
        justify-content: center;
        }

        .row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        }
        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
          }
          .btn-container {
            text-align: center;
          }
          
          .btn {
            max-width: 100%;
            width: auto;
            display: inline-block;
            white-space: normal; /* Allow text to wrap within the button */
            word-wrap: break-word; /* Break long words if necessary */
            font-size: 16px; /* Adjust the font size as needed */
          }
          
          /* Media query for smaller screens (adjust the breakpoint as needed) */
          @media (max-width: 768px) {
            .btn {
              width: 100%; /* Make the button full width on smaller screens */
            }
          }
        
    </style>
</head>
<body>
    <!-- ############ LAYOUT START-->
    <div class="app" id="app">

        <!-- aside -->
        <div id="aside" class="app-aside modal nav-dropdown">
  
  	        {% block sidebar %}
	            {% include 'users/sidebar.html' %}
  	        {% endblock %}
  
        </div>
        <!-- aside end -->
  
        <!-- navbar content -->
        <div id="content" class="app-content box-shadow-z0" role="main">
            {% block navbar %}
                {% include 'navbar.html' %}
            {% endblock navbar %}

        </div>
        <!--navbar content-->
        
        <!-- ############ PAGE START-->
        <div ui-view class="app-body" style="justify-content:center; margin-left:15%; margin-right:15%;" id="view">

            <!--Start from here-->

            <br>
            <h2 style="justify-content:center;text-align:center;margin-bottom:15px;">Membership Development Team - <span style="color:#00629B;"><b>Manage Team</b></span></h2>
            <br>
            
            <!--Add member to team-->
            <h4 style="justify-content:center;text-align:center;margin-bottom:30px;"> Current <span style="color:#00629B;"><b> Team Members </b></span> </h4>
        
            <!--Current Team Members Table-->
            <div class="box">
                <div class="box-header">
                    
                    <div style="text-align:right;">
                    <button type="submit" class="btn btn-outline b-primary text-primary" data-toggle="modal" data-target="#m-s-a" ui-toggle-class="bounce" ui-target="#animate">Add a new Member To Team</button>
                    </div>
                <small>This table holds the data of Co-Ordinators, Incharges, Cores, & Volunteers</small>
                </div>
                <div class="table-responsive" style="max-height:300px; overflow-y:auto;">
                  <table class="table table-bordered m-0" style="text-align:center;">
                    <thead>
                      <tr>
                        <th style="text-align:center;">IEEE ID</th>
                        <th style="text-align:center;">Name</th>
                        <th style="text-align:center;">NSU ID</th>
                        <th style="text-align:center;">Current Position</th>
                        <th style="text-align:center;">Email</th>
                        <th style="text-align:center;">Contact No</th>
                        <th style="text-align:center;">Remove Member?</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                        {% for member in members %}
                        <tr>
                            <td><a style="text-decoration:none;color:#00629B;" href="{% url 'membership_development_team:member_details' member.ieee_id %}">{{member.ieee_id}}</a></td>
                            <td>{{ member.name  }}</td>
                            <td>{{member.nsu_id}}</td>
                            <td>{{member.position}}</td>
                            <td>{{member.email_ieee}}</td>
                            <td>{{member.contact_no}}</td>
                            <td>
                            <form method="POST">
                                {% csrf_token %}
                                    <input class="btn btn-outline b-danger text-danger" name="remove_member" type="submit" value="Remove Member">
                                    <input type="hidden" name="remove_ieee_id" value={{member.ieee_id}}>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                  </table>
                </div>
            </div>
            <!--Current Team Members Table End-->

            <br>


            <!--View Access-->
            <h4 style="justify-content:center;text-align:center;margin-bottom:30px;"><span style="color:#00629B;"><b> View Permission</b> </span>Controls for <span style="color:#00629B;"><b>Membership Development Team</b></span></h4>

            <!--View Permission Table-->
            <div class="box">
                <div class="box-header">
                    
                    <div style="text-align:right;">
                        <button type="submit" class="btn btn-outline b-primary text-primary" data-toggle="modal" data-target="#m-s-a" ui-toggle-class="bounce" ui-target="#animate">Add a new Member To View Permission Controls</button>
                    </div>
                <small>This table holds the data of View Permission assigned to different members. You can add members her from other teams too.<br>Update one row at a time.</small>
                </div>
                <div class="table-responsive" style="max-height:300px; overflow-y:auto;">
                  <table class="table table-bordered m-0">
                    <thead>
                      <tr>
                        <th style="text-align:center;">IEEE ID</th>
                        <th style="text-align:center;">Name</th>
                        <th style="text-align:center;">Team</th>
                        <th style="text-align:center;">Current Position</th>
                        <th style="text-align:center;">Permission Criteria</th>
                        <th style="text-align:center;">Action?</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                        {% for data_access in data_access %}
                            <tr>
                                <td>{{data_access.ieee_id}}</td>
                                <td>{{data_access.ieee_id.name}}</td>
                                <td>{{data_access.ieee_id.team}}</td>
                                <td>{{data_access.ieee_id.position}}</td>
                                
                                <td>
                                <form method="POST">
                                    {% csrf_token %}
                                
                                    

                                    {% if data_access.insb_member_details %}
                                    <input type="checkbox" checked="True" class="checkbox" value="insb_member_details" name="insb_member_details">
                                    <label for="insb_member_details">INSB Registered Member Details Permission
                                    </label><br>
                                    {% else %}
                                    <input type="checkbox" class="checkbox" value="insb_member_details" name="insb_member_details">
                                    <label for="insb_member_details">INSB Registered Member Details Permission</label><br>
                                    {% endif %}


                                    {% if data_access.recruitment_session %}
                                    <input type="checkbox" checked="True" class="checkbox" value="recruitment_session" name="recruitment_session">
                                    <label for="recruitment_session">Recruitment Data View Permission</label><br>
                                    {% else %}
                                    <input type="checkbox" class="checkbox" value="recruitment_session" name="recruitment_session">
                                    <label for="recruitment_session">Recruitment Data View Permission</label><br>
                                    {% endif %}


                                    {% if data_access.recruited_member_details %}
                                    <input type="checkbox" checked="True" class="checkbox" value="recruited_member_details" name="recruited_member_details">
                                    <label for="recruited_member_details">Rectuited Member Details Permission</label><br>
                                    {% else %}
                                    <input type="checkbox" class="checkbox" value="recruited_member_details" name="recruited_member_details">
                                    <label for="recruited_member_details">Rectuited Member Details Permission</label><br>
                                    {% endif %}


                                    {% if data_access.renewal_data_access %}
                                    <input type="checkbox" checked="True" class="checkbox" value="renewal_data_access" name="renewal_data_access">
                                    <label for="renewal_data_access">Membership Renewal Data Access Permission</label><br>
                                    {% else %}
                                    <input type="checkbox" class="checkbox" value="renewal_data_access" name="renewal_data_access">
                                    <label for="renewal_data_access">Membership Renewal Data Access Permission</label><br>
                                    {% endif %}
                                    
                                </td>
                                
                                <td>
                                        <input class="btn btn-warning" name="access_update" type="submit" value="Update">
                                        <input class="btn btn-danger" name="access_remove" type="submit" value="Remove">
                                        <input type="hidden" name="access_ieee_id" value={{data_access.ieee_id}}>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                  </table>
                </div>
            </div>
            <!--View Permission Table End-->
            <br>
            <br>

        </div>
        <!--PAGE END-->

        <!--Theme Switcher-->

        {% block theme_switcher %}
            {% include "theme_switcher.html" %}
        {% endblock theme_switcher %}
    
    </div>
    <!-- app end-->

    {% block common_js %}
        {% include "common_js.html" %}
    {% endblock common_js %}

</body>
</html>
