{% load static %}
{% block event_creation_tab %}

<div class="tabs-container">
    <ul class="tabs">
        <li class="tab" onclick="showTab('tab1')">Event Details</li>
        <li class="tab" onclick="showTab('tab2')">Collaborations</li>
        <li class="tab" onclick="showTab('tab3')">Venue & Permissions</li>
    </ul>

    <div id="tab1" class="tab-content">
        <h2>Provide Event Details</h2>
        <div class="container">
            <div class="padding">
                <div class="row" >
                    <div class="col-sm-12">
                        <div class="box">
                            <div class="box-header" style="text-align:center;">
                                <h1>Student Copy</h1>
                            </div>
                            <!--Error Message-->
                            <div class="py-3 text-center">
                                {% for message in messages %}
                                    <p style="color:red" class="message">{{message}}</p>
                                {% endfor %}
                            </div>
                            <div class="box-divider m-0"></div>
                            <div class="box-body">
                            <form method="POST" autocomplete="off">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>NSU ID</label>
                                    <input
                                        placeholder="NSU ID"
                                        class="form-control w-75"
                                        type="number"
                                        autocomplete="off"
                                        required
                                        name="nsu_id"/>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">First Name</label>
                                            <input
                                                required
                                                placeholder="First Name"
                                                class="form-control w-75"
                                                type="text"
                                                autocomplete="off"
                                                name="first_name"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputPassword2">Middle Name</label>
                                            <input
                                                placeholder="Middle Name"
                                                class="form-control w-75"
                                                type="text"
                                                autocomplete="off"
                                                name="middle_name"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputPassword3">Last Name</label>
                                            <input
                                                placeholder="Last Name"
                                                class="form-control w-75"
                                                type="text"
                                                autocomplete="off"
                                                name="last_name"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Contact no</label>
                                            <input
                                                required
                                                placeholder="Contact no"
                                                class="form-control w-75"
                                                type="text"
                                                autocomplete="off"
                                                name="contact_no"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputPassword3">Emergency Contact No</label>
                                            <input
                                                placeholder="Emergency Contact no"
                                                class="form-control w-75"
                                                type="text"
                                                autocomplete="off"
                                                name="emergency_contact_no"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputPassword3">Date of Birth</label>
                                            <input
                                                placeholder="Date of Birth"
                                                class="form-control w-75"
                                                type="date"
                                                required
                                                name="date_of_birth"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row m-b">
                                    <div class="col-md-6">
                                        <label>Email (Personal)</label>
                                        <input
                                                class="form-control w-75"
                                                type="text"
                                                autocomplete="off"
                                                placeholder="Personal Email"
                                                name="email_personal"
                                        />                      
                                        </div>
                                    <div class="col-md-6">
                                        <label>Email (NSU)</label>
                                        <input
                                                class="form-control w-75"
                                                type="text"
                                                autocomplete="off"
                                                placeholder="NSU Email"
                                                name="email_nsu"
                                        />
                                    </div>
                                </div>
                                <br>
                                <div class="row m-b">
                                    <div class="col-md-6">
                                        <label>Facebook Link</label>
                                        <input
                                                class="form-control w-75"
                                                type="url"
                                                autocomplete="off"
                                                placeholder="Link to Facebook Account"
                                                name="facebook_url"
                                        />                
                                    </div>
                                    <div class="col-md-6">
                                        <label>Facebook Username</label>
                                        <input
                                                class="form-control w-75"
                                                type="text"
                                                autocomplete="off"
                                                placeholder="Facebook Account Username"
                                                name="facebook_username"
                                        />
                                    </div>
                                </div>
                                <br>
                                <div class="row m-b">
                                    <div class="col-md-6">
                                        <label for="exampleInputPassword1">Major</label>
                                        <select class="form-control w-75" name="major" id="major">
                                            <option value="None">-------------------</option>
                                            <option value="CSE">CSE</option>
                                            <option value="EEE">EEE</option>
                                            <option value="ETE">ETE</option>
                                        </select>                  
                                    </div>
                                    <div class="col-md-6">
                                        <label for="exampleInputPassword1">Tentative Graduating Year</label>
                                        <input
                                            class="form-control w-75"
                                            type="number"
                                            required name="graduating_year"
                                            placeholder="Graduating Year"
                                        />  
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Address</label>
                                    <input
                                        placeholder="Home Address"
                                        class="form-control w-75"
                                        type="text"
                                        autocomplete="off"
                                        required
                                        name="home_address"
                                    />                  
                                </div>
                                <br>
                                <div class="form-group row">
                                    <label class="col-sm-2 form-control-label">Gender</label>
                                    <div class="col-sm-10">
                                      <label class="radio-inline">
                                        <input
                                            type="radio"
                                            name="gender"
                                            id="male"
                                            value="Male"
                                        > Male
                                      </label>
                                      <label class="radio-inline">
                                        <input 
                                            type="radio"
                                            name="gender"
                                            id="female"
                                            value="Female"> Female
                                      </label>
                                      <label class="radio-inline">
                                        <input
                                            type="radio"
                                            name="gender"
                                            id="other"
                                            value="Other"> Other
                                      </label>
                                    </div>
                                </div>
                                <br>
                                
                                <div class="box-header" style="text-align:center;">
                                <h1>For Official Use</h1>
                                </div>
                                <div class="form-group">
                                    <label>Recruited By</label>
                                    <input
                                        class="form-control w-75"
                                        type="text"
                                        placeholder="Recruiter Name" required name="recruited_by"
                                    />
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 form-control-label">Payment</label>
                                    <div class="col-sm-10">
                                      <label class="radio-inline">
                                        <input
                                            type="checkbox"
                                            name="cash_payment_status" id="cash_payment" value="cash_payment"
                                        >Cash Payment
                                      </label>
                
                                    </div>
                                </div>
                                <div style="text-align: center;">
                                    <button type="submit" class="btn btn-outline b-success text-success" data-toggle="modal" data-target="#m-s-a" ui-toggle-class="bounce" ui-target="#animate">Recruit Member</button>
                                </div>
    
    
                                <!-- Save modal -->
                                <div id="m-s-a" class="modal fade animate" data-backdrop="true">
                                <div class="modal-dialog" id="animate">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Recruiting a new Member!</h5>
                                    </div>
                                    <div class="modal-body text-left p-lg">
                                        <p>Are you sure that you want to Recruit a Member with the Informations you provided?.</p>
                                        <p>Data related to the Member will be saved in the Recruitment Session Database.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
                                        <input
                                        type="submit"
                                        class="btn btn-success"
                                        data-bs-dismiss="modal"
                                        name="save_edit"
                                        value="Yes, Recruit"
                                        >                        
                                    </div>
                                    </div><!-- /.modal-content -->
                                </div>
                                </div>
                                <!-- / .modal -->
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tab2" class="tab-content">
        <h2>Tab 2 Content</h2>
        <p>This is the content of Tab 2.</p>
    </div>

    <div id="tab3" class="tab-content">
        <h2>Tab 3 Content</h2>
        <p>This is the content of Tab 3.</p>
    </div>
  </div>
{% endblock event_creation_tab %}