{% load static %}
{% block collaboration_form %}
<div id="tab2" class="tab-content">
    <h2 style="text-align:center">Event Collaboration Details</h2>
    <div class="container">
        <div class="padding">
            <div class="row" >
                <div class="col-sm-10">
                    <div class="box">
                        
                        <!--Error Message-->
                        <div class="py-3 text-center">
                            {% for message in messages %}
                                <p style="color:red" class="message">{{message}}</p>
                            {% endfor %}
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label>Inter Branch Collaboration With: (Press CTRL to select multiple options) </label>
                                    <div class="col-lg-6">
                                        <select multiple class="form-control" name="inter_branch_collaboration">
                                        <option selected value="null">--------------------</option>
                                        {% for inter_branch_collaboration_option in inter_branch_collaboration_options %}
                                            <option value={{inter_branch_collaboration_option.id}}>
                                            {{inter_branch_collaboration_option.group_name}}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Intra Branch Collaboration With: <span style="color:red">*<span></label>
                                <input
                                    placeholder="Name of the Branches/Organizations"
                                    class="form-control w-75"
                                    type="text"
                                    name="intra_branch_collaboration"/>
                            </div>
                                
                            <div style="text-align: center;">
                                <button onclick="showTab('tab3')" class="btn btn-outline b-success text-success">Continue to Venue & Permissions Tab</button>
                            </div>
                            <br> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock collaboration_form %}