{% load static %}
{% block event_venue_and_permission_form %}
<div id="tab3" class="tab-content">
    <h2 style="text-align:center">Venue and Permission for the Event</h2>
    <div class="container">
        <div class="padding">
            <div class="row" >
                <div class="col-sm-10">
                    <div class="box">
                        
                        <!--Error Message-->
                        <div class="py-3 text-center">
                            {% for message in messages %}
                                <p style="color:red" class="message">{{message}}</p>
                            {% endfor %}
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label>Select Probable Venues For the Event: (Press CTRL to select multiple options) </label>
                                    <div class="col-lg-6">
                                        <select multiple class="form-control" name="event_venues">
                                        {% for venue in venues %}
                                            <option value={{venue.id}}>{{venue.venue_name}}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Select Permission Criterias For the Event: (Press CTRL to select multiple options) <span style="color:red">*<span></label>
                                    <select multiple class="form-control" name="permission_criteria">
                                        <option value="null" selected>----------</option>
                                        {% for permission in permission_criterias %}
                                        <option value={{permission.id}}>{{permission.permission_name}}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                                
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-outline b-success text-success" data-toggle="modal" data-target="#m-s-a" ui-toggle-class="bounce" ui-target="#animate">Create Event</button>
                            </div>

                            <!--Modal-->
                            <div id="m-s-a" class="modal fade animate" data-backdrop="true">
                                <div class="modal-dialog" id="animate">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Creating a new Event!</h5>
                                    </div>
                                    <div class="modal-body text-left p-lg">
                                        <p>Are you sure that you want to create a new Event with the Informations you provided?.</p>
                                        <p>Data related to this Event can be updated later. Also different Teams can contribute to this event.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
                                        <input
                                        type="submit"
                                        class="btn btn-success"
                                        data-bs-dismiss="modal"
                                        name="create_event"
                                        value="Yes, Create"
                                        >                        
                                    </div>
                                    </div><!-- /.modal-content -->
                                </div>
                                </div>
                                <!-- / .modal -->
                            <br> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock event_venue_and_permission_form %}