{% load static %}
{% block event_creation_tab %}

<div class="tabs-container">
    <ul class="tabs">
        <li class="tab" onclick="showTab('tab1')">Event Details</li>
        <li class="tab" onclick="showTab('tab2')">Collaborations</li>
        <li class="tab" onclick="showTab('tab3')">Venue & Permissions</li>
    </ul>

    {% block event_details_form %}
        {% include "Events/event_details_form_content.html" %}
    {% endblock event_details_form %}

    {% block collaboration_form %}
        {% include "Events/event_collaboration_details_form_content.html" %}
    {% endblock collaboration_form %}


    {% block event_venue_and_permission_form %}
        {% include "Events/event_venue_and_permission_form_content.html" %}
    {% endblock event_venue_and_permission_form %}
</div>

{% endblock event_creation_tab %}