{% load static %}
{% block event_creation_tab %}

<div class="tabs-container">
    <ul class="tabs">
        <li class="tab" onclick="showTab('tab1')">Event Details</li>
        <li class="tab" onclick="showTab('tab2')">Collaborations</li>
        <li class="tab" onclick="showTab('tab3')">Venue & Permissions</li>
    </ul>

    {% block event_details_form %}
        {% include "Events/event_details_form_content.html" %}
    {% endblock event_details_form %}

    <div id="tab2" class="tab-content">
        <h2>Tab 2 Content</h2>
        <p>This is the content of Tab 2.</p>
    </div>

    <div id="tab3" class="tab-content">
        <h2>Tab 3 Content</h2>
        <p>This is the content of Tab 3.</p>
    </div>
</div>

{% endblock event_creation_tab %}