{% load static %}

{% block intructions %}
<div  style="margin-left:0px;">
    <br>
    <h6>Go through the Instructions given below before you start:</h6>
    <!--List Start-->
    <div style="margin-right:25px;justify-content:center;text-align:justify;">
    
    <ol>
        <li>The email will be sent with <span style="color:blue;">"ieeensusb.portal@gmail.com"</span> account. This is the central email account for the portal system.</li>
        <li>If you have selected more than 45 recipients, the system will automatically divide them and determine how many emails should be sent to prevent them from being flagged as spam.</li>
        <li>The system will automatically filter out the duplicate emails and will only send one email to the address.</li>
        <li>Scheduled mail will be saved in the Server and will be sent accordingly. Timezone of the server is: GMT +6.00 (Dhaka, Bangladesh).</li>
        <li><b>Branch Ex-Com Members:</b> All EB's from Branch along with all the Chairs from Society, Chapters and Affinity Groups. The email will be sent to their IEEE mail by default. If IEEE mail is not found it will be sent to their NSU Mail.</li>
        <li><b>General Members:</b> All members of IEEE NSU SB registered in the Portal whose memberships are <span style="color:green;"><b>Active</b></span>.Their Emails will be sent to their NSU Email By default.</li>
        <li>To Select multiple options, Press and Hold 'ctrl' and then select the options.</li>

    </ol>
    </div>
    <!--List End-->
</div>
{% endblock intructions %}
