<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Details</title>
    <link rel="stylesheet" href="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


        body{
            font-family: 'Poppins', sans-serif;

        }
        h1{
            color:white;
        }
        label{
            color:white;
        }
        .navLi{
            color: whitesmoke;
        }
        .navLi:hover{
            color: #FFC107;
            transition: .2s;
        }

        .fb, .twitter, .yt, .insta, .linkedin, .footer_mail{
            color: whitesmoke;
        }
        .fb:hover{
            color: #1977F3;
            transition: .2s;
        }
        .insta:hover{
            color: #F60C52;
            transition: .2s;
        }
        .linkedin:hover{
            color: #0077B5;
            transition: .2s;
        }
        .yt:hover{
            color: #FE0202;
            transition: .2s;
        }
        .twitter:hover{
            color: #1DA1F2;
            transition: .2s;
        }
        .footer_mail:hover{
            color: #FFC936;
            transition: .2s;
        }
        .event{
            scale: 1;
           
        }
        .event:hover{
            scale: 1.01;
            background-color:  rgba(44, 167, 216, .1);
            transition: .2s;
        }

    </style>

</head>

<body style="background-image: linear-gradient(90deg, #2280b3, #0b1261);" class="">

    <!-- Section for nav-bar -->

    <nav style="background-color: #050D3A;" class="navbar navbar-expand-lg border border-5 border-dark border-opacity-25">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="img-fluid" src="{% static 'logo.gif' %}" alt="IEEE_logo" width="40" height="40">
            </a> 
          <!-- <a class="navbar-brand" href="#">IEEE</a> -->
          <button class="navbar-toggler bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link navLi" href="{% url 'users:dashboard' %}">Dashboard</a>
                <a class="nav-link navLi" aria-current="page" href="{% url 'membership_development_team:md_team_homepage' %}">Home</a>
                <a class="nav-link navLi" href="{% url 'membership_development_team:members_list' %}"><small>INSB Members</small></a>
                <a class="nav-link navLi" href="{% url 'recruitment:recruitment_home' %}"><small>Recruitment</small></a>
                <a class="nav-link navLi" href="{% url 'membership_development_team:membership_renewal' %}"><small>Membership Renewal</small></a>
                <a class="nav-link navLi" href="#"><small>Data Access</small></a>
            </div>
          </div>
        </div>
      </nav>



      <form method="POST" action="" autocomplete="on">
        {% csrf_token %}
        
        {% comment %} This block only loads the data of the selected members informations {% endcomment %}
        <h1>
            General Details
        </h1>
        <label> NSU ID: </label>
        <input type="number" placeholder="Enter NSU ID" required name="nsu_id" value={{ member_data.nsu_id }} >
        <br>
        <label> IEEE ID: </label>
        <input type="number" placeholder="Enter IEEE ID" name="ieee_id" value={{ recruited_member.ieee_id }} >
        <br>
        <br>

        {% comment %} The following fields is used to portray personal datas of the recruited members {% endcomment %}
        <h1>
            Personal Details
        </h1>

        <label> First Name : </label>
        <input type="text" placeholder="Enter First Name" required name="first_name" value={{ recruited_member.first_name }}>
        <label> Middle Name : </label>
        <input type="text" placeholder="Enter Middle Name"  name="middle_name" value={{ recruited_member.middle_name }}>
        <label> Last Name : </label>
        <input type="text" placeholder="Enter Last Name"  name="last_name" value={{ recruited_member.last_name }}>
        <br>
        <br>
        {% comment %} From here the fields will go by serially {% endcomment %}
        <label> Contact No : </label>
        <input type="text" placeholder="Enter Contact no." required name="contact_no" value={{ recruited_member.contact_no }}>
        <br><label> Date of Birth : </label>
        <input type="date" placeholder="Date of Birth" required name="date_of_birth" value={{ dob }}>
        <br><label> Email : </label>
        <input type="email" placeholder="Enter E-Mail" required name="email_personal" value={{ recruited_member.email_personal }}>
        <br><label> Facebook URL : </label>
        <input type="url" placeholder="Enter Facebook URL" required name="facebook_url" value={{ recruited_member.facebook_url }}>
        <br><label> Address : </label>
        <input type="text" placeholder="Enter Address" required name="home_address" value={{ recruited_member.home_address }}>
        
        <h1>
            Academic Details
        </h1>
        
        <br><label> Major : </label>
        <input type="text" placeholder="Enter Major" required name="major" value={{ recruited_member.major }} >
        <br><label> Graduating Year : </label>
        <input type="number" placeholder="Enter Graduating Year" required name="graduating_year" value={{ recruited_member.graduating_year }}>
        
        {% comment %} There will be a border indicating that further details are used only for officials {% endcomment %}
        <h1>
            Membership Development Team Details
        </h1>
        <br><label> Recruited By : </label>
        <input type="text" placeholder="Name" required name="recruited_by" value={{ recruited_member.recruited_by }}>
        <br>

        {% if recruited_member.cash_payment_status %}
        <input type="checkbox" checked="True" name="cash_payment_status" id="cash_payment">
        <label for="cash_payment"> Cash Payment </label><br>
        {% else %}
        <input type="checkbox" name="cash_payment_status" id="cash_payment">
        <label for="cash_payment"> Cash Payment </label><br>
        {% endif %}
        
        
        {% if recruited_member.ieee_payment_status %}
        <input type="checkbox" checked="True" name="ieee_payment_status" id="ieee_payment">
        <label for="ieee_payment"> IEEE Payment </label><br>
        {% else %}
        <input type="checkbox" name="ieee_payment_status" id="ieee_payment">
        <label for="ieee_payment"> IEEE Payment </label><br>
        {% endif %}
        
        <input type="submit" value="Delete Recruited Member" name="delete_member">
        <input type="submit" value="Save Edits" name="save_edit">
        
        {% if recruited_member.ieee_payment_status %}
        <input type="submit" value="Update Member in INSB Database" name="register_member">
        {% else %}
        <p>Member is not yet Updated in INSB Database. To Update Member to the INSB Database, Please complete the IEEE Payment and Enter IEEE ID and then Update!</p>
        {% endif %}

    </form>
    {% for message in messages %}
    <p class="message">{{message}}</p>
    {% endfor %}

      

        
        
        

   
    

                       <!-- section for other stuff -->
   

        <!-- <footer class="bg-dark text-white mt-5">
            <div class="container-fluid py-4">

                <div class="row py-3 px-5">
                    <div class="col-md-3 mx-auto">
                        <img class="img-fluid" src="https://ieeensusb.org/wp-content/uploads/2021/03/INSB.png" alt="IEEE_logo">
                    </div>
                    <div class="col-md-3 mx-auto">
                        <h4 class="mb-3 fw-bold">Follow Us</h4>
                        <div>
                            <a href=""><i class="fa-brands fa-2x fa-facebook me-2 fb"></i></a>
                            <a href=""><i class="fa-brands fa-2x fa-instagram me-2 insta"></i></a>
                            <a href=""><i class="fa-brands fa-2x fa-linkedin me-2 linkedin"></i></a>
                            <a href=""><i class="fa-brands fa-2x fa-twitter me-2 twitter"></i></a>
                            <a href=""><i class="fa-brands fa-2x fa-youtube me-2 yt"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 mx-auto">
                        <h4 class="mb-3 fw-bold">Contact</h4>
                        <div>
                            <a class="text-decoration-none footer_mail" href=""><i class="fa-regular fa-1x text-white me-2 fa-envelope"></i>info@ieeensusb.org</a> <br>
                            <a class="text-decoration-none footer_mail" href=""><i class="fa-regular fa-1x text-white me-2 fa-envelope"></i>contact@ieeensusb.org</a> <br>
                            <a class="footer_mail text-decoration-none" href="https://ieeensusb.org/"><i class="fa-solid me-2 fa-1x fa-globe footer_mail"></i>ieeensusb.org</a>
                        </div>
                    </div>
                </div>
            </div>

            <div style="background-image: linear-gradient(90deg, #2daadb, #0b1261);" class="p-3 text-center">

                © Copyright 2022 INSB – All rights reserved. Developed by <a href="https://ieeensusb.org/web-administrator/" style="color: #FFC936;" class=" fw-bold text-decoration-none">INSB Web Development Team</a>
            </div>

        </footer> -->

       

   









    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

</body>
</html>
