<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Welcome to the renewal process of IEEE NSU Student Branch</h1>
        <br><br>
        <form method="POST" action=''>
            {% csrf_token %}
            <div class="d-grid pt-3">
                <label for="new_session">Create New Renewal Session</label>
                <input type="text" placeholder="New Recruitment Session" id="new_session" Required name='renewal_session'>
            </div>
            <button type="submit" class="log-btn" onclick=''>
                Create
           </button>
        </form>
        {% for messages in messages %}
        <p>{{ messages }}</p>
        {% endfor %}
        <br>
        <br>
        <label for="search_session">Search Sessions<label>
        <input type="text" onkeyup="searchfunction()" id="search_session" placeholder="Search sessions"></input>
        <br>
        <h1>Sessions</h1>


        {% comment %} This loads the datas from the view function and uses the session name as link and passes the session id as url as well as a value to the recruitee function to use that as session id {% endcomment %}
        <ul id="ul">
            {% for session in sessions %}
                <li id="li"><a href="{% url "membership_development_team:renewal_session_data" session.id %}">{{ session.session_name }}</a></li>
            {% endfor %}
        <ul>
        <p id="no_data"></p>
        <script>
                    function searchfunction(){
                    let input,filter,j;
                    input=document.getElementById("search_session");
                    filter=input.value.toUpperCase();
                    let ul=document.getElementById("ul");
                    let li=ul.getElementsByTagName("li");
    
                    for(j=0;j<li.length;j++){
                        message=document.getElementById("no_data");
                        let a=li[j].getElementsByTagName('a')[0];
                        let textValue=a.textContent || a.innerHTML;
                        if(textValue.toUpperCase().indexOf(filter) > -1){
                            li[j].style.display='';
                            
                        }                           
                        else{
                            li[j].style.display="none";
    
                        }
    
                    }
                }
            
        </script>
    </body>
</html>