<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Events | IEEE NSU Student Branch</title>
    <link rel="icon" href="{% static 'logos/logo.gif' %}"/>

    {% block common_css %}
        {% include "common_css.html" %}
    {% endblock common_css %}

    <link rel="stylesheet" href="{% static 'newTable.css' %}" type="text/css" />


    <style>
        body, html {
        
        margin: 0;
        
        align-items: center;
        justify-content: center;
        }

        .row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        }
        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
          }
          .btn-container {
            text-align: center;
          }
          
          .btn {
            max-width: 100%;
            width: auto;
            display: inline-block;
            white-space: normal; /* Allow text to wrap within the button */
            word-wrap: break-word; /* Break long words if necessary */
            font-size: 16px; /* Adjust the font size as needed */
          }
          
          /* Media query for smaller screens (adjust the breakpoint as needed) */
          @media (max-width: 768px) {
            .btn {
              width: 100%; /* Make the button full width on smaller screens */
            }
          }
          *{
            margin: 0;
            padding: 0;
          }
        .table-box
        {
            margin: 50px auto;
        }
        
        .table-row{
            display: table;
            width: 80%;
            margin: 10px auto;
            font-family: sans-serif;
            background: transparent;
            padding: 12px 0;
            color: #555;
            font-size: 15px;
            box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
        }
        .table-head{
            background: #252524;
            box-shadow: none;
            color: #fff;
            font-weight: 600;
        }
        .table-head .table-cell{
            border-right: none;
        }
        .table-cell{
            display: table-cell;
            width: 10%;
            text-align: center;
            padding: 4px 0;
            border-right: 1px solid #d6d4d4;
            vertical-align: middle;
        }
        .first-cell{
            text-align: left;
            padding-left: 10px;
        }
        .last-cell{
            border-right: none;
        }
        a{
            text-decoration: none;
            color: #555;
        }
        .btn btn-danger{
          font-size:12px;
          border-width:thin;
        }
        .remove-member{
          font-size:13px;
          border-width:thin;
        }
        .access-member{
            font-size:13px;
            border-width:thin;
            text-decoration:none;
            color:white;
        }
        table{
            overflow-y:scroll;
            height:300px;
            display:block;
         }

        @media only screen and (max-width: 600px) {
          .table-row {
            font-size: 11px;
          }
        }
        
    </style>
</head>
<body>
    <!-- ############ LAYOUT START-->
    <div class="app" id="app">

        <!-- aside -->
        <div id="aside" class="app-aside modal nav-dropdown">
  
  	        {% block sidebar %}
	            {% include 'users/sidebar.html' %}
  	        {% endblock %}
  
        </div>
        <!-- aside end -->
  
        <!-- navbar content -->
        <div id="content" class="app-content box-shadow-z0" role="main">
            {% block navbar %}
                {% include 'media_navbar.html' %}
            {% endblock navbar %}

        </div>
        <!--navbar content-->
        <!-- ############ PAGE START-->
        <div ui-view class="app-body" style="justify-content:center; margin-left:15%; margin-right:15%;" id="view">
            <br>
            <h2 style="justify-content:center;text-align:center;margin-bottom:15px;">Media Team<br><br></b></span></h2>
            <h3 style="justify-content:center;text-align:center;margin-bottom:15px;"><span style="color:#00629B;"><b>Current Team Members</b></span> </h3>
            <div style="justify-content:center;text-align:center;">  
                <div class="btn-container">
                    <button class="btn btn-outline b-primary text-primary" data-toggle="modal" data-target="#modal"  ui-target="#animate">Add New Member To The Current Team</button>
                </div>
            </div>
        
        </div>

        <!--Modal for current member-->

        <div id="modal" class="modal fade animate" data-backdrop="true">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-dialog modal-lg" id="animate">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Members To The Team</h5>
                        </div>

                        <div class="modal-body text-left p-lg">
                            <div style="text-align:center; margin-top=30px;">
                                <div class="container" style="justify-content:center;">
                                    <div class="scroll">
                                    <div class="header_wrap">
                                        <div class="tb_search">
                                            <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="form-control">
                                        </div>
                                    </div>
                                    <div class="container" style="justify-content:center;text-align:center;text-decoration:bold;">
                                        <label style="margin-left:5px;">Select Position</label>
                                        <select id="position" name="position">
                                        {% for position in positions %}
                                        <option value={{position.id}}>{{ position.role }}</option>
                                        {% endfor %} 
                                        </select>
                                        <br>
                                    </div>
                            
                                    <div class="table-responsive">
                                        <table class="table table-striped table-class" id="table-id">
                                            <thead>
                                                <tr>
                                                  <th>Name</th>
                                                  <th>IEEE ID</th>
                                                  <th>Team</th>
                                                  <th>Current Position</th>
                                                  <th>Email</th>
                                                  <th>Select Member</th>
                                                  <th></th>
                                                  
                                                </tr>
                                              </thead>
                                              <tbody>
                                                {% for member in insb_members %}
                                                <tr id="table_row">
                                                  <td><a href="{% url 'membership_development_team:member_details' member.ieee_id %}">{{ member.name }}</a></td>                        <td class="insb_member_table_data">{{ member.ieee_id }}</td>
                                                  <td>{{ member.team }}</td>
                                                  <td>{{ member.position }}</td>
                                                  <td>{{ member.email_ieee }}</td>
                                                  <td>
                                                    <input type="checkbox" id="select" name="member_select1" value={{member.ieee_id}}>
                                                  </td>
                                                </tr>
                                                {% endfor %}  
                                              <tbody>
                                        </table>

                                        <div class="modal-footer">   
                                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
                                        <input type="submit" name="add_member_to_team" class="btn btn-success p-x-md" value="Add"></input>  
                                        </div>

                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <!--Modal for current member ends-->
        <!--Current Team Members table-->
        <div class="container-fluid">
        <div class="table-box">
          <div class="table-row table-head">
              <div class="table-cell first-cell">
                  <p>Name</p>
              </div>
              <div class="table-cell first-cell">
                  <p>IEEE ID</p>
              </div>
              <div class="table-cell first-cell">
                  <p>NSU ID</p>
              </div>
              <div class="table-cell first-cell">
                  <p>Current Position</p>
              </div>
              <div class="table-cell">
                  <p>Email</p>
              </div>
              <div class="table-cell last-cell">
                  <p>Contact</p>
              </div>
              <div class="table-cell last-cell">
                  <p>Action</p>
              </div>
          </div>
  
          {% for member in members %}
          <div class="table-row">
              <div class="table-cell first-cell">
                  <p><a href="{% url 'membership_development_team:member_details' member.ieee_id %}">{{ member.name  }}</a></p>
              </div>
              <div class="table-cell">
                  <p>{{member.ieee_id}}</p>
              </div>
              <div class="table-cell last-cell">
                <p>{{member.nsu_id}}</p>
              </div>
              <div class="table-cell last-cell">
                <p>{{member.position}}</p>
              </div> 
              <div class="table-cell last-cell">
                <p>{{member.email_ieee}}</p>
              </div> 
              <div class="table-cell last-cell">
                <p>{{member.contact_no}}</p>
              </div>
              <div class="table-cell last-cell">
                <p>
                  <form method="POST">
                      {% csrf_token %}
                      <button class="btn btn-outline b-primary text-primary remove-member" name="remove_member" type="submit" value="Remove Member">Remove Member</button>
                      <input type="hidden" name="remove_ieee_id" value={{member.ieee_id}}>
                  </form>
                </p>
              </div>   
          </div>
          {% endfor %}
        </div>
  
  
          
      </div>   

          <!--Current Team Members table ends-->
         
        <div ui-view class="app-body" style="justify-content:center; margin-left:15%; margin-right:15%;" id="view">
                
                <h3 style="justify-content:center;text-align:center;margin-bottom:15px;"><span style="color:#00629B;"><b>Access Control For Managing Team</b></span> </h3>
                <div style="justify-content:center;text-align:center;">  
                    <div class="btn-container">
                    <button class="btn btn-outline b-primary text-primary" data-toggle="modal" data-target="#add-access" ui-toggle-class="bounce" ui-target="#animate">Add New Member To The Current Team</button>
                </div>
            </div>
        </div>

        <div id="add-access" class="modal fade animate" data-backdrop="true">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-dialog modal-lg" id="animate">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Members To Manage Team</h5>
                        </div>

                        <div class="modal-body text-left p-lg">
                            <div style="text-align:center; margin-top=30px;">
                                <div class="container" style="justify-content:center;">
                                    <div class="header_wrap">
                                        <div class="tb_search">
                                            <input type="text" id="search_input_all2" onkeyup="FilterkeyWord_all_table2()" placeholder="Search.." class="form-control">
                                        </div>
                                    </div>
                                    <div class="scroll">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-class" id="table-id2">
                                            <thead>
                                                <tr>
                                                  <th>Name</th>
                                                  <th>IEEE ID</th>
                                                  <th>Team</th>
                                                  <th>Current Position</th>
                                                  <th>Email</th>
                                                  <th>Select Member</th>
                                                  <th></th>
                                                  
                                                </tr>
                                              </thead>
                                              <tbody>
                                                {% for member in insb_members %}
                                                <tr id="table_row">
                                                  <td><a href="{% url 'membership_development_team:member_details' member.ieee_id %}">{{ member.name }}</a></td>                        <td class="insb_member_table_data">{{ member.ieee_id }}</td>
                                                  <td>{{ member.team }}</td>
                                                  <td>{{ member.position }}</td>
                                                  <td>{{ member.email_ieee }}</td>
                                                  <td>
                                                    <input type="checkbox" id="select" name="member_select" value={{member.ieee_id}}>
                                                  </td>
                                                </tr>
                                                {% endfor %}  
                                              <tbody>
                                        </table>

                                        <div class="modal-footer">   
                                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
                                        <input type="submit" name="update_data_access_member" class="btn btn-success p-x-md" value="Update"></input>  
                                        </div>

                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


         <!--Current Team Members table who has access-->
         <div class="container-fluid">
            <div class="table-box">
              <div class="table-row table-head">
                  <div class="table-cell first-cell">
                      <p>IEEE ID</p>
                  </div>
                  <div class="table-cell first-cell">
                      <p>Name</p>
                  </div>
                  <div class="table-cell first-cell">
                      <p>Current Position</p>
                  </div>
                  <div class="table-cell last-cell">
                      <p>Permission Criteria</p>
                  </div>
                  <div class="table-cell last-cell">
                    <p>Action</p>
                </div>
              </div>
      
              {% for data_access in data_access %}
              <div class="table-row">
                  <div class="table-cell first-cell">
                      <p>{{ data_access.ieee_id  }}</p>
                  </div>
                  <div class="table-cell first-cell">
                        <p>{{ data_access.ieee_id.name  }}</p>
                    </div>
                    <div class="table-cell first-cell">
                        <p>{{ data_access.ieee_id.position  }}</p>
                    </div>
                  <div class="table-cell last-cell">
                    <p>
                        <form method="POST">
                            {% csrf_token %}
                        
                          
    
                          {% if data_access.manage_team_access %}
                          <input type="checkbox" checked="True" class="checkbox" value="manage_team_access" name="manage_team_access">
                          <label for="manage_team_access">Provide Access
                          </label><br>
                          {% else %}
                          <input type="checkbox" class="checkbox" value="manage_team_access" name="manage_team_access">
                          <label for="manage_team_access">Provide Access</label><br>
                          {% endif %}
                    </p>
                  </div>
                  <div class="table-cell last-cell">
                    <p>
                        <button class="btn btn-outline b-primary text-primary access-member" name="access_update" type="submit" value="update">Update</button>
                        <button class="btn btn-outline b-primary text-primary remove-member" name="access_remove" type="submit" value="Remove">Remove</button>
                        <input type="hidden" name="access_ieee_id" value={{data_access.ieee_id}}>
                      </form>
                    </p>
                  </div>  
              </div>
              {% endfor %}
            </div>
      
      
              
          </div>  
          <br><br> 
    
              <!--Current Team Members table ends who has access-->

        





    </div>



        {% block common_js %}
            {% include "common_js.html" %}
        {% endblock common_js %}
    
<script src="{% static 'table_search.js'%}"></script>  

</body>
</html>