<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IEEE NSU SB - Media Team</title>
    <link rel="stylesheet" href="{% static 'team_intro.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


        body{
            font-family: 'Poppins', sans-serif;

        }
        .navLi{
            color: whitesmoke;
        }
        
        .navLi:hover{
            color: #FFC107;
            transition: .2s;
        }
        .navL{
          color: #FFC107;
      }
      .navL:hover{
          color: #FFC107;
          transition: .2s;
        }

        .fb, .twitter, .yt, .insta, .linkedin, .footer_mail{
            color: whitesmoke;
        }
        .fb:hover{
            color: #1977F3;
            transition: .2s;
        }
        .insta:hover{
            color: #F60C52;
            transition: .2s;
        }
        .linkedin:hover{
            color: #0077B5;
            transition: .2s;
        }
        .yt:hover{
            color: #FE0202;
            transition: .2s;
        }
        .twitter:hover{
            color: #1DA1F2;
            transition: .2s;
        }
        .footer_mail:hover{
            color: #FFC936;
            transition: .2s;
        }
        .event{
            scale: 1;
           
        }
        .event:hover{
            scale: 1.01;
            background-color:  rgba(44, 167, 216, .1);
            transition: .2s;
        }

    </style>

</head>


<body style="background-image: linear-gradient(90deg, #2280b3, #0b1261);" class="">

    <!-- Section for nav-bar -->

    <nav style="background-color: #050D3A;" class="navbar navbar-expand-lg border border-5 border-dark border-opacity-25">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'users:dashboard' %}">
                <img class="img-fluid" src="{% static 'logo.gif' %}" alt="IEEE_logo" width="40" height="40">
            </a> 
          <!-- <a class="navbar-brand" href="#">IEEE</a> -->
          <button class="navbar-toggler bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <a class="nav-link navLi" href="{% url 'users:dashboard' %}">Dashboard</a>
                <a class="nav-link navL" href="{% url 'media_team:team_homepage' %}">Home</a>
                <a class="nav-link navLi" href="">Send E-mails</a>
                <a class="nav-link navLi" href="{% url 'media_team:manage_team' %}">Manage Team</a>
                
            </div>
          </div>
        </div>
      </nav>
      
        
        <!-- section for Ebs.. -->
        <!--
        <div>
            <br>
            <h2 class="text-white text-center">Welcome to <span style="color: yellow;">Membership Development</span> Team</h2>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 p-0">
                <br>
                <h4 class="text-white text-center">Meet Our Co-Ordinators</h4>
            </div>

            {% comment %} Co-ORDINATOR Section {% endcomment %}
            {% for co_ordinator in co_ordinators %}
                <div class="col-lg-2 col-md-2 col-sm-2 m-2 sizeof">
                    <div class="rounded d-flex justify-content-center align-items-center p-3 bg-w rounded-lg flex-column card_area card_hov">
                        <div class="person-img">
                            <img src="{{media_url}}{{co_ordinator.user_profile_picture}}" class="img-size rounded" alt="">
                        </div>
                        <div class="person-name my-2">
                            <h3 class="text-dark">{{co_ordinator.name}}</h3>
                        </div>
                        <div class="info">
                            <h6 class="text-dark">
                                {{co_ordinator.contact_no}}
                            </h6>
                        </div>
                        <div class="social-icons">
                        <small>
                                <a href="{{co_ordinator.facebook_url}}"><i class="fa-brands fa-2x fa-facebook me-2 fb"></i></a>  
                                <a href="mailto: {{co_ordinator.email_ieee}}"><i class="fa-solid fa-2x fa-envelope me-2 mail p-2"></i></a>
                                <a href="{{co_ordinator.linkedin_url}}"><i class="fa-brands fa-2x fa-linkedin me-2 linkedin p-2"></i></a>
                            </small> 
                        </div>
                    </div>
                </div>
                >
            {% endfor %}
            
        </div> -->
    <!-- section for incharges.. -->
    <!--
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 p-0">
            <br>
            <h4 class="text-white text-center">Meet Our Incharges</h4>
        </div>
        
        {% for incharge in incharges %}
                <div class="col-lg-2 col-md-2 col-sm-2 m-2 sizeof">
                    <div class="rounded d-flex justify-content-center align-items-center p-3 bg-w rounded-lg flex-column card_area card_hov">
                        <div class="person-img">
                            <img src="{{media_url}}{{incharge.user_profile_picture}}" class="img-size rounded" alt="">
                        </div>
                        <div class="person-name my-2">
                            <h3 class="text-dark">{{incharge.name}}</h3>
                        </div>
                        <div class="info">
                            <h6 class="text-dark">
                                {{incharge.contact_no}}
                            </h6>
                        </div>
                        <div class="social-icons">
                        <small>
                                <a href="{{incharge.facebook_url}}"><i class="fa-brands fa-2x fa-facebook me-2 fb"></i></a>  
                                <a href="mailto: {{incharge.email_ieee}}"><i class="fa-solid fa-2x fa-envelope me-2 mail p-2"></i></a>
                                <a href="{{incharge.linkedin_url}}"><i class="fa-brands fa-2x fa-linkedin me-2 linkedin p-2"></i></a>
                            </small> 
                        </div>
                    </div>
                </div>
                >
            {% endfor %}
    </div>-->
    <!-- section for core volunteers.. -->
    <!--
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 p-0">
            <br>
            <h4 class="text-white text-center">Meet Our Core-Volunteers</h4>
        </div>
        {% for core_volunteer in core_volunteers %}
                <div class="col-lg-2 col-md-2 col-sm-2 m-2 sizeof">
                    <div class="rounded d-flex justify-content-center align-items-center p-3 bg-w rounded-lg flex-column card_area card_hov">
                        <div class="person-img">
                            <img src="{{media_url}}{{core_volunteer.user_profile_picture}}" class="img-size rounded" alt="">
                        </div>
                        <div class="person-name my-2">
                            <h3 class="text-dark">{{core_volunteer.name}}</h3>
                        </div>
                        <div class="info">
                            <h6 class="text-dark">
                                {{core_volunteer.contact_no}}
                            </h6>
                        </div>
                        <div class="social-icons">
                        <small>
                                <a href="{{core_volunteer.facebook_url}}"><i class="fa-brands fa-2x fa-facebook me-2 fb"></i></a>  
                                <a href="mailto: {{core_volunteer.email_ieee}}"><i class="fa-solid fa-2x fa-envelope me-2 mail p-2"></i></a>
                                <a href="{{core_volunteer.linkedin_url}}"><i class="fa-brands fa-2x fa-linkedin me-2 linkedin p-2"></i></a>
                            </small> 
                        </div>
                    </div>
                </div>
                >
            {% endfor %}
    </div>-->
    <!-- section for core-volenteers.. -->
    <!--
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 p-0">
            <br>
            <h4 class="text-white text-center">Meet Our Volunteers</h4>
        </div>
        {% for volunteer in volunteers %}
                <div class="col-lg-2 col-md-2 col-sm-2 m-2 sizeof">
                    <div class="rounded d-flex justify-content-center align-items-center p-3 bg-w rounded-lg flex-column card_area card_hov">
                        <div class="person-img">
                            <img src="{{media_url}}{{volunteer.user_profile_picture}}" class="img-size rounded" alt="">
                        </div>
                        <div class="person-name my-2">
                            <h3 class="text-dark">{{volunteer.name}}</h3>
                        </div>
                        <div class="info">
                            <h6 class="text-dark">
                                {{volunteer.contact_no}}
                            </h6>
                        </div>
                        <div class="social-icons">
                        <small>
                                <a href="{{volenteer.facebook_url}}"><i class="fa-brands fa-2x fa-facebook me-2 fb"></i></a>  
                                <a href="mailto: {{volunteer.email_ieee}}"><i class="fa-solid fa-2x fa-envelope me-2 mail p-2"></i></a>
                                <a href="{{volunteer.linkedin_url}}"><i class="fa-brands fa-2x fa-linkedin me-2 linkedin p-2"></i></a>
                            </small> 
                        </div>
                    </div>
                </div>
                >
            {% endfor %}

    </div>
</section> -->

        <button>Email to Recruited Members</button>
      <!-- footer start -->
    <footer class="py-3 text-white text-center">
        <small>&copy; All Rights Reserved by IEEE NSU STUDENT BRANCH.</small>
    </footer>
    <!-- footer end -->

       

   









    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

</body>
</html>