
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(90deg, #2280b3, #0b1261);
}

a.nav-link.navLi {
    color: whitesmoke;
}
a.nav-link.navLi:hover{
    color: #FFC107;
    transition: .2s;
}

.fb, .twitter, .yt, .insta, .linkedin, .footer_mail, .mail{
    color: whitesmoke;
}
.fb:hover{
    color: #1977F3;
    transition: .2s;
}
.insta:hover{
    color: #F60C52;
    transition: .2s;
}
.mail:hover{
    color: red;
}
.linkedin:hover{
    color: #0077B5;
    transition: .2s;
}
.yt:hover{
    color: #FE0202;
    transition: .2s;
}
.twitter:hover{
    color: #1DA1F2;
    transition: .2s;
}
.footer_mail:hover{
    color: #FFC936;
    transition: .2s;
}
.event{
    scale: 1;
   
}
.event:hover{
    scale: 1.01;
    background-color:  rgba(44, 167, 216, .1);
    transition: .2s;
}
.card_area{
    background: rgb(127,205,230);
    background: linear-gradient(0deg, rgba(127,205,230,1) 0%, rgba(7,33,101,1) 80%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.img-size{
    width: 100%;
    height: 18vw;
    object-fit: cover;
    
}
.card_hov:hover{
    
    border-radius: 5px;
    transform: scale(1.05);
    transition: all 1s;
}
