<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Manage Team | Website Development Team</title>
    <link rel="icon" href="{% static 'logos/logo.gif' %}"/>

    {% block common_css %}
        {% include "common_css.html" %}
    {% endblock common_css %}

    <style>
        body, html {
        
        margin: 0;
        
        align-items: center;
        justify-content: center;
        }

        .row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        }
        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
          }
          .btn-container {
            text-align: center;
          }
          
          .btn {
            max-width: 100%;
            width: auto;
            display: inline-block;
            white-space: normal; /* Allow text to wrap within the button */
            word-wrap: break-word; /* Break long words if necessary */
            font-size: 16px; /* Adjust the font size as needed */
          }
          
          /* Media query for smaller screens (adjust the breakpoint as needed) */
          @media (max-width: 768px) {
            .btn {
              width: 100%; /* Make the button full width on smaller screens */
            }
          }
          table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        input[type="text"] {
            width: 100%;
            padding: 8px;
        }

        .table-container {
            max-height: 300px;
            overflow: auto;
        }
        
    </style>
</head>
{% block preloader %}
{% include 'preloader.html' %}
{% endblock preloader %}
<body>
    <!-- ############ LAYOUT START-->
    <div class="app" id="app">

        <!-- aside -->
        <div id="aside" class="app-aside modal nav-dropdown">
  
  	        {% block sidebar %}
	            {% include 'users/sidebar.html' %}
  	        {% endblock %}
  
        </div>
        <!-- aside end -->
  
        <!-- navbar content -->
        <div id="content" class="app-content box-shadow-z0" role="main">
          {% block navbar %}
                {% include 'website_development_team/web_navbar.html' %}
            {% endblock navbar %}

        </div>
        <!--navbar content-->
        
        <!-- ############ PAGE START-->
        <div ui-view class="app-body" style="justify-content:center; margin-left:15%; margin-right:15%;" id="view">

            <!--Start from here-->

            <br>
            <h2 style="justify-content:center;text-align:center;margin-bottom:15px;">Website Development - <span style="color:#00629B;"><b>Manage Team</b></span></h2>
            <br>
            <!--Messages-->
            <div style="justify-content:center; text-align:center;">
                {% if messages %}
                    {% for message in messages %}
                        <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
                    {% endfor %}
                <br>
                {% endif %}
            </div>
            <!--Messages-->
            
            <!--Add member to team-->
            <h4 style="justify-content:center;text-align:center;margin-bottom:30px;"> Current <span style="color:#00629B;"><b> Team Members </b></span> </h4>
        
            <!--Current Team Members Table-->
            <div class="box">
                <div class="box-header">
                    
                    <div style="text-align:right;">
                    <button type="submit" class="btn btn-outline b-primary text-primary" data-toggle="modal" data-target="#m-s-a" ui-toggle-class="bounce" ui-target="#animate">Add a new Member To Team</button>
                    </div>
                <small>This table holds the data of Co-Ordinators, Incharges, Cores, & Volunteers</small>
                </div>
                <div class="table-responsive" style="max-height:300px; overflow-y:auto;">
                  <table class="table table-bordered m-0" style="text-align:center;">
                    <thead>
                      <tr>
                        <th style="text-align:center;">IEEE ID</th>
                        <th style="text-align:center;">Name</th>
                        <th style="text-align:center;">NSU ID</th>
                        <th style="text-align:center;">Current Position</th>
                        <th style="text-align:center;">Email</th>
                        <th style="text-align:center;">Contact No</th>
                        <th style="text-align:center;">Remove Member?</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                        {% for member in members %}
                        <tr>
                            <td><a style="text-decoration:none;color:#00629B;" href="{% url 'membership_development_team:member_details' member.ieee_id %}">{{member.ieee_id}}</a></td>
                            <td>{{ member.name  }}</td>
                            <td>{{member.nsu_id}}</td>
                            <td>{{member.position}}</td>
                            <td>{{member.email_ieee}}</td>
                            <td>{{member.contact_no}}</td>
                            <td>
                                <p>
                                <button class="btn btn-outline-danger remove-member" data-toggle="modal" onclick="openModal('{{member.ieee_id}}')" data-target="#modal" ui-target="#animate">Remove</button>
                                <input type="hidden" name="remove_ieee_id" value={{member.ieee_id}}>
                                </p>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                  </table>
                </div>
            </div>
            <!--Current Team Members Table End-->

            <br>

            <!--Modal for adding member to team-->
            <div id="m-s-a" class="modal" data-backdrop="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add member to Team!</h5>
                    </div>
                    <div class="modal-body p-lg">
                      <p>Do select the Position of the Member Carefully!</p>
                      <p>Team Members will be added in the View Permission Table also. However, they will not have any access.</p>
                      <br>
                    </div>
                    <!--Position Input-->

                    <!--Position Input Ends-->

                    <!--Search table-->
                    <form method="POST">
                        {% csrf_token %}
                        <label style="margin-left:5px;">Select Position</label>
                        <select id="position" name="position">
                            {% for position in positions %}
                                <option value={{position.id}}>{{ position.role }}</option>
                            {% endfor %} 
                        </select>
                        <div class="table-container">
                            <label style="margin-left:5px;">Search</label>
                            <input class="w-75" type="text"  id="searchInput" placeholder="Search Member">
                            <table id="data">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>IEEE ID</th>
                                        <th>Current Position</th>
                                        <th>Email</th>
                                        <th>Select</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in insb_members %}
                                        <tr>
                                            <td>{{ i.name }}</td>
                                            <td><a href="{% url 'membership_development_team:member_details' i.ieee_id %}">{{ i.ieee_id }}</a></td>
                                            <td>{{ i.position }}</td>
                                            <td>{{ i.email_ieee }}</td>
                                            <td>
                                                <input type="checkbox" id="select" name="member_select1" value={{i.ieee_id}}>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                        <!--Search Table Ends-->
                    
                        <div class="modal-footer">
                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
                    
                            <input type="submit" class="btn primary p-x-md" name="add_member_to_team" value="Add Member"></input>  
                        </div>
                    </form>

                  </div><!-- /.modal-content -->
                </div>
            </div>
            <!--End of Modal-->


            <!--View Access-->
            <h4 style="justify-content:center;text-align:center;margin-bottom:30px;"><span style="color:#00629B;"><b> View Permission</b> </span>Controls for <span style="color:#00629B;"><b>Website Development Team</b></span></h4>

            <!--View Permission Table-->
            <div class="box">
                <div class="box-header">
                    
                    <div style="text-align:right;">
                        <button type="submit" class="btn btn-outline b-primary text-primary" data-toggle="modal" data-target="#m-s-b" ui-toggle-class="bounce" ui-target="#animate">Add a new Member To View Permission Controls</button>
                    </div>
                <small>This table holds the data of View Permission assigned to different members. You can add any IEEE members here.<br>Update one row at a time.</small>
                </div>
                <div class="table-responsive" style="max-height:300px; overflow-y:auto;">
                  <table class="table table-bordered m-0">
                    <thead>
                      <tr>
                        <th style="text-align:center;">IEEE ID</th>
                        <th style="text-align:center;">Name</th>
                        <th style="text-align:center;">Team</th>
                        <th style="text-align:center;">Current Position</th>
                        <th style="text-align:center;">Permission Criteria</th>
                        <th style="text-align:center;">Action?</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                        {% for data_access in data_access %}
                            <tr>
                                <td><a href="{% url 'membership_development_team:member_details' data_access.ieee_id %}">{{data_access.ieee_id}}</a></td>
                                <td>{{data_access.ieee_id.name}}</td>
                                <td>{{data_access.ieee_id.team}}</td>
                                <td>{{data_access.ieee_id.position}}</td>
                                <form method="POST">
                                    {% csrf_token %}
                                    <td>
                                        
                                        {% if data_access.manage_team_access %}
                                        <input type="checkbox" checked="True" class="checkbox" value="manage_team_access" name="manage_team_access">
                                        <label for="manage_team_access">Manage Team Access
                                        </label><br>
                                        {% else %}
                                        <input type="checkbox" class="checkbox" value="manage_team_access" name="manage_team_access">
                                        <label for="manage_team_access">Manage Team Access</label><br>
                                        {% endif %}

                                            
                                    </td>
                                
                                    <td>
                                        <input class="btn btn-outline b-success text-success" name="access_update" type="submit" value="Update">
                                        <input type="hidden" name="access_ieee_id" value={{data_access.ieee_id}}>
                                    </td>
                                    </form>
                                    <td>
                                        <p>
                                            <button class="btn btn-outline-danger remove-member" data-toggle="modal" onclick="openModal2('{{data_access.ieee_id}}')" data-target="#modal2" ui-target="#animate">Remove</button>
                                            <input type="hidden" name="remove_access" value={{data_access.ieee_id}}>
                                        </p>
                                    </td>
                               
                            </tr>
                        {% endfor %}

                    </tbody>
                  </table>
                </div>
            </div>
            <!--View Permission Table End-->
            <br>
            <br>

            <!--Modal for adding member to View Permission-->
            <div id="m-s-b" class="modal" data-backdrop="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add member to View Permission Controls!</h5>
                    </div>
                    <div class="modal-body p-lg">
                      <p>Do select the Member Carefully!</p>
                      <p>Members will be added in the View Permission Table. However, they will not have any access at first.</p>
                      <br>
                    </div>
                    <!--Position Input-->

                    <!--Position Input Ends-->

                    <!--Search table-->
                    <form method="POST">
                        {% csrf_token %}
                        
                        <div class="table-container">
                            <label style="margin-left:5px;">Search</label>
                            <input class="w-75" type="text" id="searchInput2" placeholder="Search Member">
                            <table id="data2">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>IEEE ID</th>
                                        <th>Current Team</th>
                                        <th>Current Position</th>
                                        <th>Email</th>
                                        <th>Select</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for member in insb_members %}
                                        <tr>
                                            <td>{{ member.name }}</td>
                                            <td><a href="{% url 'membership_development_team:member_details' member.ieee_id %}">{{ member.ieee_id }}</a></td>
                                            <td>{{ member.team }}</td>
                                            <td>{{ member.position }}</td>
                                            <td>{{ member.email_ieee }}</td>
                                            <td>
                                                <input type="checkbox" id="select" name="member_select" value={{member.ieee_id}}>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                        <!--Search Table Ends-->
                    
                        <div class="modal-footer">
                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
                    
                            <input type="submit" class="btn primary p-x-md" name="update_data_access_member" value="Add Member to View Permission"></input>  
                        </div>
                    </form>

                  </div><!-- /.modal-content -->
                </div>
            </div>
            <!--End of Modal-->

        </div>
        <!--PAGE END-->

        <!--Theme Switcher-->

        {% block theme_switcher %}
            {% include "theme_switcher.html" %}
        {% endblock theme_switcher %}
    
    </div>
    <!-- app end-->
    <div id="modal" class="modal fade animate" data-backdrop="true">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-dialog modal-lg" id="animate">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Warning!</h5>
                    </div>

                    <div class="modal-body text-left p-lg">
                      
                      <p><input id="ieeeID" name= "remove_ieee_id" type="hidden"></p>
                      <p>Are you sure you want to delete this member?</p>
                        
                          
                  </div>
                  <div class="modal-footer">
                    
                    <input type="submit" name="remove_member" class="btn btn-danger p-x-md" value="Delete"></input> 
                    <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>              
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div id="modal2" class="modal fade animate" data-backdrop="true">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-dialog modal-lg" id="animate">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Warning!</h5>
                    </div>

                    <div class="modal-body text-left p-lg">
                      
                      <p><input id="remove_access_ieee_ID" name= "access_ieee_id" type="hidden"></p>
                      <p>Are you sure you want to remove this member?</p>
                        
                          
                  </div>
                  <div class="modal-footer">
                    
                    <input type="submit" name="access_remove" class="btn btn-danger p-x-md" value="Delete"></input> 
                    <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>              
                    </div>
                </div>
            </div>
        </form>

    </div>

    {% block common_js %}
        {% include "common_js.html" %}
    {% endblock common_js %}

    <!--Script for table search-->
    <script>
      $(document).ready(function() {
          $("#searchInput").on("keyup", function() {
              var value = $(this).val().toLowerCase();
              $("#data tbody tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              });
          });
      });
    </script> 

    <!--Script for table search 2-->
    <script>
        // Get the input element and table
        var input = document.getElementById("searchInput2");
        var table = document.getElementById("data2");

        input.addEventListener("keyup", function () {
            var filter, row, cell, i, j;
            filter = input.value.toUpperCase();

            // Loop through all table rows and hide those that don't match the search query
            for (i = 0; i < table.rows.length; i++) {
                row = table.rows[i];
                for (j = 0; j < row.cells.length; j++) {
                    cell = row.cells[j];
                    if (cell) {
                        if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            row.style.display = "";
                            break;
                        } else {
                            row.style.display = "none";
                        }
                    }
                }
            }
        });
        function openModal(ieeeID) {
            // Set data in the modal
            var inputElement = document.getElementById('ieeeID');
            inputElement.value=ieeeID;
        
          }
        function openModal2(ieeeID) {
            // Set data in the modal
            var inputElement = document.getElementById('remove_access_ieee_ID');
            inputElement.value=ieeeID;
        
          }
    </script>
</body>
</html>
