body{
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
    box-sizing: border-box;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}



.container{
    margin: 60px 0px;
    padding: 20px; 
    border-radius: 10px;
    width: 100%; 
    height: auto; 
}

div img{
    max-width: 100%;
    height: auto;
}

.log-btn{
    border: none;
    outline: none;
    height: 43px;
    width: 100%;
    border-radius: 5px;
    background:#2980b9;
    border: 1px solid;
    color: white;
}
.Form-cont{
    border: none;
    outline: none;
    height: 43px;
    width: 100%;
}
.log-btn:hover{
    background: linear-gradient(rgb(73, 123, 180),rgb(31, 97, 184));
}

.usernameInp:focus, .passwordInp:focus{

   /* background-color: #EEE; */

}

.usernameInp, .passwordInp{
    
    
}