
{% load static %}
{% block co_ordinators_and_incharges %}

<style>
    h3{
        justify-content:center;
        text-align:center;
        margin-bottom:15px;
        margin-top: 30px;
    }

    .row{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .individual_box{
        background-color: white;
        margin:0px 20px 20px 20px;
        padding: 20px;
        border-radius: 15px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        height: 90%;
        width: 90%;
        
    }

    .avatar_box{
        height: 200px;
        width:200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid #00629B;
        border-radius: 50%;
        margin-bottom: 15px;
    }

    .font-weight-bold{
        font-size: 20px;
    }

    .name_box{
        height: 50px;

    }

    .text-muted{
        font-size: 17px;
    }

    #scrollToBottomBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00629B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

#scrollToBottomBtn:hover {
    background-color: white;
    color: #00629B;
}


    @media(max-width:600px){
        .avatar_box{
            height: 100px;
            width: 100px;
        }

        .individual_box{
            padding: 10px;
        }

    }

    @media(max-width:768px){
        .avatar_box{
            height: 150px;
            width: 150px;
        }
    }

    @media(max-width:1024px){
        .avatar_box{
            height: 150px;
            width: 150px;
        }
    }

</style>


    <script>function scrollToBottom() {
        window.scrollTo({
            top: document.body.scrollHeight,
            behavior: "smooth"
        });
    }</script>


<br>
<!--CO ORDINATORS-->
<h3> Meet our <span><b>Co-Ordinators</b></span> </h3>

<!-- Grid row -->
<div class="row">
                            
  <!-- Grid column -->
  {% for i in co_ordinators %}
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10"  style="margin: 0; padding: 0; text-align: center;">
       
            <div class="individual_box">
            <div style="display: flex;justify-content: center;">
            <div class="avatar_box">
                <img src="/media_files/{{i.user_profile_picture}}" class="rounded shadow" style="object-fit: cover; width: 100%; height: 100%;"onerror="this.onerror=null;this.src='{% static '/images/default_profile_picture.png'%}';">
            </div>
            </div>
  
          <!--<div class="avatar mx-auto white" style="height: 200px; width:200px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
              <img src="/media_files/{{i.user_profile_picture}}" class="rounded shadow" style="object-fit: fill; width: 100%; height: 100%;"onerror="this.onerror=null;this.src='{% static '/images/default_profile_picture.png'%}';">
          </div>-->

          <div class="name_box"><h6 class="font-weight-bold">{{i.name}}</h6></div>
          <small class="text-muted">{{i.team}} Team<br></small>
          <small class="text-muted">{{i.contact_no}}</small>

          <ul class="list-unstyled d-flex justify-content-center m-2">
              <li><a href="{{i.linkedin_url}}" target="_blank"><i class="fa fa-linkedin mx-2"></i></a></li>
              <li style="border-right: 2px solid #ddd; border-left: 2px solid #ddd;"><a href="{{i.facebook_url}}" target="_blank"><i class="fa fa-facebook mx-2 icon-gray"></i></a></li>
              <li><a href="mailto:{{i.email_ieee}}" target="_blank"><i class="fa fa-envelope mx-2"></i></a></li>
          </ul>
          </div>
        
  
  </div>
  {% endfor %}
  <!-- Grid column -->

</div>
<!-- Grid row -->

<!--INCHARGES-->
<h3> Meet our <span><b>Incharges</b></span> </h3>

<!-- Grid row -->
<div class="row">
                            
  <!-- Grid column -->
  {% for i in incharges %}
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10" style="margin: 0; padding: 0; text-align: center;">
       
    <div class="individual_box">
    <div style="display: flex;justify-content: center;">
    <div class="avatar_box">
        <img src="/media_files/{{i.user_profile_picture}}" class="rounded shadow" style="object-fit: cover; width: 100%; height: 100%;"onerror="this.onerror=null;this.src='{% static '/images/default_profile_picture.png'%}';">
    </div>
    </div>

  <!--<div class="avatar mx-auto white" style="height: 200px; width:200px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
      <img src="/media_files/{{i.user_profile_picture}}" class="rounded shadow" style="object-fit: fill; width: 100%; height: 100%;"onerror="this.onerror=null;this.src='{% static '/images/default_profile_picture.png'%}';">
  </div>-->

  <div class="name_box"><h6 class="font-weight-bold">{{i.name}}</h6></div>
  <small class="text-muted">{{i.team}} Team<br></small>
  <small class="text-muted">{{i.contact_no}}</small>

  <ul class="list-unstyled d-flex justify-content-center m-2">
      <li><a href="{{i.linkedin_url}}" target="_blank"><i class="fa fa-linkedin mx-2"></i></a></li>
      <li style="border-right: 2px solid #ddd; border-left: 2px solid #ddd;"><a href="{{i.facebook_url}}" target="_blank"><i class="fa fa-facebook mx-2 icon-gray"></i></a></li>
      <li><a href="mailto:{{i.email_ieee}}" target="_blank"><i class="fa fa-envelope mx-2"></i></a></li>
  </ul>
  </div>


</div>
  {% endfor %}
  <!-- Grid column -->

</div>
<!-- Grid row -->

<!--Core Volunteers-->
<h3> Meet our <span><b>Core-Volunteers</b></span> </h3>
<!-- Grid row -->
<div class="row">
                            
  <!-- Grid column -->
  {% for i in core_volunteers %}
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10"  style="margin: 0; padding: 0; text-align: center;">
       
    <div class="individual_box">
    <div style="display: flex;justify-content: center;">
    <div class="avatar_box">
        <img src="/media_files/{{i.user_profile_picture}}" class="rounded shadow" style="object-fit: cover; width: 100%; height: 100%;"onerror="this.onerror=null;this.src='{% static '/images/default_profile_picture.png'%}';">
    </div>
    </div>

  <!--<div class="avatar mx-auto white" style="height: 200px; width:200px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
      <img src="/media_files/{{i.user_profile_picture}}" class="rounded shadow" style="object-fit: fill; width: 100%; height: 100%;"onerror="this.onerror=null;this.src='{% static '/images/default_profile_picture.png'%}';">
  </div>-->

  <div class="name_box"><h6 class="font-weight-bold">{{i.name}}</h6></div>
  <small class="text-muted">{{i.team}} Team<br></small>
  <small class="text-muted">{{i.contact_no}}</small>

  <ul class="list-unstyled d-flex justify-content-center m-2">
      <li><a href="{{i.linkedin_url}}" target="_blank"><i class="fa fa-linkedin mx-2"></i></a></li>
      <li style="border-right: 2px solid #ddd; border-left: 2px solid #ddd;"><a href="{{i.facebook_url}}" target="_blank"><i class="fa fa-facebook mx-2 icon-gray"></i></a></li>
      <li><a href="mailto:{{i.email_ieee}}" target="_blank"><i class="fa fa-envelope mx-2"></i></a></li>
  </ul>
  </div>


</div>
  {% endfor %}
  <!-- Grid column -->

</div>
<!-- Grid row -->

<!--Team Volunteers-->
<h3> Meet our <span><b>Team Volunteers</b></span> </h3>
<!-- Grid row -->
<div class="row">
                            
  <!-- Grid column -->
  {% for i in team_volunteers %}
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10 d-flex"  style="margin: 0; padding: 0; text-align: center;">
       
    <div class="individual_box">
    <div class="content" style="display: flex;justify-content: center;">
    <div class="avatar_box">
        <img src="/media_files/{{i.user_profile_picture}}"  class="rounded shadow" style="object-fit: cover; width: 100%; height: 100%;"onerror="this.onerror=null;this.src='{% static '/images/default_profile_picture.png'%}';">
    </div>
    </div>

  <!--<div class="avatar mx-auto white" style="height: 200px; width:200px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
      <img src="/media_files/{{i.user_profile_picture}}" class="rounded shadow" style="object-fit: fill; width: 100%; height: 100%;"onerror="this.onerror=null;this.src='{% static '/images/default_profile_picture.png'%}';">
  </div>-->

  <div class="name_box"><h6 class="font-weight-bold">{{i.name}}</h6></div>
  <small class="text-muted">{{i.team}} Team<br></small>
  <small class="text-muted">{{i.contact_no}}</small>

  <ul class="list-unstyled d-flex justify-content-center m-2">
      <li><a href="{{i.linkedin_url}}" target="_blank"><i class="fa fa-linkedin mx-2"></i></a></li>
      <li style="border-right: 2px solid #ddd; border-left: 2px solid #ddd;"><a href="{{i.facebook_url}}" target="_blank"><i class="fa fa-facebook mx-2 icon-gray"></i></a></li>
      <li><a href="mailto:{{i.email_ieee}}" target="_blank"><i class="fa fa-envelope mx-2"></i></a></li>
  </ul>
  </div>


</div>
  {% endfor %}
  <!-- Grid column -->

</div>
<!-- Grid row -->
{% endblock co_ordinators_and_incharges %}


<!-- scroll button -->
<button id="scrollToBottomBtn" onclick="scrollToBottom()">Scroll to Bottom</button>