

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.bk-gra{
    background-image: linear-gradient(90deg, #2daadb, #050d3a);
}
.txt-hd{
    color: #050d3a;
}

.navbar{
    background-color: #050d3a;
}
.nav-link{
color: #ffffff;
}
.nav-link:hover{
    color: #FFC936;
}
.navL{
    color: #FFC107;
}
.navL:hover{
    color: #FFC107;
    transition: .2s;
  }
.navigation{
    height: 100px;
}
.banner{
  min-height: 100vh;
  background-image: linear-gradient(90deg, #2daadb, #0b1261);
}
  
.btn-primary:hover{
    background-color: #050d3a;
    color: #fff;
}
.design{
    min-height: 100vh;
}
.stop{
    background-image: url(../img/banner.png);
    background-color: rgba(0, 0, 0, 0.534);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
.right-bg{
    background-color: #050d3a;

}
div.scroll{
    display: block;
    border: 0px solid black;
    padding: 5px;
    margin-top: 5px;
    width: 650px;
    height: 200px;
    overflow-y: scroll;
}